<div class="hero-solo-pane">
  <div class="row no-gutters">
    <div class="col-lg-6 half-left" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');">
      <img src="/img/photos/pexels-photo-275030.jpeg" alt="Photo a building shaped like a person." class="img-fluid">
    </div>
    <div class="col-lg-6 half-right">
      <div class="container-fluid">
        <div class="row">
          <div class="col-10 col-lg-8">
            <h2 class="hero-big-text">Big text.</h2>
            <p class="hero-small-text">This is smaller text which explains this block. This is smaller text which explains this block.</p>
            <a href="/introduction" class="btn btn-white btn-lg">Button Text</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
