<div class="hero-textbox-over-photo" 
  style="background-image:url('/img/photos/pexels-photo-275030.jpeg');">
  <div class="overlay"></div>
  <div class="hero-textbox">
    <h2 class="hero-big-text">Big text.</h2>
    <p class="hero-small-text">This is smaller text which explains this block. This is smaller text which explains this block.</p>
    <a href="#" class="btn btn-white">ButtonText</a>
  </div>
</div>
