.alert {
  padding-right : 46px;
  padding-left  : 42px;
  .alert-icon {
    position: absolute;
    top: 19px; left:16px;
    width: 18px; height: 18px;
  }
  .close, .btn-close {
    position: absolute;
    top: -.125rem; right: 0;
    width: 21px; height: 21px;
  }
}
.alert-warning, .alert-danger, .alert-success, .alert-info {
  .close {
    opacity: 1;
  }
}
.alert-warning {
  color:            var(--pds-warning-900);
  background-color: var(--pds-warning-100);
  border:           var(--pds-warning-900) var(--pds-border-style) var(--pds-border-width);
  .alert-link {
    color:          var(--pds-warning-900);
  }
}
.alert-danger {
  color:            var(--pds-danger-900);
  background-color: var(--pds-danger-100);
  border:           var(--pds-danger-900) var(--pds-border-style) var(--pds-border-width);
  .alert-link {
    color:          var(--pds-danger-900);
  }
}
.alert-success {
  color:            var(--pds-success-900);
  background-color: var(--pds-success-100);
  border:           var(--pds-success-900) var(--pds-border-style) var(--pds-border-width);
  .alert-link {
    color:          var(--pds-success-900);
  }
}
.alert-info {
  color:            var(--pds-info-900);
  background-color: var(--pds-info-100);
  border:           var(--pds-info-900) var(--pds-border-style) var(--pds-border-width);
  .alert-link {
    color:          var(--pds-info-900);
  }
}
