.alert {
  padding-right : 46px;
  padding-left  : 42px;
  .alert-icon {
    @extend .position-absolute;
    top: 19px; left:16px;
    width: 18px; height: 18px;
  }
  .close, .btn-close {
    @extend .position-absolute;
    top: -.125rem; right: 0;
    width: 21px; height: 21px;
  }
}
.alert-warning {
  color: $warning-900;
  background-color: $warning-100;
  border: $warning-900 $border-style $border-width;
  .alert-link {
    color: $warning-900;
  }
  .close {
    color: $warning-900;
    opacity: 1;
  }
}
.alert-danger {
  color: $danger-900;
  background-color: $danger-100;
  border: $danger-900 $border-style $border-width;
  .alert-link {
    color: $danger-900;
  }
  .close {
    color: $danger-900;
    opacity: 1;
  }
}
.alert-success {
  color: $success-900;
  background-color: $success-100;
  border: $success-900 $border-style $border-width;
  .alert-link {
    color: $success-900;
  }
  .close {
    color: $success-900;
    opacity: 1;
  }
}
.alert-info {
  color: $info-900;
  background-color: $info-100;
  border: $info-900 $border-style $border-width;
  .alert-link {
    color: $info-900;
  }
  .close {
    color: $info-900;
    opacity: 1;
  }
}
