$topbar-height  : 48px;
$app-frame-sizer: 300px;
.muted-top-border {
	border-top: $border-width $border-style fade-out($black,.5);
}
.app-sidebar-nav-link-dark-bg {
	background-color: fade-out($black, .65);
}
.app-topbar {
	position:fixed;
	top:0; right:0; height: $topbar-height; width: 100%;
	@extend .bg-black;
	z-index: $app-topbar-z-index;
	@extend .d-flex;
	@extend .align-items-center;
	.logo {
		@extend .ps-2;
		width: 300px;
		img {
			height: 40px;
		}
	}
	.screen-title {
		@extend .mb-0;
		@extend .fw-bold;
		@extend .text-white;
		@extend .d-none;
		@extend .d-lg-block;
	}
	.btn {
		margin-left: auto;
		@extend .shadow-none;
		@media screen and (min-width: 992px){
			margin-left: unset;
		}
	}
}
.app-wrapper {
	position: relative;
	overflow-x: hidden;
	z-index: $app-wrapper-z-index;
}
.app-sidebar, .app-content {
	transition: all 150ms ease-in-out;
}
.app-sidebar {
	@extend .position-fixed;
	@extend .d-flex;
	@extend .flex-column;
	top: $topbar-height; bottom: 0; left: -$app-frame-sizer; 
	width: $app-frame-sizer; height: calc(100vh - $topbar-height);
	z-index: $app-sidebar-z-index;
	background-color: $primary;
	@media screen and (min-width: 992px){
		left: 0px;
	}
}
.app-sidebar-header {
	@extend .p-2;
	.btn {
		@extend .shadow-none;
	}
	&:not(:first-of-type){
		@extend .muted-top-border;
	}
}
.app-sidebar-footer {
	@extend .d-flex;
	@extend .justify-content-around;
	@extend .align-items-center;
	@extend .mt-auto;
	@extend .p-2;
	@extend .muted-top-border;
	@extend .text-primary-10;
	.btn {
		color: inherit
	}
}
.app-sidebar-nav-list {
	@extend .list-unstyled;
	@extend .mb-0;
	@extend .muted-top-border;
}
.app-sidebar-subhead {
	@extend .p-2;
	@extend .pb-0;
	@extend .small;
	@extend .fw-bold;
	@extend .text-primary-10;
	letter-spacing: .5px;
	@extend .opacity-75;
}
.app-sidebar-nav-item {
	@extend .d-flex;
	@extend .align-items-center;
	@extend .flex-wrap;
}
.app-sidebar-nav-link {
	@extend .flex-grow-1;
	@extend .p-2;
	@extend .text-decoration-none;
	@extend .text-primary-10;
	border-left: $border-width*2 $border-style transparent;
	transition: $transition-base;
	&:hover {
		@extend .bg-white;
		@extend .text-primary-90;
	}
	&.current {
		@extend .text-white;
		@extend .fw-bold;
		border-left-color: fade-out($white, .5);
		
	}
	&.show {
		@extend .app-sidebar-nav-link-dark-bg;
	}
}
.app-sidebar-subnav-revealer {
	@extend .ms-auto;
	@extend .btn;
	@extend .shadow-none;
	@extend .text-primary-10;
	@extend .rounded-0;
	transition: $transition-base;
	.fas {
		transition: $transition-base;
	}
	&[aria-expanded=true]{
		@extend .app-sidebar-nav-link-dark-bg;
		.fas{
			transform: rotate(180deg);
			@extend .text-white;
		}
	}
	&:hover {
		@extend .bg-white;
		@extend .text-primary-90;
	}
	.show.current ~ & {
		@extend .text-white;
	}
}
.app-sidebar-subnav {
	@extend .collapse;
	@extend .app-sidebar-nav-link-dark-bg;
	width: 100%;
	.app-sidebar-nav-list {
		border-top: none;
	}
	.app-sidebar-nav-item {
		
	}
	.app-sidebar-nav-link {
		.fas {
			display: inline-block;
			opacity: 0;
		}
		&.current {
			border-left-color: transparent;
			.fas {
				opacity: 1;
			}
		}
	}
}
.app-content {
	padding-top: $topbar-height;
	min-height: 100vh;
	@extend .d-flex;
	@extend .flex-column;
	@media screen and (min-width: 992px){
		padding-left: $app-frame-sizer;
	}
}
.app-toggled {
	&.app-sidebar {
		left: 0;
		@media screen and (min-width: 992px){
			left: -$app-frame-sizer;
		}
	}
	&.app-content {
		@media screen and (min-width: 992px){
			padding-left: 0;
		}
	}
}