.badge {
  @extend .rounded-pill;
  @extend .text-decoration-none;
}
.badge-primary {    
  background-color: $primary-800;
}
.badge-secondary {
  background-color: $secondary-700;
}
.badge-accent {
  background-color: $accent-500;
  color: $black;
}
.badge-info {
  background-color: $info-900;
}
.badge-success {
  background-color: $success-800;
}
.badge-danger {
  background-color: $danger-800;
}
.badge-warning {
  background-color: $warning-500;
  color: $black;
}
.badge-ui {
  background-color: $ui;
}
.badge-ui-light {
  background-color: $ui-light;
  color: $black;
}
.badge-ui-priority {
  background-color: $link-color;
}