.breadcrumb-wrapper {
  padding: .75rem 0;
  display: block;
  background-color: var(--theme-breadcrumb-bg-color);
  border-bottom: 1px solid var(--theme-breadcrumb-border-color);
}
.breadcrumb {
  margin-bottom: 0;
  @extend .rounded-0;
  @extend .border-0;
  background-color: var(--theme-breadcrumb-bg-color);
}
.breadcrumb-item {
  display: none;
  &:first-child {
    display: list-item;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: var(--bs-link-hover-color);
    }
  }
  &:nth-last-child(2) {
    display: list-item;
  }
  &:last-child {
    display: list-item;
  }
  &.active {
    color: var(--theme-breadcrumb-active-color);
    .fas {
      margin: 3px 0 0 4px;
    }
  }
  a {
    color: var(--theme-breadcrumb-link-color);
    text-decoration: none;
    &:hover, &:active {
      color: inherit;
      text-decoration: underline;
    }
  }
  @media screen and (min-width: 1024px){
    display: list-item;
  }
}
