.breadcrumb-wrapper {
  display: block;
  background-color: $white;
  border-bottom: 1px solid $primary-10;
}
.breadcrumb {
  margin-bottom: 0;
  @extend .rounded-0;
  @extend .border-0;
  background-color: $white;
}
.breadcrumb-item {
  display: none;
  &:first-child {
    display: list-item;
  }
  &:nth-last-child(2) {
    display: list-item;
  }
  &:last-child {
    display: list-item;
  }
  &.active {
    color: $body-color;
    .fas {
      margin: 3px 0 0 4px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  @media screen and (min-width: 1024px){
    display: list-item;
  }
}
