.breadcrumb {
  margin-bottom: 0;
}
.breadcrumb-item {
  display: none;
  &:first-child {
    display: list-item;
  }
  &:nth-last-child(2) {
    display: list-item;
  }
  &:last-child {
    display: list-item;
  }
  &.active {
    color: $body-color;
    .fas {
      margin: 3px 0 0 4px;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  
  @media screen and (min-width: 1024px){
    display: list-item;
  }
}
