.btn-primary,
.btn-secondary,
.btn-accent,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-ui {
  box-shadow: 0 2px 0 0 fade-out($ui, 0.38);

  &:hover,
  &:active {
    &:not(.disabled), 
    &:not([disabled]) {
      box-shadow: 0 4px 0 0 fade-out($ui, 0.62);
    }
  }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-accent,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger,
.btn-outline-ui,
.btn-outline-ui-priority {
  background-color: $white;
}
.btn-outline-ui, .btn-outline-ui-priority {
  @extend .shadow-none;
}
.btn-outline-ui {
  color: $text-color-dark;
}

.btn-link {
  @extend .shadow-none;
  @extend .border-0;
  @extend .text-decoration-none;
  background-color: transparent !important;
}

//this class has similar attributes to btn-link
.btn-prev-next-section {
  color: $ui-priority;
  background-color: transparent !important;
  @extend .border-0;
  @extend .shadow-none;
}

.btns-previous-next,
.btns-previous-forward {
  .container-fluid {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .btn {
    @extend .btn-lg;
  }
}

.btn-add-this, .btn-add-data {
  @extend .btn;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .shadow-none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  
  background-color: transparent;
  border: 2px dashed $gray-600;

  div {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: $border-radius;
  }

  &:hover,
  &:active {
    background-color: fade-out($ui, 0.75);
  }
}

a.btn {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: inherit;
  }
}

// putting focus appearances here because bootstrap defines elements' focus across scss
// partials, and for brevity, i am putting them here
// judge me later
button,
.btn,
.btn-link.border-0,
.form-control,
.custom-select,
.custom-control-switch,
a[role="button"],
a.nav-link,
.skip-to-main,
.page-link,
.breadcrumb-item a,
th a,
summary,
.brand-link,
p a {
  &:focus,
  &.focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0.25rem;
  }
}

.btn-scroll-top {
  @extend .position-fixed;
  right: 2rem;
  bottom: 5rem;
  z-index: $zindex-scroll-to-top;
  @include media-breakpoint-up(md) {
    bottom: 5rem;
  }
}

.sidebar-button {
  position: relative;
  margin-right: .25rem;
  @media screen and (min-width: 992px){
    order: 1;
  }
}

.btn-outline-ui, .btn-outline-ui-priority {
  @extend .shadow-none;
}

.btn-card-corner {
  @extend .position-absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.btn-card-edit {
  @extend .position-absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
