.card {
  margin-bottom: $spacer;
  box-shadow: $box-shadow-minor;
  .content-container & {
    background-color: $gray-100;
    box-shadow: none;
  }
}

.card-fieldset-entry,
.card-in-form {
  // this is a card with discrete data in a fieldset
  margin-bottom: 8px;
  background-color: $light;
  border: 1px solid $body-bg;
}
.card-warning {
  border-color: lighten($warning, 15%);
}
.card-authenticate {
  border-color: $light;
}
.card-error {
  border-color: $danger;
}
