.card {
  margin-bottom: 1rem;
  @extend .shadow-sm;
  .content-container & {
    @extend .shadow-none;
    background-color: $gray-100;
  }
}

.card-fieldset-entry,
.card-in-form {
  // this is a card with discrete data in a fieldset
  margin-bottom: 8px;
  background-color: $light;
  border: 1px solid $body-bg;
}
.card-warning {
  border-color: lighten($warning, 15%);
}
.card-authenticate {
  border-color: $light;
}
.card-error {
  border-color: $danger;
}
