// Animated icons on toggle
[data-toggle="collapse"][aria-expanded="false"] {
  .fas,
  .fab {
    transition: all 250ms ease-in-out;
    transform: rotate(0deg);
  }
}

[data-toggle="collapse"][aria-expanded="true"] {
  .fas,
  .fab {
    transform: rotate(180deg);
  }
}
