.collapse-unit {
  @extend .px-4;

  &:not(:last-of-type) {
    @extend .mb-6;
  }
}
.collapse-border {
  border: 1px $border-style $ui;
  border-radius: $border-radius;

  &:not(:last-of-type) {
    @extend .mb-2;
  }
}

.animate-this {
  transition: $transition-base;
}
.rotated-180 {
  transform: rotate(180deg);
}

// Animated icons on toggle
[data-toggle="collapse"][aria-expanded="false"] {
  .fas,
  .fab {
    transition: all 250ms ease-in-out;
    transform: rotate(0deg);
  }
}

[data-toggle="collapse"][aria-expanded="true"] {
  .fas,
  .fab {
    transform: rotate(180deg);
  }
}
