.content-container {
  background-color: var(--theme-content-container-bg-color);
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: $border-width $border-style var(--theme-page-title-border-color);
  @include media-breakpoint-up(lg) {
    padding: 4rem 0;
  }
}
