.cover-image-pull-quote {
  @extend .text-primary;
  @extend .lead;
}

.cover-image-credit {
  @extend .text-ui;
  @extend .small;
  @extend .mt-2;
  @extend .opacity-75;
  @extend .text-ui;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: $spacer;
    left: $spacer;
  }
}

.cover-toc {
  @extend .p-4;
  @extend .rounded;
}
