.cover-image-pull-quote {
  @extend .lead;
  color: $primary;
}

.cover-image-credit {
  @extend .small;
  @extend .opacity-75;
  color: $ui;
  margin-top: .5rem;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

.cover-toc {
  @extend .rounded;
  padding: 1rem;
}
