.toggle-token {
  // we are overriding Bootstrap by using nested rules.
  // if the default theme is removed, Bootstrap defaults take over.
  &.form-check {
    display: inline-block;
    padding: 0;
    margin: 0 .5rem 0 0 !important;

    .form-check-label {
      position: relative;
      padding: 4px 16px 4px 32px;
      background-color: $form-check-label-background-color;
      border: 2px solid $form-check-label-border-color;
      border-radius: 16px;

      .fas {
        position: absolute;
        top: 8px;
        left: 10px;
        color: $form-check-label-icon-color;
        &:first-of-type {
          opacity: 1;
        }
        &:last-of-type {
          opacity: 0;
        }
      }

      &:hover,
      &:active {
        cursor: pointer;
      }
    }

    .form-check-input {
      @extend .visually-hidden;

      &:checked {
        + .form-check-label {
          color: $toggle-token-form-check-input-checked-text-color;
          background-color: $toggle-token-form-check-input-checked-background-color;
          border-color: $toggle-token-form-check-input-checked-border-color;

          .fas {
            position: absolute;
            top: 8px;
            left: 10px;
            color: $toggle-token-form-check-input-checked-icon-color;

            &:first-of-type {
              opacity: 0;
            }

            &:last-of-type {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .form-check-input[disabled] ~ .form-check-label {
		border-color: fade-out($toggle-token-form-check-input-disabled-border-color, .5);
		color: $toggle-token-form-check-input-disabled-text-color;
		.fas {
			&:first-of-type {
				opacity: .5;
			}
		}
		&:hover, &:active {
			cursor: default;
		}
	}
	.form-check-input:checked[disabled] ~ .form-check-label {
		border-color: $toggle-token-form-check-input-checked-disabled-border-color!important;
		background-color: $toggle-token-form-check-input-checked-disabled-background-color!important;
	}
}
.was-validated .toggle-token .form-check-input:invalid ~ .form-check-label {
  border-color: $validated-no-border-color;
}
.was-validated .toggle-token .form-check-input:checked:valid ~ .form-check-label {
  color: $validated-yes-text-color;
  background-color: $validated-yes-background-color;
  border-color: $validated-yes-border-color;
}
// big switch
.custom-switch.custom-switch-large {
  width: 100%;
  height: 40px;
  min-height: unset;
  padding: 0;

  .custom-control-label {
    display: block;
    color: transparent;

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      border-width: 2px;
      border-radius: 20px;
    }

    &::after {
      top: 4px;
      left: 4px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      transition: left ease-in-out 250ms;
    }
  }

  .custom-switch-text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transition: color ease-out 150ms;
    transform: translateX(-50%) translateY(-50%);

    &.inactive {
      z-index: 10;
      color: $dark;
    }

    &.active {
      z-index: 0;
      color: transparent;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      left: calc(100% - 36px);
      transform: unset;
    }
  }

  .custom-control-input:checked ~ .custom-switch-text {
    &.inactive {
      color: transparent;
    }

    &.active {
      z-index: 11;
      color: $custom-control-input-checked-custom-text-color;
    }
  }
}

// tiles
.checkbox-tile,
.radio-tile {
  padding-left: 0;
  margin: 0 0 0 0;

  &.form-check-inline {
    vertical-align: top;
    min-width: 200px;
    max-width: 400px;
  }

  .form-check-input {
    position: absolute;
    left: -999em;
    right: auto;
  }

  .form-check-label {
    position: relative;
    display: block;
    background-color: $check-radio-tile-label-background-color;
    color: $check-radio-tile-label-text-color;
    border: 2px solid $check-radio-tile-label-border-color;
    border-radius: 8px;
    margin-top: 8px;
    padding: 12px 16px 12px 40px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      margin-top: 2px;
      left: 12px;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 2px;
      box-shadow: 0 0 0 2px $check-radio-tile-label-border-color;
    }
  }
  .form-check-input:checked+label {
    background-color: $check-radio-tile-checked-label-background-color;
    border-color: $check-radio-tile-checked-label-border-color;

    &:before {
      background-color: $check-radio-tile-checked-icon-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 0 0 2px $info;
    }
  }

  .form-check-input:focus+label {
    &:before {
      outline-style: solid;
      outline-color: $focus-color;
      outline-width: 4px;
      outline-offset: 4px;
    }

  }
}
.radio-tile {
  .form-check-label {
    &:before {
      border-radius: 50%;
    }
  }

  .form-check-input:checked+label {
    &:before {
      background-color: $check-radio-tile-unchecked-dot-color;
      background-image: none;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 16px;
      left: 14px;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $check-radio-tile-checked-dot-color;
    }
  }
}
.tile-description {
  display: block;
  font-size: 12px;
}
