.skip-to-main {
  position: absolute;
  top: 0;
  left: -220px;
  z-index: $zindex-skip-to-main;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 44px;
  color: $primary;
  background-color: $white;
  border-bottom-right-radius: 1rem;
  transition: $transition-base;

  &:active,
  &:focus {
    left: 0;
  }
}

.wrapper-main {
  position: relative;
  height: 100vh;
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.official-banner {
  @extend .border-bottom;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: $black;
  color: $white;
  border-color: $black !important;

  .container-fluid {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}

::selection,
::-moz-selection {
  background-color: lighten($secondary, 35%);
  border-radius: 16px;
}

.wrapper-topbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  background-color: #000;
  img {
    height: 24px;
  }
  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}

.page-header {
  background-color: $white;
  border-bottom: $border-width $border-style $border-color;
  border-radius: 0;

  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.page-title {
  @extend .shadow-sm;
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: $border-width $border-style $border-color;

  @include media-breakpoint-up(lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.page-title-text {
  @extend .h2;
  margin-bottom: 0;
  color: $primary;
  .icon {
    color: $primary-10;
  }
  p {
    margin-bottom: 0;
  }
}

.content-container {
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 1px 0 fade-out($black, .85);
  @include media-breakpoint-up(lg){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.form-fieldset,
.page-area,
.white-container-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $card-bg;
  border-bottom: $border-width $border-style $border-color;
  border-radius: $border-radius;
}

.page-area {
  padding-bottom: 0;
}

.validation-summary-errors {
  @extend .alert-danger;
  margin: 0.5rem 0;
  background-color: fade-out($danger, 0.9);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f6727c' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 0.25rem;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    position: relative;
    padding: 0.25rem 0.5rem 0.25rem 1.25rem;

    &::before {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      width: 1.5rem;
      height: 1.5rem;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: inherit;
      content: "\f056";
    }
  }
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-62 {
  opacity: 0.62;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-95 {
  opacity: 0.95;
}

.opacity-100 {
  opacity: 1;
}

.flip-x {
  transform: scaleX(-1);
}

.overlay {
  + * {
    z-index: 2;
  }
}

.overlay-left {
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;

  @media screen and (min-width: 992px) {
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
  }
}

.overlay-right {
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;

  @media screen and (min-width: 992px) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
  }
}

.border-dashed {
  border: $border-width dashed $border-color;
}

.cookie-banner {
  z-index: $zindex-cookie-banner;
}

.page-link {
  border: 2px solid $input-border-color;
}

//this item (as well as its associated page) are no longer used/shown in this project
.white-box {
  border: 1px solid $gray-300;
}

.grey-box {
  padding: 1rem;
  background-color: $gray-100;
  border: 2px solid $gray-400;
  border-radius: $border-radius;
}

//this combination does not appear to be in use
.white-box,
.form-fieldset {
  @extend .shadow-sm;
  background-color: $white;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  border-bottom: $border-width $border-style $border-color;
  border-radius: $border-radius;

  @include media-breakpoint-up(xl) {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.bg-less-bright {
  background-color: $less-bright;
}

iframe {
  @extend .position-relative;
  margin: 1rem 0 2rem;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.share-social {
  @extend .card;
  .share-social-body {
    @extend .card-body;
    @extend .text-center;
  }
  small {
    @extend .d-block;
    margin-bottom: .5rem;
  }
  .btn {
    @extend .btn-outline-ui-priority;
    @extend .btn-sm;
  }
}

.error-display {
  margin-top: 5.5rem;
}
.error-display-internal {
  .card {
    border-color: $danger-10;
  }
}
