// custom colors
// primary
$primary-50: #f4fcff;
$primary-100: #e9f8ff;
$primary-200: #d4ecfe;
$primary-300: #b4ddf8;
$primary-400: #6facdd;
$primary-500: #3c7eb3;
$primary-600: #245e8c;
$primary-700: #104a78;
$primary-800: #00284d;
$primary-900: #001646;

// secondary
$secondary-50: #eefffc;
$secondary-100: #c5fffa;
$secondary-200: #8bfff5;
$secondary-300: #4afef0;
$secondary-400: #15ece2;
$secondary-500: #00d0c9;
$secondary-600: #00a8a5;
$secondary-700: #008282;
$secondary-800: #066769;
$secondary-900: #0a5757;

// accent
$accent-50: #fffaea;
$accent-100: #fff2c5;
$accent-200: #ffe586;
$accent-300: #ffd146;
$accent-400: #ffbc1c;
$accent-500: #fe9903;
$accent-600: #e17100;
$accent-700: #bb4c02;
$accent-800: #973b09;
$accent-900: #7c310b;

// success
$success-50: #e8ffe6;
$success-100: #cbffc8;
$success-200: #9dfe98;
$success-300: #60fa5c;
$success-400: #2df02b;
$success-500: #0cd60d;
$success-600: #05ab09;
$success-700: #09820e;
$success-800: #0d6211;
$success-900: #115616;

// info
$info-50: #ebf9ff;
$info-100: #d1f3ff;
$info-200: #aeeaff;
$info-300: #76dfff;
$info-400: #35cbff;
$info-500: #07a8ff;
$info-600: #0083ff;
$info-700: #006aff;
$info-800: #0057d7;
$info-900: #004ba1;

// warning
$warning-50: #ffffea;
$warning-100: #fffbc5;
$warning-200: #fff885;
$warning-300: #ffee46;
$warning-400: #ffdf1b;
$warning-500: #ffc107;
$warning-600: #e29400;
$warning-700: #bb6902;
$warning-800: #985108;
$warning-900: #7c420b;

// dangers
$danger-50: #ffefef;
$danger-100: #ffdcdd;
$danger-200: #ffbfc0;
$danger-300: #ff9294;
$danger-400: #ff5457;
$danger-500: #ff1f23;
$danger-600: #ff0004;
$danger-700: #db0004;
$danger-800: #b00003;
$danger-900: #94080a;

// grays
$white: #ffffff;
$gray-50: #f7f8f8;
$gray-100: #ebeeef;
$gray-200: #d8dddf;
$gray-300: #b6c1c3;
$gray-400: #8f9fa3;
$gray-500: #6e8287;
$gray-600: #586a6f;
$gray-700: #46585d;
$gray-800: #3a4b50;
$gray-900: #324348;
$black: #000000;

// custom colors to edit, add to the theme loop

$primary: $primary-800;
$secondary: $secondary-700;
$accent: $accent-500;
$info: $info-800;
$success: $success-800;
$warning: $warning-500;
$danger: $danger-800;
$link-color: $info;
$ui: $gray-600;
$ui-light: $gray-100;
$ui-priority: $info;
$focus-color: #2491ff;
$text-color: $gray-700;
$text-color-light: $gray-600;
$text-color-dark: $gray-900;
$code-color: #9f1e5e;

// add colors to the theme loop

$custom-colors: (
  "accent": $accent,
  "accent-100": $accent-100,
  "accent-900": $accent-900,
  "primary-100": $primary-100,
  "primary-900": $primary-900,
  "secondary-100": $secondary-100,
  "secondary-900": $secondary-900,
  "success-100": $success-100,
  "success-900": $success-900,
  "warning-100": $warning-100,
  "warning-900": $warning-900,
  "danger-100": $danger-100,
  "danger-900": $danger-900,
  "info-100": $info-100,
  "info-900": $info-900,
  "ui": $ui,
  "ui-light": $ui-light,
  "ui-priority": $ui-priority,
  "white": $white,
  "black": $black,
);

// spacers
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: (
      $spacer * 0.75,
    ),
    4: (
      $spacer * 1,
    ),
    5: (
      $spacer * 1.25,
    ),
    6: (
      $spacer * 1.5,
    ),
    7: (
      $spacer * 1.75,
    ),
    8: (
      $spacer * 2,
    ),
    9: (
      $spacer * 2.25,
    ),
    10: (
      $spacer * 2.5,
    ),
    11: (
      $spacer * 2.75,
    ),
    12: (
      $spacer * 3,
    ),
    13: (
      $spacer * 3.25,
    ),
    14: (
      $spacer * 3.5,
    ),
    15: (
      $spacer * 3.75,
    ),
    16: (
      $spacer * 4,
    ),
    17: (
      $spacer * 4.25,
    ),
    18: (
      $spacer * 4.5,
    ),
    19: (
      $spacer * 4.75,
    ),
    20: (
      $spacer * 5,
    ),
    21: (
      $spacer * 5.25,
    ),
    22: (
      $spacer * 5.5,
    ),
    23: (
      $spacer * 5.75,
    ),
    24: (
      $spacer * 6,
    ),
    25: (
      $spacer * 6.25,
    ),
    26: (
      $spacer * 6.5,
    ),
    27: (
      $spacer * 6.75,
    ),
    28: (
      $spacer * 7,
    ),
    29: (
      $spacer * 7.25,
    ),
    30: (
      $spacer * 7.5,
    ),
    31: (
      $spacer * 7.75,
    ),
    32: (
      $spacer * 8,
    ),
    33: (
      $spacer * 8.25,
    ),
    34: (
      $spacer * 8.5,
    ),
    35: (
      $spacer * 8.75,
    ),
    36: (
      $spacer * 9,
    ),
    37: (
      $spacer * 9.25,
    ),
    38: (
      $spacer * 9.5,
    ),
    39: (
      $spacer * 9.75,
    ),
    40: (
      $spacer * 10,
    ),
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    10: 10%,
    20: 20%,
    25: 25%,
    33: 33%,
    40: 40%,
    50: 50%,
    60: 60%,
    66: 66%,
    75: 75%,
    80: 80%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

// ---
// enables
$enable-gradients: false;
$enable-shadows: true;
$enable-responsive-font-sizes: true;

// ---
// fonts, typography
$font-family-base:
  "Public Sans",
  "Public SansVariable",
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  "Helvetica Neue",
  "Arial",
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$headings-font-weight: 700 !default;

// ---
// borders * border radii
$border-width: 2px;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

// ---
// Breadcrumbs
$breadcrumb-divider-color: var(--theme-border-color);

// ---
// Cards
$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$card-border-width: var(--theme-card-border-width) !default;
$card-border-radius: $border-radius !default;
$card-border-color: var(--theme-card-border-color);
$card-inner-border-radius: calc(
  #{$card-border-radius} - #{$card-border-width}
) !default;
$card-cap-bg: null !default;
$card-cap-color: null !default;
$card-color: null !default;
$card-bg: var(--theme-card-bg-color);

// ---
// forms
$component-active-bg: $ui-priority;
$input-border-color: var(--theme-form-border-color) !default;
$input-box-shadow: inset 0 3px 4px var(--theme-form-input-shadow-color);
$input-btn-focus-color: var(--theme-input-btn-focus-color);
$input-bg: var(--bs-white);

// ---
// animated loading indicator
$loader-main-color: $primary;
$loader-secondary-color: $secondary;

// ---
// links
$link-hover-decoration: underline !default;

// ---
// modals
$modal-backdrop-bg: var(--theme-modal-backdrop-bg-color);
$modal-header-border-color: var(--theme-modal-dialog-border-color);
$modal-footer-border-color: var(--theme-modal-dialog-border-color);
$modal-backdrop-opacity: 0.75;

// ---
// navbar
$navbar-dark-color: rgba($white, 0.9) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-dark-active-color: $white !default;

// ---
// nav tabs & pills
$nav-tabs-link-active-bg: var(--theme-card-bg-color);
$nav-pills-link-active-color: var(--theme-gray-white);
$nav-pills-link-active-bg: var(--theme-ui-priority);
$nav-tabs-border-color: var(--theme-border-color);

// ---
// pagination
$pagination-active-color: $white !default;
$pagination-active-bg: $ui-priority !default;
$pagination-active-border-color: $ui-priority !default;
$pagination-disabled-border-color: $gray-600 !default;

// ---
// shadows
$box-shadow-sm: 0 0.25rem 2px fade-out($black, 0.9) !default;
$box-shadow: 0 0.5rem 1rem fade-out($black, 0.25) !default;
$box-shadow-lg: 0 1rem 3rem fade-out($black, 0.35) !default;
$btn-shadow: 0 0.125rem 0 0 fade-out($gray-900, 0.75) !default;

// ---
// toasts
$toast-box-shadow: 0 0.25rem 0.75rem var(--theme-toast-shadow-color);
$toast-border-width: 0;

// ---
// Tooltips
$tooltip-max-width: 300px !default;

// ---
// z-index values
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-progress-step: 1060 !default;
$zindex-scroll-to-top: 1070 !default;
$zindex-wrapper-topbar: 1080 !default;
$zindex-sidebar-wrapper: 1090 !default;
$zindex-cookie-banner: 2000 !default;
$zindex-skip-to-main: 2010 !default;
$zindex-popover: 2020 !default;
$zindex-tooltip: 2030 !default;
$zindex-modal: 2040 !default;
