.feature-text-box-over-photo {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  @extend .flex-lg-row;
  @extend .bg-image-size-cover;
  @extend .bg-image-position-center;

  &-section {
    padding: 1.25rem;
    margin-top: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 10rem;
    @include media-breakpoint-up(md){
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 1 50%;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
.feature-icons-text {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.feature-boxed-in-photo {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.feature-cta {
  background-color: $white;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .feature-big-text {
    @extend .h2;
    margin-bottom: 1rem;
    color: $primary;
    @include media-breakpoint-up(md){
      margin-bottom: 0;
    }
  }
  .feature-small-text {
    margin-bottom: 1rem;
    color: $primary;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}
.feature-cta-double {
  background-color: $primary;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .feature-big-text {
    @extend .h2;
    margin-bottom: 1rem;
    color: $white;
  }
  .feature-small-text {
    color: $white;
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}
.feature-icons-text {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $secondary;
  color: $white;
  .feature-big-text {
    @extend .h2 ;
    @extend .fw-bold ;
    @extend .text-center ;
    @extend .text-lg-start;
    color: inherit;
  }
  .feature-small-text {
    margin-bottom: 2rem;
    color: inherit;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  .feature-icons {
    @extend .display-4;
    @extend .text-center;
    @extend .text-lg-end;
    color: inherit;
  }
}
.feature-languages {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $secondary;
  color: $white;
  .feature-big-text {
    @extend .h2;
    //this is redundant from the h2 inheritance above
    @extend .fw-bold;
    color: inherit;
  }
  .feature-small-text {
    
  }
  .feature-item {
    @extend .position-relative;
    @extend .rounded;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color: $white;
    color: $primary;
    transform: rotate(-2deg);
    box-shadow: 4px 4px 2px 0 fade-out($primary, .5);
    &:after {
      @extend .position-absolute;
      content: '';
      top: $spacer * .5;
      left: -$spacer * .75;
      width: 0; height: 0;
      border-top:    8px solid transparent;
      border-right: 16px solid $white;
      border-bottom: 8px solid transparent;
    }
    p {
      @extend .h4;
      @extend .fw-light;
      @extend .text-center;
      margin-bottom: 0;
    }
  }
}
.feature-set {
  .content-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .feature-big-text {
    @extend .h2;
    color: $primary;
  }
  .feature-lead-text {
    margin-bottom: 0;
    color: $primary-700;
  }
  .feature-small-text {
    margin-bottom: .5rem;
    color: $primary-700;
  }
  .feature-lead-icon {
    @extend .h4;
    margin-bottom: .5rem;
    color: $primary-500;
  }
}
