.feature-options-titles {
  h2,
  .h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3,
  .h3 {
    @extend .lead;
  }

  hr,
  .hr {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.feature-text-box-over-photo {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  @extend .flex-lg-row;
  @extend .bg-image-size-cover;
  @extend .bg-image-position-center;

  &-section {
    padding: 1.25rem;
    margin-top: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 9.5rem;
    @include media-breakpoint-up(md){
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 1 50%;
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.feature-icons-text {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.feature-boxed-in-photo {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.feature-cta {
  background-color: $white;
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
  .feature-big-text {
    @extend .h2;
    margin-bottom: 1rem;
    color: $primary;
    @include media-breakpoint-up(md){
      margin-bottom: 0;
    }
  }
  .feature-small-text {
    margin-bottom: 1rem;
    color: $primary;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}
.feature-cta-double {
  background-color: $primary;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .feature-big-text {
    @extend .h2;
    margin-bottom: 1rem;
    color: $white;
  }
  .feature-small-text {
    color: $white;
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  .btn {
    display: block;
    margin-bottom: 1rem;
  }
  @media screen and (min-width: 768px){
    .btn {
      display: inline;
      margin-bottom: 0;
    }
  }
}
.feature-icons-text {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $accent;
  .feature-big-text {
    @extend .h2;
    @extend .font-weight-bold;
    @extend .text-center;
    @extend .text-lg-left;
    color: $white;
  }
  .feature-small-text {
    margin-bottom: 2rem;
    color: $white;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  .feature-icons {
    @extend .display-4;
    color: $white;
  }
}
.feature-languages {
  background-color: $secondary;
  @include media-breakpoint-up(lg) {
    padding: 4rem;
  }
  .feature-big-text {
    @extend .h2;
    //this is redundant from the h2 inheritance above
    @extend .font-weight-bold;
    color: $primary;
  }
  .feature-small-text {
    color: $primary;
  }
  .feature-item {
    @extend .rounded;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color: $white;
    p {
      @extend .h4;
      @extend .font-weight-light;
      @extend .text-center;
      margin-bottom: 0;
    }
  }
}
.feature-many-icons {
  background-color: $primary;
  color: $white;
  padding: 1rem;
  @include media-breakpoint-up(lg) {
    padding: 4rem;
  }
  .feature-big-text {
    @extend .h2;
    margin-bottom: 2rem;
    color: $white;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  .feature-small-text {
    margin-bottom: 0;
  }
}
.feature-set {
  padding: 1.5rem;
  hr.minor{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .feature-big-text {
    @extend .h2;
    color: $primary;
  }
  .feature-lead-text {
    margin-bottom: 0;
  }
  .feature-small-text {
    margin-bottom: .5rem;
  }
  .feature-lead-icon {
    @extend .h4;
    margin-bottom: .5rem;
  }
}
