.feature-options-titles {
  h2,
  .h2 {
    @extend .my-0;
  }

  h3,
  .h3 {
    @extend .lead;
  }

  hr,
  .hr {
    @extend .my-0;
  }
}
.feature-text-box-over-photo {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  @extend .flex-lg-row;
  @extend .bg-image-size-cover;
  @extend .bg-image-position-center;

  &-section {
    @extend .p-5;
    @extend .mt-4;
    @extend .me-0;
    @extend .mb-4;
    @extend .ms-38;
    @extend .my-md-40;
    @extend .me-lg-0;
    @extend .ms-lg-auto;

    @include media-breakpoint-up(lg) {
      flex: 0 1 50%;
    }
  }
}

.feature-icons-text {
  @extend .py-16;
}

.feature-boxed-in-photo {
  @extend .py-16;
}
.feature-cta {
  background-color: $white;
  @extend .py-38;
  .feature-big-text {
    @extend .h2;
    @extend .mb-4;
    @extend .mb-md-0;
    color: $primary;
  }
  .feature-small-text {
    @extend .mb-4;
    @extend .mb-md-0;
    color: $primary;
  }
}
.feature-cta-double {
  background-color: $primary ;
  @extend .py-20;
  .feature-big-text {
    @extend .h2;
    @extend .mb-4;
    color: $white;
  }
  .feature-small-text {
    color: $white;
    @extend .mb-4;
    @extend .mb-lg-0;
  }
}
.feature-icons-text {
  @extend .py-16 ;
  background-color: $accent;
  .feature-big-text {
    @extend .h2 ;
    color: $white;
    @extend .fw-bold ;
    @extend .text-center ;
    @extend .text-lg-start;
  }
  .feature-small-text {
    @extend .mb-8 ;
    @extend .mb-lg-0 ;
    color: $white;
  }
  .feature-icons {
    @extend .display-4;
    color: $white;
  }
}
.feature-languages {
  @extend .p-lg-16;
  background-color: $secondary;
  .feature-big-text {
    @extend .h2;
    //this is redundant from the h2 inheritance above
    @extend .fw-bold;
    color: $primary;
  }
  .feature-small-text {
    color: $primary;
  }
  .feature-item {
    @extend .rounded;
    @extend .py-4;
    background-color: $white;
    @extend .mt-4;
    p {
      @extend .mb-0;
      @extend .h4;
      @extend .fw-light;
      @extend .text-center;
    }
  }
}
.feature-many-icons {
  @extend .p-4 ;
  @extend .p-lg-16 ;
  background-color: $primary;
  color: $white;
  .feature-big-text {
    @extend .h2;
    @extend .mb-8;
    @extend .mb-lg-0;
    color: $white;
  }
  .feature-small-text {
    @extend .mb-0;
  }
}
.feature-set {
  @extend .p-6;
  .feature-big-text {
    @extend .h2;
    color: $primary;
  }
  .feature-lead-text {
    @extend .mb-0;
  }
  .feature-small-text {
    @extend .mb-2;
  }
  .feature-lead-icon {
    @extend .h4;
    @extend .mb-2;
  }
}
