.skip-to-main, li a, .summary, p a, .btn, .btn-link, .badge.chip, .nav-pills .nav-link
.nav-link, th a, .form-control, .custom-select, .footer a, .official-banner a, .logo-link, .form-select {
  &:focus {
   @include tab-focus; 
  }
}
.btn, .badge.chip,
.nav-pills .nav-link {
  &:focus {
    box-shadow: none;
  }
}
.app-topbar .btn,
.app-topbar .logo-link,
.app-sidebar-nav-link,
.app-sidebar-subnav .app-sidebar-nav-link,  
.app-sidebar-subnav-revealer, .form-control-plaintext {
  &:focus {
    outline: none;
    &:after {
      @include tab-focus-fake;
    }
  }
}
.app-topbar .btn {
  &:focus {
    &:after {
      top: -6px; left: -2px;
      width : calc(100% + 4px);
      height: calc(100% + 10px);
    }
  }
}
.app-topbar .logo-link {
  &:focus {
    &:after {
      top: -4px; left: -4px;
      width : calc(100% + 8px);
      height: calc(100% + 7px);
    }
  }
}
.app-sidebar-subnav-revealer {
  &:focus {
    outline: none;
    &:after {
      top: -2px; left: -2px;
      width :  calc(100% + 4px);
      height:  calc(100% + 4px);
    }
  }
} 
.app-sidebar-subnav .app-sidebar-nav-link {
  &:focus {
    &:after {
      width: calc(100% + 4px);
      left: -4px;
    }
  }
} 
.btn-link-card {
  &:focus {
    color: $info;
    box-shadow: none;
    outline: 0.25rem solid $focus-color;
    outline-offset: 0;
  }
}
.form-check-input {
  &:focus {
    box-shadow: 0 0 0 2px $white,
                0 0 0 5px $focus-color;
  }
}
.form-control-plaintext {
  &:focus {
   &:after {

   } 
  }
}
