footer, .footer {
  margin-top: auto;
  transition: $transition-base;
  @media screen and (min-width: 992px){
    margin-left: $site-nav-width;
    &.toggled {
      margin-left: 0;
    }
  }
  .brand-logo {
    @extend .position-relative;
    svg {
      width: 100%;
    }
  }
  &.footer-basic   {
    background-color: $black;
    margin-top: auto;
    .links-wrapper {
      @extend .d-flex;
      @extend .flex-wrap;
      @extend .justify-content-center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      .btn-link {
        color: $white;
        @extend .border-0;
        @extend .rounded-0;
      }
    }
  }
  &.footer-utility {
    background-color: $primary;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: auto;
    .brand-logo {
      margin-bottom: 0;
    }
    hr.major {
      background-color: $primary-100;
      opacity: .25;
    }
    .btn-link {
      color: $accent;
    }
  }
  &.no-side-toggle {
    margin-left: 0;
  }
}
