.footer {
    @extend .py-4;
    a {
      @extend .text-decoration-none;
      &:not(.btn) {
        color: inherit;
      }
    }
    &.footer-basic {
      background-color: $black;
      color: $white;
      @extend .text-center;
      a {
        @extend .mx-4;
      }
    }
    &.footer-utility {
      background-color: $primary-800;
      color: $primary-100;
      hr {
        @extend .opacity-20;
      }
    }
}
