footer, .footer {
  .brand-logo {
    position: relative;
    svg {
      width: 100%;
      .mark,
      .type {
        fill: $white;
      }
    }
  }
  &.footer-basic   {
    background-color: $black;
    @extend .mt-12;
    .links-wrapper {
      @extend .d-flex ;
      @extend .flex-wrap ;
      @extend .justify-content-center ;
      @extend .py-4;
      .btn-link {
        color: $white;
        @extend .border-0 ;
        @extend .rounded-0;
      }
    }
  }
  &.footer-utility {
    background-color: $primary;
    @extend .pt-4 ;
    @extend .mt-auto;
    .brand-logo {
      margin-bottom: 0;
    }
    hr.major {
      background-color: $primary-90;
    }
    .btn-link {
      color: $secondary;
    }
  }
}
