.form-check-input {
	background-color: var(--theme-card-bg-color);
	border-color	: var(--theme-form-border-color);
	position		:relative;
	&[type=checkbox], &[type=radio], &[type=checkbox][role=switch] {
		&:checked {
			background-color: var(--theme-form-check-input-checked-bg-color);
			border-color	: var(--theme-form-check-input-checked-border-color);
		}
	}
}
