.form-control {
  background-color: var(--theme-card-bg-color);
  &.disabled,
  &[disabled],
  &[readonly] {
    box-shadow: none;
  }
  &:focus, &:focus-visible {
    background-color: var(--theme-card-bg-color);
  }
  @media (prefers-color-scheme: dark) {
    &[type=date]::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}
.form-group {
  margin-bottom: 1rem;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  & > .col,
  & > [class*="col-"] {
    padding: 0 5px;
  }
}

.form-title {
  @extend .h3;
  @extend .mb-6;
  color: var(--theme-headings-color);
}
