// Hero Blocks

.bg-image-size-cover {
  background-size: cover;
}
.bg-image-position-center {
  background-position: 50%;
}
.hero-dual-pane {
  @extend .position-relative ;
  @extend .bg-image-position-center ;
  @extend .bg-image-size-cover;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include media-breakpoint-up(lg){
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .overlay {
    @extend .position-absolute;
    @extend .opacity-75;
  }
  .overlay-left {
    background-color: $primary;
  }
  .overlay-right {
    background-color: $secondary;
  }
  .container {
    @extend .position-relative;
  }
  .logo {
    @extend .img-fluid;
    margin-bottom: 1rem;
    width: 128px;
  }
  .hero-big-text {
    @extend .h1;
    @extend .fw-bold;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    margin-top: 2.5rem;
    color: $white;
    @include media-breakpoint-up(lg){
      margin-top: 0;
    }
  }
  .hero-lead-text {
    @extend .h4;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(lg){
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .hero-small-text {
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
}
.hero-solo-pane {
  > .row {
    @extend .g-0;
  }
  .half-left {
    @extend .bg-image-size-cover;
    @extend .bg-image-position-center;
  }
  .half-right {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $primary;
    color: $white;
    .row {
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }
  .hero-big-text {
    @extend .h2;
    color: $white;
  }
  .hero-small-text {
    color: $white;
  }
  .img-fluid {
    @extend .d-lg-none;
  }
}
.hero-boxed-in-photo {
  @extend .content-container;
  @extend .shadow-none;
  @include media-breakpoint-up(lg){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .hero-big-text {
    @extend .h2;
    margin-top: 2rem;
    color: $primary;
  }
  .hero-small-text {
  }
  img{
    margin-top: 1.25rem;
  }
  @media screen and (min-width: 992px) {
    .hero-big-text{
      margin-top: 0;
    }
    img {
      margin-top: 0;
    }
  }
}
.hero-text-color-toned-photo {
  @extend .position-relative;
  @extend .bg-image-position-center;
  @extend .bg-image-size-cover;
  padding-top: 10rem;
  padding-bottom: 2.5rem;
  .overlay {
    @extend .opacity-85 ;
    @extend .position-absolute ;
    top:0; right:0; bottom:0; left:0;
    background-color: $secondary;
    z-index: 0;

      & + * {
        @extend .position-relative;
        z-index: 2;
      }

  }
  .hero-big-text, .hero-small-text {
    text-shadow: 0 .125rem 0 fade-out($black, .5);
  }
  .hero-big-text {
    @extend .h2;
    @extend .font-weight-bold;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
  .hero-small-text {
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
}
.hero-textbox-over-photo {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  @extend .flex-lg-row;
  @extend .bg-image-size-cover;
  @extend .position-relative;
  @extend .bg-image-position-center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .overlay {
    @extend .position-absolute ;
    background-color: $white;
    opacity: .50;
    top:0; right:0; bottom:0; left: 0;
  }
  .hero-textbox {
    background-color: $primary;
    padding: 2.5rem;
    z-index: 2;
  }
  .hero-big-text {
    @extend .h2;
    @extend .font-weight-bold;
    color: $white;
  }
  .hero-small-text {
    color: $white;
  }
}
.hero-centered {
  padding-top: 3rem;
  background-color: $primary;
  color: $accent;
  text-align: center;
  &-sentence {
    @extend .lead;
    margin-bottom: 2rem;
    color: $white;
  }
  &-buttons {
    @extend .d-grid;
    @extend .gap-2;
    @extend .d-sm-flex;
    @extend .justify-content-sm-center;
    margin-bottom: 2.5rem;
    & .btn {
      @extend .btn-lg;
      padding-left: 1rem;
      padding-right: 1rem;
      &:nth-child(2) {
        @include media-breakpoint-up(sm){
          margin-left: .75rem;
        }
      }
    }
  }
  &-image {
    @extend .overflow-hidden;
    max-height: 30vh;
    img {
      @extend .img-fluid;
      @extend .rounded-3 ;
      @extend .shadow-lg ;
      margin-bottom: 1rem;
    }
  }
}
