// Hero Blocks

.bg-image-size-cover {
  background-size: cover;
}
.bg-image-position-center {
  background-position: 50%;
}
.hero-dual-pane {
  @extend .py-10 ;
  @extend .py-lg-40 ;
  @extend .position-relative ;
  @extend .bg-image-position-center ;
  @extend .bg-image-size-cover;
  .overlay {
    @extend .position-absolute;
    @extend .opacity-75;
  }
  .overlay-left {
    background-color: $primary;
  }
  .overlay-right {
    background-color: $secondary;
  }
  .container {
    @extend .position-relative;
  }
  .logo {
    @extend .img-fluid ;
    @extend .mb-4;
    width: 128px;
  }
  .hero-big-text {
    @extend .h1 ;
    @extend .fw-bold ;
    @extend .text-shadow !optional;
    @extend .mt-10;
    @extend .mt-lg-0;
    @extend .shadow-primary!optional;
    color: $white;
  }
  .hero-lead-text {
    @extend .h4 ;
    @extend .mt-4;
    @extend .mb-6;
    @extend .my-lg-0;
    color: $white;
    @extend .text-shadow !optional;
    @extend .shadow-primary!optional;
  }
  .hero-small-text {
    color: $white;
    @extend .text-shadow !optional;
    @extend .shadow-primary!optional;
  }
}
.hero-solo-pane {
  > .row {
    @extend .g-0;
  }
  .half-left {
    @extend .bg-image-size-cover;
    @extend .bg-image-position-center;
  }
  .half-right {
    @extend .py-32;
    background-color: $primary;
    color: $white;
    .row {
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }
  .hero-big-text {
    @extend .h2 ;
    color: $white;
  }
  .hero-small-text {
    color: $white;
  }
  .img-fluid {
    @extend .d-lg-none;
  }
}
.hero-boxed-in-photo {
  @extend .content-container;
  @extend .shadow-none;
  @extend .py-lg-16;
  .hero-big-text {
    @extend .h2 ;
    color: $primary;
  }
  .hero-small-text {
  }
  img {
    @extend .img-fluid;
    @extend .rounded;
    @extend .shadow-sm;
    @extend .mt-4;
    @extend .mt-lg-0;
  }
}
.hero-text-color-toned-photo {
  @extend .position-relative ;
  @extend .bg-image-position-center ;
  @extend .bg-image-size-cover ;
  @extend .pt-40 ;
  @extend .pb-10;
  text-shadow: 0 .125rem 0 fade-out($black, .5);
  .overlay {
    @extend .opacity-85 ;
    @extend .position-absolute ;
    top:0; right:0; bottom:0; left:0;
    background-color: $secondary;
    z-index: 0;

      & + * {
        @extend .position-relative;
        z-index: 2;
      }

  }
  .hero-big-text {
    @extend .h2;
    @extend .font-weight-bold;
    color: $white;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
  }
  .hero-small-text {
    color: $white;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
  }
}
.hero-textbox-over-photo {
  @extend .position-relative ;
  @extend .d-flex ;
  @extend .flex-column ;
  @extend .justify-content-end ;
  @extend .flex-lg-row ;
  @extend .bg-image-size-cover ;
  @extend .position-relative ;
  @extend .bg-image-position-center ;
  @extend .py-40;
  .overlay {
    background-color: $white;
    @extend .position-absolute ;
    @extend .opacity-50 ;
    top:0; right:0; bottom:0; left: 0;
  }
  .hero-textbox {
    background-color: $primary;
    @extend .p-10;
    z-index: 2;
  }
  .hero-big-text {
    @extend .h2 ;
    @extend .font-weight-bold ;
    color: $white;
  }
  .hero-small-text {
    color: $white;
  }
}
.hero-centered {
  @extend .pt-12;
  background-color: $primary;
  color: $accent;
  text-align: center;
  &-sentence {
    @extend .mb-8;
    @extend .lead;
    color: $white;
  }
  &-buttons {
    @extend .d-grid;
    @extend .gap-2;
    @extend .d-sm-flex;
    @extend .justify-content-sm-center;
    @extend .mb-10;
    & .btn {
      @extend .btn-lg;
      @extend .px-4;
      &:nth-child(2) {
        @extend .ms-sm-3;
      }
    }
  }
  &-image {
    @extend .overflow-hidden;
    max-height: 30vh;
    img {
      @extend .img-fluid;
      @extend .rounded-3 ;
      @extend .shadow-lg ;
      @extend .mb-4;
    }
  }
}
