// Hero Blocks

.bg-image-size-cover {
  background-size: cover;
}

.bg-image-position-center {
  background-position: 50%;
}

.hero-dual-pane {
  @extend .position-relative;
  @extend .bg-image-position-center;
  @extend .bg-image-size-cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .overlay {
    @extend .position-absolute;
    @extend .opacity-75;
  }
  .overlay-left {
    background-color: $primary;
  }
  .overlay-right {
    background-color: $accent;
  }
  .container {
    @extend .position-relative;
  }
  .logo {
    @extend .img-fluid;
    margin-bottom: 1rem;
    width: 128px;
  }
  .hero-big-text {
    @extend .h1;
    @extend .font-weight-bold;
    @extend .text-shadow !optional;
    @extend .shadow-primary!optional;
    color: $white;
  }
  .hero-lead-text {
    @extend .h4;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
  .hero-small-text {
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
}

.hero-solo-pane {
  > .row {
    @extend .no-gutters;
  }
  .half-left {
    @extend .bg-image-size-cover;
    @extend .bg-image-position-center;
  }
  .half-right {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $primary;
    color: $white;
    .row {
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }
  .hero-big-text {
    @extend .h2;
    color: $white;
  }
  .hero-small-text {
    color: $white;
  }
  .img-fluid {
    @extend .d-lg-none;
  }
}

.hero-boxed-in-photo {
  @extend .content-container;
  @extend .shadow-none;
  .hero-big-text {
    @extend .h2;
    margin-top: 2rem;
    color: $primary;
  }
  .hero-small-text {
  }
  img{
    margin-top: 1.25rem;
  }
  @media screen and (min-width: 992px) {
    .hero-big-text{
      margin-top: 0;
    }
    img {
      margin-top: 0;
    }
  }
}

.hero-text-color-toned-photo {
  @extend .position-relative;
  @extend .bg-image-position-center;
  @extend .bg-image-size-cover;
  padding-top: 10rem;
  padding-bottom: 2.5rem;
  .overlay {
    @extend .opacity-85;
    @extend .position-absolute;
    background-color: $accent;
    top:0; right:0; bottom:0; left:0;
  }
  .hero-big-text {
    @extend .h2;
    @extend .font-weight-bold;
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
  .hero-small-text {
    @extend .text-shadow !optional;
    @extend .shadow-primary !optional;
    color: $white;
  }
}

.hero-textbox-over-photo {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-end;
  @extend .flex-lg-row;
  @extend .bg-image-size-cover;
  @extend .position-relative;
  @extend .bg-image-position-center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .overlay {
    @extend .position-absolute;
    @extend .opacity-50;
    background-color: $white;
    top:0; right:0; bottom:0; left: 0;
  }
  .hero-textbox {
    background-color: $primary;
    padding: 2.5rem;
  }
  .hero-big-text {
    @extend .h2;
    @extend .font-weight-bold;
    color: $white;
  }
  .hero-small-text {
    color: $white;
  }
}