// Hero Blocks

.bg-image-size-cover {
  background-size: cover;
}

.bg-image-position-center {
  background-position: 50%;
}

.hero-two-pane {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-lg-row;
  @extend .bg-image-size-cover;
  @extend .bg-image-position-center;

  &-section {
    flex: 1 0 50%;
    @extend .position-relative;
    @extend .d-lg-flex;
    @extend .flex-lg-column;
    @extend .justify-content-lg-center;
    @extend .px-4;
    @extend .py-10;
    @extend .py-lg-40;
    @extend .py-lg-17;

    .btn {
      @extend .align-self-center;
    }
  }
}

.hero-solo-pane {
  > .row {
    @extend .no-gutters;
  }

  .half-left {
    @extend .bg-image-size-cover;
    @extend .bg-image-position-center;
  }

  .half-right {
    @extend .py-32;

    .row {
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }
}

.hero-channels {
  @extend .position-relative;
}

.hero-channels-content {
  @extend .bg-image-size-cover;
  @extend .bg-image-position-center;
  padding-top: 150px;
  padding-bottom: 200px;
  color: $white;
  text-shadow: -1px 3px fade-out($black, 0.5);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  .fas {
    color: inherit;
  }

  p {
    @extend .lead;
    color: inherit;
  }

  a {
    @extend .btn;
    @extend .btn-link;
    background-color: fade-out($white, 1);

    .fas {
      color: inherit;
    }

    &:hover,
    &:active {
      text-decoration: none;
      background-color: fade-out($white, 0);
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-channels-controls {
  @extend .position-absolute;
  @extend .w-100;
  bottom: 0;
  margin-bottom: 20px;
  background-color: fade-out($white, 1);

  .nav-link {
    position: relative;
    margin: 0 20px 2px !important;
    color: $white;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-top: 2px solid fade-out($white, 0.25);
    border-radius: 0;

    &.active {
      color: $black;
      background-color: fade-out($white, 0.1);
      border-color: fade-out($white, 0.1);
    }

    &:hover,
    &:active {
      color: $black;
      background-color: fade-out($white, 0);
    }

    @include media-breakpoint-up(lg) {
      padding-top: $spacer * 2;
      padding-bottom: $spacer * 2;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
  }
}
