.brand-logo {
  width: 120px;
  height: 48px;
  @extend .d-flex;
  @extend .align-items-center;

  svg {
    .mark,
    .type {
      fill: $white;
    }
  }
}

.img-fluid {
  width: 100%;
}

.img-official {
  width: 23px;
  height: 23px;
}

.bg-image-size-cover {
  background-size: cover;
}

.bg-image-position-center {
  background-position: 50%;
}

.image-credit {
  @extend .small;
  @extend .mt-1;
  @extend .mb-0;
  @extend .text-center;

  a {
    color: inherit;
  }
}

.cover-image-pull-quote {
  color: $primary;
  @extend .lead;
}

.cover-image-credit {
  color: $ui;
  @extend .small;
  @extend .mt-2;
  @extend .opacity-75;
  @extend .text-ui;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: $spacer;
    left: $spacer;
  }
}

.cover-toc {
  @extend .p-4;
  @extend .rounded;
}
