.brand-logo {
  @extend .d-flex;
  @extend .align-items-center;
  width: 120px;
  height: 48px;

  svg {
    .mark,
    .type {
      fill: $white;
    }
  }
}

.img-fluid {
  width: 100%;
}
.img-official {
  width: 23px;
  height: 23px;
}

.bg-image-size-cover {
  background-size: cover;
}

.bg-image-position-center {
  background-position: 50%;
}
