.modal-content {
  background-color: $modal-content-background-color;
  border: $card-border-width solid $modal-border-color;
  .close {
    @extend .position-relative;
    opacity: 1;
  }
}
.modal-title {
  color: $modal-title-text-color;
}
