.navbar-search-basic {
  hr {
    background-color: $primary-800;
  }
}

.nav-tabs {
  .nav-item {
    &:not(:last-of-type) {
      @extend .me-2;
    }
  }
  .nav-link {
    
  }
}

.nav-pills {
  li {
    @extend .me-2;
  }
  .nav-link {
    background: $white;
    border: 2px solid $info;
    @include border-radius($nav-pills-border-radius);
  }
  
  .nav-link.active,
  .show > .nav-link {
    background: $info;
    color: $white;
  }
}
