// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  text-decoration: if($link-decoration == none, null, none);
  @include hover-focus() {
    text-decoration: none;
  }
  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $ui-light;

  .nav-item {
    margin-right: $spacer * 0.5;
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus() {
      color: $white;
      background-color: $ui-priority;
      border-color: $nav-tabs-link-hover-border-color;
      border-color: $ui-priority;
    }

    &.disabled {
      color: $ui-light;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
    border-bottom: 2px solid $white;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  &:not(.flex-column) {
    .nav-item {
      &:not(:last-of-type) {
        margin-right: $spacer * 0.5;
      }
    }
  }
  &.flex-column {
    .nav-item {
      margin-top: $spacer * 0.5;
    }
  }
  .nav-link {
    @include border-radius($nav-pills-border-radius);
    color: $link-color;
    background-color: $white;
    border: 2px solid $ui;
    transition: $transition-base;

    &:hover,
    &:active {
      background-color: lighten($ui, 45%);
    }

    &:not(.disabled) {
      background-color: $white;
      border: $border-width $border-style $ui-priority;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
.navbar {
  @extend .bg-primary;
  @extend .text-white;
  &.navbar-minimal {}
  &.navbar-basic {
    @extend .navbar-expand-lg;
    .navbar-toggler {
      @extend .text-white ;
      @extend .ml-auto;
    }
    .navbar-nav {
      @extend .ml-auto;
    }
    .nav-link {
      @extend .text-white;
    }
    .btn {
      @extend .btn-white;
      @extend .mt-2 ;
      @extend .mt-lg-0 ;
      @extend .ml-lg-2;
    }
  }
  &.navbar-search {
    @extend .d-block;
    @extend .navbar-expand-lg;
    .container, .container-fluid {
      @extend .py-0;
    }
    .navbar-toggler {
      @extend .text-white ;
      @extend .ml-auto;
    }
    hr.minor {
      @extend .opacity-25;
    }
    .navbar-collapse {
      @extend .ml-lg-n2;
    }
    .nav-link {
      @extend .text-white;
    }
    .btn {
      @extend .mt-2 ;
      @extend .mt-lg-0 ;
      @extend .ml-lg-2;
    }
  }
  &.navbar-iconic {
    @extend .navbar-expand-lg;
    .brand-logo {
      @extend .mb-0;
    }
    .navbar-toggler {
      @extend .text-white ;
      @extend .ml-auto;
    }
    .navbar-icon-links {
      .nav-item {
        @extend .ml-lg-3;
        @include media-breakpoint-up(lg) {
          text-align: center;
        }
      }
    
      .nav-link {
        background-color: fade-out($ui, 1);
        border-radius: 4px 4px 0 0;
        transition: $transition-base;
        @extend .text-white;
    
        .fas {
          opacity: 0.62;
          transition: $transition-base;
        }
    
        &:hover,
        &:active {
          background-color: fade-out($ui, 0.75);
    
          .fas {
            opacity: 1;
          }
        }
      }
      @include media-breakpoint-up(lg) {
        margin-left: auto;
        .nav-link {
          span:not(.fas) {
            display: block;
          }
        }
      }
    }
    .icon-link-border-bottom {
      @extend .bg-secondary;
      height: 2px;
    }
  }
}



