.page-link {
  color: var(--theme-pagination-color);
  background-color: var(--theme-card-bg-color);
  border: 2px solid var(--theme-form-border-color);
  &:hover, &:active {
    color: var(--theme-pagination-color);
    text-decoration: underline;
  }
}
