.popover {
  --bs-popover-header-color: var(--theme-popover-header-text-color);
  --bs-popover-header-bg: var(--theme-popover-header-bg-color);
  --bs-popover-bg: var(--theme-popover-bg);
  --bs-popover-border-color: var(--theme-popover-border-color);
}
