@media print {
  /* Hide Unnecessary Items and Styling */
  body,
  html {
    background-color: white !important;
    background-image: none !important;
  }

  #main {
    height: 100% !important;
  }

  .page-content {
    height: auto !important;
    padding: 0 !important;
  }

  .border-print-none {
    border: 0px solid transparent !important;
    border-width: 0;
  }

  .shadow-print-none {
    box-shadow: none !important;
  }

  /* Page Breaking */
  .always-pba {
    page-break-after: always;
    break-after: always;
  }

  .avoid-pba {
    page-break-after: avoid;
    break-after: avoid;
  }

  .left-pba {
    page-break-after: left;
    break-after: left;
  }

  .right-pba {
    page-break-after: right;
    break-after: right;
  }

  .avoid-pbb {
    page-break-before: avoid;
    break-before: avoid;
  }

  .always-pbb {
    page-break-before: always;
    break-before: always;
  }

  .avoid-pbb {
    page-break-before: avoid;
    break-before: avoid;
  }

  .left-pbb {
    page-break-before: left;
    break-before: left;
  }

  .right-pbb {
    page-break-before: right;
    break-before: right;
  }

  .avoid-pbb {
    page-break-before: avoid;
    break-before: avoid;
  }

  .avoid-pbi {
    page-break-inside: avoid;
    break-before: avoid;
  }


  /*Text Utilities*/
  .text-print-right {
    text-align: right !important;
  }

  .text-print-left {
    text-align: left !important;
  }

  .text-print-center {
    text-align: center !important;
  }

  .text-print-justify {
    text-align: justify !important;
  }


  /*Print Spacing Utilities*/
  .m-print-0 {
    margin: 0 !important;
  }

  .mt-print-0,
  .my-print-0 {
    margin-top: 0 !important;
  }

  .mr-print-0,
  .mx-print-0 {
    margin-right: 0 !important;
  }

  .mb-print-0,
  .my-print-0 {
    margin-bottom: 0 !important;
  }

  .ml-print-0,
  .mx-print-0 {
    margin-left: 0 !important;
  }

  .m-print-1 {
    margin: 0.25rem !important;
  }

  .mt-print-1,
  .my-print-1 {
    margin-top: 0.25rem !important;
  }

  .mr-print-1,
  .mx-print-1 {
    margin-right: 0.25rem !important;
  }

  .mb-print-1,
  .my-print-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-print-1,
  .mx-print-1 {
    margin-left: 0.25rem !important;
  }

  .m-print-2 {
    margin: 0.5rem !important;
  }

  .mt-print-2,
  .my-print-2 {
    margin-top: 0.5rem !important;
  }

  .mr-print-2,
  .mx-print-2 {
    margin-right: 0.5rem !important;
  }

  .mb-print-2,
  .my-print-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-print-2,
  .mx-print-2 {
    margin-left: 0.5rem !important;
  }

  .m-print-3 {
    margin: 1rem !important;
  }

  .mt-print-3,
  .my-print-3 {
    margin-top: 1rem !important;
  }

  .mr-print-3,
  .mx-print-3 {
    margin-right: 1rem !important;
  }

  .mb-print-3,
  .my-print-3 {
    margin-bottom: 1rem !important;
  }

  .ml-print-3,
  .mx-print-3 {
    margin-left: 1rem !important;
  }

  .m-print-4 {
    margin: 1.5rem !important;
  }

  .mt-print-4,
  .my-print-4 {
    margin-top: 1.5rem !important;
  }

  .mr-print-4,
  .mx-print-4 {
    margin-right: 1.5rem !important;
  }

  .mb-print-4,
  .my-print-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-print-4,
  .mx-print-4 {
    margin-left: 1.5rem !important;
  }

  .m-print-5 {
    margin: 3rem !important;
  }

  .mt-print-5,
  .my-print-5 {
    margin-top: 3rem !important;
  }

  .mr-print-5,
  .mx-print-5 {
    margin-right: 3rem !important;
  }

  .mb-print-5,
  .my-print-5 {
    margin-bottom: 3rem !important;
  }

  .ml-print-5,
  .mx-print-5 {
    margin-left: 3rem !important;
  }

  .p-print-0 {
    padding: 0 !important;
  }

  .pt-print-0,
  .py-print-0 {
    padding-top: 0 !important;
  }

  .pr-print-0,
  .px-print-0 {
    padding-right: 0 !important;
  }

  .pb-print-0,
  .py-print-0 {
    padding-bottom: 0 !important;
  }

  .pl-print-0,
  .px-print-0 {
    padding-left: 0 !important;
  }

  .p-print-1 {
    padding: 0.25rem !important;
  }

  .pt-print-1,
  .py-print-1 {
    padding-top: 0.25rem !important;
  }

  .pr-print-1,
  .px-print-1 {
    padding-right: 0.25rem !important;
  }

  .pb-print-1,
  .py-print-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-print-1,
  .px-print-1 {
    padding-left: 0.25rem !important;
  }

  .p-print-2 {
    padding: 0.5rem !important;
  }

  .pt-print-2,
  .py-print-2 {
    padding-top: 0.5rem !important;
  }

  .pr-print-2,
  .px-print-2 {
    padding-right: 0.5rem !important;
  }

  .pb-print-2,
  .py-print-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-print-2,
  .px-print-2 {
    padding-left: 0.5rem !important;
  }

  .p-print-3 {
    padding: 1rem !important;
  }

  .pt-print-3,
  .py-print-3 {
    padding-top: 1rem !important;
  }

  .pr-print-3,
  .px-print-3 {
    padding-right: 1rem !important;
  }

  .pb-print-3,
  .py-print-3 {
    padding-bottom: 1rem !important;
  }

  .pl-print-3,
  .px-print-3 {
    padding-left: 1rem !important;
  }

  .p-print-4 {
    padding: 1.5rem !important;
  }

  .pt-print-4,
  .py-print-4 {
    padding-top: 1.5rem !important;
  }

  .pr-print-4,
  .px-print-4 {
    padding-right: 1.5rem !important;
  }

  .pb-print-4,
  .py-print-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-print-4,
  .px-print-4 {
    padding-left: 1.5rem !important;
  }

  .p-print-5 {
    padding: 3rem !important;
  }

  .pt-print-5,
  .py-print-5 {
    padding-top: 3rem !important;
  }

  .pr-print-5,
  .px-print-5 {
    padding-right: 3rem !important;
  }

  .pb-print-5,
  .py-print-5 {
    padding-bottom: 3rem !important;
  }

  .pl-print-5,
  .px-print-5 {
    padding-left: 3rem !important;
  }

  .m-print-n1 {
    margin: -0.25rem !important;
  }

  .mt-print-n1,
  .my-print-n1 {
    margin-top: -0.25rem !important;
  }

  .mr-print-n1,
  .mx-print-n1 {
    margin-right: -0.25rem !important;
  }

  .mb-print-n1,
  .my-print-n1 {
    margin-bottom: -0.25rem !important;
  }

  .ml-print-n1,
  .mx-print-n1 {
    margin-left: -0.25rem !important;
  }

  .m-print-n2 {
    margin: -0.5rem !important;
  }

  .mt-print-n2,
  .my-print-n2 {
    margin-top: -0.5rem !important;
  }

  .mr-print-n2,
  .mx-print-n2 {
    margin-right: -0.5rem !important;
  }

  .mb-print-n2,
  .my-print-n2 {
    margin-bottom: -0.5rem !important;
  }

  .ml-print-n2,
  .mx-print-n2 {
    margin-left: -0.5rem !important;
  }

  .m-print-n3 {
    margin: -1rem !important;
  }

  .mt-print-n3,
  .my-print-n3 {
    margin-top: -1rem !important;
  }

  .mr-print-n3,
  .mx-print-n3 {
    margin-right: -1rem !important;
  }

  .mb-print-n3,
  .my-print-n3 {
    margin-bottom: -1rem !important;
  }

  .ml-print-n3,
  .mx-print-n3 {
    margin-left: -1rem !important;
  }

  .m-print-n4 {
    margin: -1.5rem !important;
  }

  .mt-print-n4,
  .my-print-n4 {
    margin-top: -1.5rem !important;
  }

  .mr-print-n4,
  .mx-print-n4 {
    margin-right: -1.5rem !important;
  }

  .mb-print-n4,
  .my-print-n4 {
    margin-bottom: -1.5rem !important;
  }

  .ml-print-n4,
  .mx-print-n4 {
    margin-left: -1.5rem !important;
  }

  .m-print-n5 {
    margin: -3rem !important;
  }

  .mt-print-n5,
  .my-print-n5 {
    margin-top: -3rem !important;
  }

  .mr-print-n5,
  .mx-print-n5 {
    margin-right: -3rem !important;
  }

  .mb-print-n5,
  .my-print-n5 {
    margin-bottom: -3rem !important;
  }

  .ml-print-n5,
  .mx-print-n5 {
    margin-left: -3rem !important;
  }

  .m-print-auto {
    margin: auto !important;
  }

  .mt-print-auto,
  .my-print-auto {
    margin-top: auto !important;
  }

  .mr-print-auto,
  .mx-print-auto {
    margin-right: auto !important;
  }

  .mb-print-auto,
  .my-print-auto {
    margin-bottom: auto !important;
  }

  .ml-print-auto,
  .mx-print-auto {
    margin-left: auto !important;
  }

  /*Medium Styles as Default Render*/
  .col-md-auto {
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: 100% !important;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.333333% !important;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667% !important;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
  }

  .col-md-3 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667% !important;
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }

  .col-md-6 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333% !important;
    flex: 0 0 58.333333% !important;
    max-width: 58.333333% !important;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667% !important;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
  }

  .col-md-9 {
    -ms-flex: 0 0 75% !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333% !important;
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667% !important;
    flex: 0 0 91.666667% !important;
    max-width: 91.666667% !important;
  }

  .col-md-12 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  /*Large Styles Overwrite Medium for Print*/
  .col-lg-auto {
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: 100% !important;
  }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333% !important;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
  }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667% !important;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667% !important;
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333% !important;
    flex: 0 0 58.333333% !important;
    max-width: 58.333333% !important;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667% !important;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
  }

  .col-lg-9 {
    -ms-flex: 0 0 75% !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333% !important;
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
  }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667% !important;
    flex: 0 0 91.666667% !important;
    max-width: 91.666667% !important;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  /*Extra Large Styles Overwrite Medium and Large for Print*/
  .col-xl-auto {
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    width: auto !important;
    max-width: 100% !important;
  }

  .col-xl-1 {
    -ms-flex: 0 0 8.333333% !important;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
  }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667% !important;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667% !important;
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }

  .col-xl-6 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333% !important;
    flex: 0 0 58.333333% !important;
    max-width: 58.333333% !important;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667% !important;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
  }

  .col-xl-9 {
    -ms-flex: 0 0 75% !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333% !important;
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
  }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667% !important;
    flex: 0 0 91.666667% !important;
    max-width: 91.666667% !important;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  /*Print Grid Overwrites Medium, Large and Extra Large*/
  .col-print-1 {
    width: 8% !important;
    max-width: 8% !important;
    flex: 0 0 8% !important;
    -ms-flex: 0 0 8% !important;
  }

  .col-print-2 {
    width: 16% !important;
    max-width: 16% !important;
    flex: 0 0 16% !important;
    -ms-flex: 0 0 16% !important;
  }

  .col-print-3 {
    width: 25% !important;
    max-width: 25% !important;
    flex: 0 0 25% !important;
    -ms-flex: 0 0 25% !important;
  }

  .col-print-4 {
    width: 33% !important;
    max-width: 33% !important;
    flex: 0 0 33% !important;
    -ms-flex: 0 0 33% !important;
  }

  .col-print-5 {
    width: 42% !important;
    max-width: 42% !important;
    flex: 0 0 42% !important;
    -ms-flex: 0 0 42% !important;
  }

  .col-print-6 {
    width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50% !important;
    -ms-flex: 0 0 50% !important;
  }

  .col-print-7 {
    width: 58% !important;
    max-width: 58% !important;
    flex: 0 0 58% !important;
    -ms-flex: 0 0 58% !important;
  }

  .col-print-8 {
    width: 66% !important;
    max-width: 66% !important;
    flex: 0 0 66% !important;
    -ms-flex: 0 0 66% !important;
  }

  .col-print-9 {
    width: 75% !important;
    max-width: 75% !important;
    flex: 0 0 75% !important;
    -ms-flex: 0 0 75% !important;
  }

  .col-print-10 {
    width: 83% !important;
    max-width: 83% !important;
    flex: 0 0 83% !important;
    -ms-flex: 0 0 83% !important;
  }

  .col-print-11 {
    width: 92% !important;
    max-width: 92% !important;
    flex: 0 0 92% !important;
    -ms-flex: 0 0 92% !important;
  }

  .col-print-12 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
  }

  .col-print {
    -ms-flex-preferred-size: 0 !important;
    flex-basis: 0 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    max-width: 100% !important;
  }

  .col-print-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}