@media print {
  .page-wrapper,
  .wrapper-main {
    height: unset;
    position: unset;
  }

  .page-wrapper,
  .page-content {
    padding: none;
    width: unset;
    overflow-x: unset;
    transition: unset;
  }

  body,
  html {
    background-color: white !important;
    background-image: none !important;
  }

  #main {
    height: 100% !important;
  }

  .page-content {
    height: auto !important;
    padding: 0 !important;
  }
  
  //absolute areas to hide 
  .skip-to-main, 
  .sidebar-wrapper,
  .wrapper-topbar,
  .btn-scroll-top,
  [position=fixed],
  .footer,
  nav,
  .popover,
  .page-toc {
    display: none !important;
  }

  //optional containers to hide
  .btns-previous-next,
  form {
    display: none !important;
  }

  //custom features that are hidden
  .edit-github,
  #sidebar-button {
    display: none !important;
  }
}
