.progress-large {
  @extend .border-bottom ;
  @extend .border-primary-10 ;
  @extend .py-4 ;
  background-color: $white;
  .btn {
    @extend .shadow-none;
  }
}
.progress-info {
  @extend .d-flex;
}
.progress-description {
  color: $primary;
  @extend .mb-0 ;
  @extend .font-weight-bold;
  @extend .mt-1;
  @extend .ps-1;
}
.progress-description-counter {
  @extend .small;
  color: fade-out($primary, .25);
  @extend .d-block;
  @extend .ps-1;
}
.progress-description-text {
  color: $primary;
  @extend .d-block;
}
.progress-step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  color: $white;
  background-color: $primary;
  border-color: $primary;
}
.progress-step-digit {
  font-size: 24px;
  text-align: center;
}
