.progress-large {
  @extend .border-bottom ;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white;
  border-color: $gray-200;
  .btn {
    @extend .shadow-none;
  }
}
.progress-info {
  @extend .d-flex;
}
.progress-description {
  @extend .font-weight-bold;
  margin-top: .25rem;
  padding-left: .25rem;
}
.progress-description-counter {
  @extend .small;
  @extend .d-block;
  padding-left: .25rem;
}
.progress-description-text {
  @extend .d-block;
  color: $primary;
}
.progress-step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  color: $white;
  background-color: $primary;
  border-color: $primary;
}
.progress-step-digit {
  font-size: 24px;
  text-align: center;
}
