html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  background-color: $body-bg;

  &.auth-page {
    background-color: $primary;
    background-image: none;
  }

  &.error-page {
    background-color: #1b3b58;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2311304d' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  }

  &.internal {
    padding-bottom: 64px;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
  }
}

p {
  b,
  .font-weight-bold,
  strong,
  .strong {
    color: $black;
  }
}

label,
.label {
  // Allow labels to use `margin` for spacing.
  display: block;
  margin-bottom: $label-margin-bottom;
  font-weight: 600;
}

small,
.small {
  color: $ui;

  .form-group & {
    padding: 2px 4px 0;
  }
}

hr,
.hr {
  @extend .w-100;
  background-color: $primary-10;
  border: 0;
  margin-left: 0;
  margin-right: 0;

  &.major {
    height: 0.25rem;
    margin: 1rem 0;
  }

  &.minimal,
  &.minor {
    height: 1px;
    margin: 0.5rem 0;
  }
}

a {
  p & {
    text-decoration: underline;

    &[rel="external"],
    &[target="blank"] {
      .fas,
      .far {
        font-size: 12px;
        color: inherit;
      }
    }
  }

  p &.btn {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: inherit;
    }
  }

  &[target="_blank"]:not(.btn),
  &[target="blank"]:not(.btn) {
    &::after {
      display: inline-block;
      margin: 0 1px 0 5px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-size: 12px;
      font-style: normal;
      font-weight: 900;
      font-variant: normal;
      content: "\F35D";
    }
  }
}

blockquote,
.blockquote {
  padding: 24px 32px 6px;
  background-color: fade-out($white, 0.2);
  border-left: ($border-width * 4) $border-style fade-out($ui, 0.8);
}
blockquote + blockquote,
.blockquote + .blockquote {
  padding-top: 0;
  margin-top: -16px;
}

caption {
  caption-side: top;
  border-top: 1px solid #f00;
}

legend,
.legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
