.site-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; height: 100vh;
}
.site-topbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $black;
  color: $white;
  padding: .5rem 1rem .5rem 0;
  transition: $transition-base;
  z-index: $zindex-site-topbar;
  .btn {
    padding-top: 0; padding-bottom: 0;
  }
  @media screen and (min-width: 992px){
    left: $site-nav-width;
    &.toggled {
      left: 0;
    }
  }
}
.site-main {
  padding-top: 41px;
  transition: $transition-base;
  @media screen and (min-width: 992px){
    padding-left: $site-nav-width;
    &.toggled {
      padding-left: 0;
    }
  }
}
.site-nav {
  position: fixed;
  top: 41px; left: -$site-nav-width;
  width: $site-nav-width;
  height: 100%;
  overflow-y: auto;
  background-color: $primary;
  color: fade-out($white, .15);
  transition: $transition-base;
  z-index: $zindex-site-nav;
  &.toggled {
    left: 0;
    box-shadow:
      1.1px 0px 1px     fade-out($primary, .98),
      2.7px 0px 2.4px   fade-out($primary, .97),
      5px 0px 4.8px     fade-out($primary, .96),
      8.9px 0px 8.7px   fade-out($primary, .96),
      16.7px 0px 16.6px fade-out($primary, .95),
      40px 0px 40px     fade-out($primary, .93)
    ;
  }
  @media screen and (min-width: 992px){
    top: 0; left: 0;
    &.toggled {
      left: -$site-nav-width;
      box-shadow: none;
    }
  }
}
.site-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.site-nav-content {
  position: relative;
  overflow-y: auto;
}
.site-nav-brand {
  @extend .d-none;
  @extend .d-lg-block;
  background-color: $black;
  color: $white;
  height: 41px;
}
.site-nav-brand a {
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 20px;
  color: inherit;
  text-decoration: none;
  img {
    @extend .me-1;
  }
}
.site-nav-header {
  padding: 20px;
  overflow: hidden;
}
.site-nav-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.site-nav-item {
  overflow-x: hidden;
}
.site-nav-nav-item {
  @extend .position-relative;
  display: flex;
  align-items: stretch;
  width: 100%; height: 100%;
  padding: 10px 20px;
  transition: $transition-base;
  color: fade-out($white, .15);
  text-decoration: none;
  .fas, .far {
    align-self: start;
    margin-right: 4px;
    transform: translateY(3px);
  }
  &.active {
    color: fade-out($white, 0);
    font-weight: bolder;
  }
  &:hover, &:active {
    background-color: $info;
    color: fade-out($white, 0);
    text-decoration: none;
  }
}
.site-nav-dropdown-header {
  display: flex;
  a:nth-last-child(n + 2),
  a:nth-last-child(n + 2) ~ .site-nav-nav-item {
    width: calc(100% - 44px);
  }
}
.site-nav-dropdown-header-expand {
  @extend .position-relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  overflow: hidden;
  color: fade-out($white, .15);
  text-decoration: none;
  &:hover, &:active {
    cursor: pointer;
    background-color: $info;
    text-decoration: none;
  }
  .fas {
    line-height: 44px;
    transition: $transition-base;
  }
  &.active {
    .fas {
      transform: rotate(90deg);
      color: fade-out($white, 0);
    }
  }
}
.site-nav-submenu {
  display: none;
  background-color: darken($primary, 5%);site-nav
  > ul {
    .fas, .far {
      margin: 3px 5px 0 3px;
      font-size: 10px;
      opacity: 0.5;
    }
    .active {
      .fas {
        opacity: 1;
      }
    }
  }
}
.no-side-toggle {
  padding-left: 0;
}
