caption {
  caption-side: bottom;
  border-top: 1px dashed var(--theme-table-border-color);
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: $font-size-base * 0.875;
  color: var(--theme-gray-700);
  background-color: var(--theme-gray-white);
  border-color: var(--theme-table-border-color);
  th,
  td {
    padding: var(--theme-table-cell-padding);
    vertical-align: top;
    border-top-width: var(--theme-table-border-width);
    background-color: var(--theme-gray-white);
  }
  thead th {
    vertical-align: bottom;
    border-top-width: var(--theme-table-border-width-thick);
    border-top-style: solid;
    border-bottom-width: var(--theme-table-border-width-thick);
    border-bottom-style: solid;
  }
  tbody + tbody {
    border-top-width: var(--theme-table-border-width-thick);
    border-top-style: solid;
  }
  thead {
    tr {
      th:first-child {
        border-top-left-radius: 4px;
      }
      th:last-child {
        border-top-right-radius: 4px;
      }
    }
  }
  tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 4px;
      }
      td:last-child {
        border-bottom-right-radius: 4px;
      }
    }
  }
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }
  a:not([class]) {
    color: var(--theme-link-color);
  }
}
.table-striped {
  > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
    --#{$prefix}table-bg-type: var(--theme-table-striped-bg);
  }
}
.table-scrollable-wrapper {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	background:
		linear-gradient(to right, transparent 30%, rgba(255,255,255,0)),
		linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
		radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,0.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,0.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: var(--theme-gray-white);
	background-size: 4em 100%, 4em 100%, 1.4em 100%, 1.4em 100%;
	background-position: 0 0, 100%, 0 0, 100%;
	background-attachment: local, local, scroll, scroll;
}
.table-scrollable {
	background-color: transparent!important;
	th, td {
		background-color: transparent;
	}
	th:first-child {
		background-color: var(--theme-gray-white);
		position: sticky;
		position: -webkit-sticky;
		left: 0;
		z-index: 10;
		&:after {
			content: '';
			position: absolute;
			right: 0; top: 0;
			width: .125rem; height: 100%;
			background-color: var(--theme-table-border-color);
		}
	}
}
