caption {
  caption-side: bottom;
  border-top: 1px dashed $ui;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: $font-size-base * 0.875;
  color: $gray-700;
  background-color: $white; // Reset for nesting within parents with `background-color`.
  border-color: var(--theme-table-border-color);
  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top-width: $table-border-width;
  }
  thead th {
    vertical-align: bottom;
    border-top-width: (3 * $table-border-width);
    border-top-style: solid;
    border-bottom-width: (2 * $table-border-width);
    border-bottom-style: solid;
  }
  tbody + tbody {
    border-top-width: (2 * $table-border-width);
    border-top-style: solid;
  }
  thead {
    tr {
      th:first-child {
        border-top-left-radius: 4px;
      }
      th:last-child {
        border-top-right-radius: 4px;
      }
    }
  }
  tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 4px;
      }
      td:last-child {
        border-bottom-right-radius: 4px;
      }
    }
  }
}
