// color system

$white            : #ffffff !default;
$gray-100         : #f8f9fa !default;
$gray-200         : #F5F5F5 !default;
$gray-300         : #dee2e6 !default;
$gray-400         : #ced4da !default;
$gray-500         : #808080 !default;
$gray-600         : #6c757d !default;
$gray-700         : #495057 !default;
$gray-800         : #343a40 !default;
$gray-900         : #2b2b2b !default;
$black            : #000000 !default;


    
$blue             : #004BA1 !default;
$indigo           : #6610f2 !default;
$purple           : #6f42c1 !default;
$pink             : #e83e8c !default;
$red              : #b00003 !default;
$orange           : #fd7e14 !default;
$yellow           : #ffc107 !default;
$green            : #0D6211 !default;
$teal             : #20c997 !default;
$cyan             : #9c27b0 !default;
$link-color       : #004BA1;
$ui               : $gray-600;
$ui-light         : $gray-300;
$ui-priority      : $link-color;
$body-bg          : #f7f7f7;
// $light        : $body-bg;
$body-color       : $gray-700;
$focus-color      : #2491ff;
$less-bright      : #fbf9f9;

$success          : $green;
$warning          : $yellow;
$danger           : $red;
$info             : $link-color;
$success-10       : #DCF8E2;
$success-90       : #003302;
$warning-10       : #FFECB3;
$warning-90       : #5C3400;
$danger-10        : #FFE6E8;
$danger-90        : #650002;
$info-10          : #D0E6FF;
$info-90          : #002480;

$theme-colors     : () !default;
$theme-colors     : map-merge( (
	"primary"        : $primary,
	"secondary"      : $secondary,
	"accent"         : $accent,
	"success"        : $success,
	"info"           : $info,
	"warning"        : $yellow,
	"danger"         : $danger,
	"light"          : $gray-200,
	"dark"           : $gray-700,
	"link"           : $link-color,
	"ui"             : $ui,
	"ui-light"       : $gray-300,
	"ui-priority"    : $ui-priority,
	"black"          : $black,
	"white"          : $white,
	"primary-10"     : $primary-10,
	"primary-90"     : $primary-90,
	"secondary-10"   : $secondary-10,
	"secondary-90"   : $secondary-90,
	"accent-10"      : $accent-10,
	"accent-90"      : $accent-90,
	"success-10"     : $success-10,
	"success-90"     : $success-90,
	"warning-10"     : $warning-10,
	"warning-90"     : $warning-90,
	"danger-10"      : $danger-10,
	"danger-90"      : $danger-90,
	"info-10"        : $info-10,
    "info-90"        : $info-90
), $theme-colors );


// spacers

$spacer: 1rem !default;
$spacers: (
	0:  0, 
	1:  ($spacer * .25), 
	2:  ($spacer * .5), 
	3:  ($spacer * .75), 
	4:  ($spacer * 1), 
	5:  ($spacer * 1.25), 
	6:  ($spacer * 1.5), 
	7:  ($spacer * 1.75), 
	8:  ($spacer * 2), 
	9:  ($spacer * 2.25), 
	10: ($spacer * 2.5), 
	11: ($spacer * 2.75), 
	12: ($spacer * 3), 
	13: ($spacer * 3.25), 
	14: ($spacer * 3.5), 
	15: ($spacer * 3.75), 
	16: ($spacer * 4), 
	17: ($spacer * 4.25), 
	18: ($spacer * 4.5), 
	19: ($spacer * 4.75), 
	20: ($spacer * 5), 
	21: ($spacer * 5.25), 
	22: ($spacer * 5.5), 
	23: ($spacer * 5.75), 
	24: ($spacer * 6), 
	25: ($spacer * 6.25), 
	26: ($spacer * 6.5), 
	27: ($spacer * 6.75), 
	28: ($spacer * 7), 
	29: ($spacer * 7.25), 
	30: ($spacer * 7.5), 
	31: ($spacer * 7.75), 
	32: ($spacer * 8), 
	33: ($spacer * 8.25), 
	34: ($spacer * 8.5), 
	35: ($spacer * 8.75), 
	36: ($spacer * 9), 
	37: ($spacer * 9.25), 
	38: ($spacer * 9.5), 
	39: ($spacer * 9.75), 
	40: ($spacer * 10),
) !default;



// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge( ( 
	10: 10%,
	20: 20%,
	25: 25%, 
	33: 33%,
	40: 40%, 
	50: 50%,
	60:60%, 
	66: 66%, 
	75: 75%,
	80:80%, 
	100: 100%, 
	auto: auto 
), $sizes );

$lead-font-size   : 1.25rem;
$lead-font-weight : 300;
$small-font-size  : 80% !default;

// links

$link-color                              : $link-color;
$link-decoration                         : underline !default;
$link-hover-color                        : darken($link-color, 15%) !default;
$link-hover-decoration                   : underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage : 15% !default;

// borders * border radii

$border-width     : 2px;
$border-style     : solid;
$border-color     : $gray-300 !default;
$border-radius    : .25rem !default;
$border-radius-lg : .3rem !default;
$border-radius-sm : .2rem !default;

// buttons

// Allows for customizing button radius independently from global border radius

$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $btn-border-radius !default;
$btn-border-radius-sm:        $btn-border-radius !default;

// Breadcrumbs

$breadcrumb-bg:                     $body-bg;
$breadcrumb-active-color:           $gray-700 !default;

// shadows 

$box-shadow-sm:  0 0.25rem  2px   fade-out($ui, .9) !default;
$box-shadow:     0 0.5rem   1rem  fade-out($ui, .25) !default;
$box-shadow-lg:  0 1rem     3rem  fade-out($ui, .35) !default;
$btn-shadow:     0 0.25rem .25rem fade-out($ui, .70) !default;

// enables

$enable-shadows         :     true;
$enable-negative-margins:     true !default;

// popovers

$popover-border-color:              $gray-300;
$popover-box-shadow:                $box-shadow !default;
$popover-header-bg:                 $gray-200;
$popover-header-color:              $gray-700;
$popover-body-color:                $body-color !default;
$popover-arrow-color:               $popover-header-bg !default;

// tabs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-font-size:                null !default;
$nav-link-font-weight:              null !default;
$nav-link-color:                    $link-color !default;
$nav-link-hover-color:              $link-hover-color !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $white !default;


// Forms and Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.





// scss-docs-start form-label-variables
$form-label-margin-bottom:              .5rem !default;
$form-label-font-size:                  null !default;
$form-label-font-style:                 bold !default;
$form-label-font-weight:                400 !default;
$form-label-color:                      $gray-700 !default;
// scss-docs-end form-label-variables

$component-active-color:      $white !default;
$component-active-bg:         $ui-priority !default;

$form-feedback-valid-color:         $success !default;
$form-feedback-invalid-color:       $danger !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $gray-200 !default;
$input-disabled-border-color:           null !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $ui !default;

$form-label-font-weight:                600 !default;
$form-label-color:                      $black !default;

$form-switch-color:               $ui !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;



$form-color-width:                      3rem !default;
// scss-docs-end form-input-variables


$form-check-input-bg:                     $white;
$form-check-input-border:                 2px solid $ui !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $component-active-bg !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     2px !default;


$table-striped-bg-factor     : .05 !default;
$table-striped-bg            : rgba($ui, $table-striped-bg-factor) !default;
$table-group-separator-color : $ui-light;

$pagination-border-color:           $ui !default;

$hr-opacity:                  1 !default;

$spinner-width        : $spacer * 4 ;
$spinner-border-width : $spacer;

$card-cap-bg:                       $gray-200;







// sidebar 
    
$sidenav-dark-bg				: $primary;
$sidenav-dark-color				: $primary-10;
$sidenav-dark-heading-color		: $primary-10;
$sidenav-dark-link-color		: $white;
$sidenav-dark-link-active-color	: $info-10;
$sidenav-dark-icon-color		: $primary-10;
$sidenav-dark-footer-bg			: $black;	










// z-index

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-offcanvas-backdrop:         1040 !default;
$zindex-offcanvas:                  1045 !default;
$zindex-popover:                    1070 !default;
$zindex-tooltip:                    1080 !default;
$zindex-modal-backdrop:             2000 !default;
$zindex-modal:                      3000 !default;