$primary     : #00284d;
$secondary   : #14847F;
$accent      : #fe9903;
$primary-10  : #B3BFCA;
$primary-90  : #00203E;
$secondary-10: #A8EAE7;
$secondary-90: #105A57;
$accent-10   : #FFE0B3;
$accent-90   : #BF5102;