.toast {
  &.toast-success {
    .toast-header {
      background-color: var(--theme-toast-header-success-bg-color);
      color           : var(--theme-toast-header-success-text-color);
    }
  }
  &.toast-danger  {
    .toast-header {
      background-color: var(--theme-toast-header-danger-bg-color);
      color           : var(--theme-toast-header-danger-text-color);
    }
  }
  &.toast-info    {
    .toast-header {
      background-color: var(--theme-toast-header-info-bg-color);
      color           : var(--theme-toast-header-info-text-color);
    }
  }
  &.toast-warning {
    .toast-header {
      background-color: var(--theme-toast-header-warning-bg-color);
      color           : var(--theme-toast-header-warning-text-color);
    }
  }
}
.toast-header {
  position: relative;
  .btn-close {
    position: absolute;
    top: .5rem;
    right: 1rem;
  }
}
