.toast {
  &.toast-success {
    .toast-header {
      @extend .bg-success-10;
      @extend .text-success-90;
    }
  }
  &.toast-danger  {
    .toast-header {
      @extend .bg-danger-10;
      @extend .text-danger-90;
    }
  }
  &.toast-info    {
    .toast-header {
      @extend .bg-info-10;
      @extend .text-info-90;
    }
  }
  &.toast-warning {
    .toast-header {
      @extend .bg-warning-10;
      @extend .text-warning-90;
    }
  }
}