.toast {
  &.toast-success {
    .toast-header {
      background-color: $success-10;
      color: $success-90;
    }
  }
  &.toast-danger  {
    .toast-header {
      background-color: $danger-10;
      color: $danger-90;
    }
  }
  &.toast-info    {
    .toast-header {
      background-color: $info-10;
      color: $info-90;
    }
  }
  &.toast-warning {
    .toast-header {
      background-color: $warning-10;
      color: $warning-90;
    }
  }
}
