.toc {
  margin-top: 0.5rem;
  ul,
  ol,
  li {
    position: relative;
    padding: 0;
    list-style-type: none;
  }

  > ul,
  > ol {
    padding-left: 16px;
    margin-bottom: 0;
  }

  li {
    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      width: 16px;
      content: "↓";
    }

    a {
      text-decoration: none;
      color: var(--theme-toc-link-color);

      &:hover,
      &:active {
        color: var(--theme-toc-link-hover-color);
        text-decoration: none;
      }
    }
  }
}
