// variable color overrides

$primary: #00284d;
$secondary: #fe9903;
$accent: #008282;
$primary-10: #c0cedb;
$primary-30: #536f89;
$primary-90: #00203e;
$secondary-10: #fff1d6;
$secondary-30: #fecb7f;
$secondary-90: #4c2e01;
$accent-10: #ccfcff;
$accent-30: #69cbd1;
$accent-90: #005459;
