// ---
// color system
$white: #fff !default;
$black: #000 !default;
$blue: #004ba1 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #b00003 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #0d6211 !default;
$teal: #20c997 !default;
$cyan: #9c27b0 !default;
$text-color: $gray-800;
$text-color-light: $gray-600;
$text-color-dark: $gray-900;
$body-bg: #f7f7f7;
$body-color: $text-color;
$focus-color: #2491ff;
$less-bright: #fbf9f9;
$primary: $primary-800;
$secondary: $secondary-800;
$accent: $accent-500;
$success: $success-800;
$warning: $warning-500;
$danger: $danger-800;
$info: $info-900;
$link-color: $info-900;
$ui: $gray-600;
$ui-light: $gray-100;
$ui-priority: $info-900;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "success": $success,
    "info": $info,
    "warning": $yellow,
    "danger": $danger,
    "link": $link-color,
    "ui": $ui,
    "ui-light": $ui-light,
    "black": $black,
    "white": $white,
  ),
  $theme-colors
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    10: 10%,
    20: 20%,
    25: 25%,
    33: 33%,
    40: 40%,
    50: 50%,
    60: 60%,
    66: 66%,
    75: 75%,
    80: 80%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

// ---
// fonts, typography
$font-family-base: "Public Sans", "Public SansVariable", -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$line-height-base: 1.5 !default;
$headings-line-height: 1.2 !default;
$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display5-size: 3rem;
$display6-size: 2.5rem;
$display7-size: 2rem;
$display5-weight: 300 !default;
$display6-weight: 300 !default;
$display7-weight: 300 !default;
$display-line-height: $headings-line-height !default;
$headings-margin-bottom: .5rem !default;
$headings-font-family: "Public Sans" !default;
//$headings-font-weight: 700 !default;
$headings-line-height: 1.2 !default;
$lead-font-size: 1.25rem;
$lead-font-weight: 300;
$small-font-size: 80% !default;
$blockquote-small-color: $gray-600 !default;
$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: $font-size-base;

// ---
// links
$link-color: $link-color;
$link-decoration: underline !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// ---
// shadows
$box-shadow-sm:     0 0.25rem 2px fade-out($ui, 0.9) !default;
$box-shadow:        0 0.5rem 1rem fade-out($black, 0.25) !default;
$box-shadow-lg:     0 1rem 3rem fade-out($black, 0.35) !default;
$box-shadow-minor:  0 1px 0 fade-out($black, .85);
$btn-shadow:        0 0.125rem 0 fade-out($ui, 0.7) !default;

// ---
// forms
$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;
$input-group-addon-bg: $gray-100 !default;
$input-color: $gray-700 !default;
$component-active-bg: $ui-priority;
$input-border-color: $ui !default;
$input-box-shadow: inset 0 3px 4px fade-out($ui, 0.75);
$input-btn-focus-color: $ui-priority;
$form-check-input-border:                 2px solid $ui;
$form-switch-color: $ui;

// ---
// modals
$modal-backdrop-bg: $primary;
$modal-header-border-color: fade-out($gray-600, 0.75);
$modal-footer-border-color: fade-out($gray-600, 0.75);
$modal-backdrop-opacity: 0.75;

// ---
// borders * border radii
$border-width: 2px;
$border-style: solid;
$border-color: $gray-200 !default;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

// ---
// navbar
$navbar-dark-color: rgba($white, 0.9) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-dark-active-color: $white !default;

// ---
// nav tabs & pills
$nav-tabs-link-active-bg     : $white !default;
$nav-pills-link-active-color : $white;
$nav-pills-link-active-bg    : $ui-priority;

$site-nav-width: 260px;

// ---
// Cards
$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$card-border-width: $border-width !default;
$card-border-radius: $border-radius !default;
$card-border-color: $gray-300;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg: null !default;
$card-cap-color: null !default;
$card-color: null !default;
$card-bg: $gray-100;
$card-bg: $white;

// ---
// popovers
$popover-header-color:              $text-color-dark;
$popover-header-bg:                 $gray-100;
$popover-border-color:              $card-border-color;
$popover-box-shadow:                $box-shadow-sm;

// ---
// Tooltips
$tooltip-max-width: 300px !default;

// ---
// tables
$table-border-width: 1px;
$table-border-color: $gray-300;
$table-bg: $white;
$table-cell-padding-y:        .7rem;
$table-striped-bg:            fade-out($ui, .95); 

// ---
// pagination
$pagination-active-color: $white !default;
$pagination-active-bg: $ui-priority !default;
$pagination-active-border-color: $ui-priority !default;
$pagination-disabled-border-color: $gray-600 !default;

// ---
// Breadcrumbs
$breadcrumb-bg:           $gray-200 !default;
$breadcrumb-bg:           $body-bg;
$breadcrumb-active-color: $text-color-dark !default;
$breadcrumb-padding-y:    $spacer * .5;
$breadcrumb-padding-x:    $spacer;

// ---
// animated loading indicator
$loader-main-color: $primary;
$loader-secondary-color: $secondary;

// ---
// options
$enable-gradients:             false;
$enable-shadows:               true;
$enable-responsive-font-sizes: true;
$enable-negative-margins:      true !default;

// ---
// z-index values
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-progress-step: 1060 !default;
$zindex-scroll-to-top: 1070 !default;
$zindex-site-nav: 1080 !default;
$zindex-site-topbar: 1090 !default;
$zindex-cookie-banner: 2000 !default;
$zindex-skip-to-main: 2010 !default;
$zindex-popover: 2020 !default;
$zindex-tooltip: 2030 !default;
$zindex-modal: 2040 !default;
