// primary
$primary-50 : #f4fcff;
$primary-100: #e9f8ff;
$primary-200: #d4ecfe;
$primary-300: #b4ddf8;
$primary-400: #6facdd;
$primary-500: #3c7eb3;
$primary-600: #245e8c;
$primary-700: #104a78;
$primary-800: #00284d;
$primary-900: #001646;
$primary-colors: (
  primary-50 : $primary-50,
  primary-100: $primary-100,
  primary-200: $primary-200,
  primary-300: $primary-300,
  primary-400: $primary-400,
  primary-500: $primary-500,
  primary-600: $primary-600,
  primary-700: $primary-700,
  primary-800: $primary-800,
  primary-900: $primary-900
);

// secondary
$secondary-50 : #eefffc;
$secondary-100: #c5fffa;
$secondary-200: #8bfff5;
$secondary-300: #4afef0;
$secondary-400: #15ece2;
$secondary-500: #00d0c9;
$secondary-600: #00a8a5;
$secondary-700: #008282;
$secondary-800: #066769;
$secondary-900: #0a5757;
$secondary-colors: (
  secondary-50 : $secondary-50,
  secondary-100: $secondary-100,
  secondary-200: $secondary-200,
  secondary-300: $secondary-300,
  secondary-400: $secondary-400,
  secondary-500: $secondary-500,
  secondary-600: $secondary-600,
  secondary-700: $secondary-700,
  secondary-800: $secondary-800,
  secondary-900: $secondary-900
);

// accent
$accent-50 : #fffaea;
$accent-100: #fff2c5;
$accent-200: #ffe586;
$accent-300: #ffd146;
$accent-400: #ffbc1c;
$accent-500: #fe9903;
$accent-600: #e17100;
$accent-700: #bb4c02;
$accent-800: #973b09;
$accent-900: #7c310b;
$accent-colors: (
  accent-50 : $accent-50,
  accent-100: $accent-100,
  accent-200: $accent-200,
  accent-300: $accent-300,
  accent-400: $accent-400,
  accent-500: $accent-500,
  accent-600: $accent-600,
  accent-700: $accent-700,
  accent-800: $accent-800,
  accent-900: $accent-900
);

// success
$success-50 : #e8ffe6;
$success-100: #cbffc8;
$success-200: #9dfe98;
$success-300: #60fa5c;
$success-400: #2df02b;
$success-500: #0cd60d;
$success-600: #05ab09;
$success-700: #09820e;
$success-800: #0d6211;
$success-900: #115616;
$success-colors: (
  success-50 : $success-50,
  success-100: $success-100,
  success-200: $success-200,
  success-300: $success-300,
  success-400: $success-400,
  success-500: $success-500,
  success-600: $success-600,
  success-700: $success-700,
  success-800: $success-800,
  success-900: $success-900
);

// info
$info-50 : #ebf9ff;
$info-100: #d1f3ff;
$info-200: #aeeaff;
$info-300: #76dfff;
$info-400: #35cbff;
$info-500: #07a8ff;
$info-600: #0083ff;
$info-700: #006aff;
$info-800: #0057d7;
$info-900: #004ba1;
$info-colors: (
  info-50 : $info-50,
  info-100: $info-100,
  info-200: $info-200,
  info-300: $info-300,
  info-400: $info-400,
  info-500: $info-500,
  info-600: $info-600,
  info-700: $info-700,
  info-800: $info-800,
  info-900: $info-900
);

// warning
$warning-50 : #ffffea;
$warning-100: #fffbc5;
$warning-200: #fff885;
$warning-300: #ffee46;
$warning-400: #ffdf1b;
$warning-500: #ffc107;
$warning-600: #e29400;
$warning-700: #bb6902;
$warning-800: #985108;
$warning-900: #7c420b;
$warning-colors: (
  warning-50 : $warning-50,
  warning-100: $warning-100,
  warning-200: $warning-200,
  warning-300: $warning-300,
  warning-400: $warning-400,
  warning-500: $warning-500,
  warning-600: $warning-600,
  warning-700: $warning-700,
  warning-800: $warning-800,
  warning-900: $warning-900
);

// dangers
$danger-50 : #ffefef;
$danger-100: #ffdcdd;
$danger-200: #ffbfc0;
$danger-300: #ff9294;
$danger-400: #ff5457;
$danger-500: #ff1f23;
$danger-600: #ff0004;
$danger-700: #db0004;
$danger-800: #b00003;
$danger-900: #94080a;
$danger-colors: (
  danger-50 : $danger-50,
  danger-100: $danger-100,
  danger-200: $danger-200,
  danger-300: $danger-300,
  danger-400: $danger-400,
  danger-500: $danger-500,
  danger-600: $danger-600,
  danger-700: $danger-700,
  danger-800: $danger-800,
  danger-900: $danger-900
);

// grays
$gray-50 : #f7f8f8;
$gray-100: #ebeeef;
$gray-200: #d8dddf;
$gray-300: #b6c1c3;
$gray-400: #8f9fa3;
$gray-500: #6e8287;
$gray-600: #586a6f;
$gray-700: #46585d;
$gray-800: #3a4b50;
$gray-900: #324348;
$gray-colors: (
  gray-50 : $gray-50,
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900
);


@mixin createUtilities($map, $utilityClass, $attribute) {

  @each $primaryKey,
  $val in $map {
    .#{$utilityClass}-#{$primaryKey} {
      #{$attribute}:#{$val};
    }
  }
}

@include createUtilities($primary-colors, 'bg', 'background-color');
@include createUtilities($primary-colors, 'text', 'color');
@include createUtilities($secondary-colors, 'bg', 'background-color');
@include createUtilities($secondary-colors, 'text', 'color');
@include createUtilities($accent-colors, 'bg', 'background-color');
@include createUtilities($accent-colors, 'text', 'color');
@include createUtilities($info-colors, 'bg', 'background-color');
@include createUtilities($info-colors, 'text', 'color');
@include createUtilities($success-colors, 'bg', 'background-color');
@include createUtilities($success-colors, 'text', 'color');
@include createUtilities($warning-colors, 'bg', 'background-color');
@include createUtilities($warning-colors, 'text', 'color');
@include createUtilities($danger-colors, 'bg', 'background-color');
@include createUtilities($danger-colors, 'text', 'color');
@include createUtilities($gray-colors, 'bg', 'background-color');
@include createUtilities($gray-colors, 'text', 'color');
