// primary
$primary-50 : #f4fcff;
$primary-100: #e9f8ff;
$primary-200: #d4ecfe;
$primary-300: #b4ddf8;
$primary-400: #6facdd;
$primary-500: #3c7eb3;
$primary-600: #245e8c;
$primary-700: #104a78;
$primary-800: #00284d;
$primary-900: #001646;

// secondary
$secondary-50 : #eefffc;
$secondary-100: #c5fffa;
$secondary-200: #8bfff5;
$secondary-300: #4afef0;
$secondary-400: #15ece2;
$secondary-500: #00d0c9;
$secondary-600: #00a8a5;
$secondary-700: #008282;
$secondary-800: #066769;
$secondary-900: #0a5757;

// accent
$accent-50 : #fffaea;
$accent-100: #fff2c5;
$accent-200: #ffe586;
$accent-300: #ffd146;
$accent-400: #ffbc1c;
$accent-500: #fe9903;
$accent-600: #e17100;
$accent-700: #bb4c02;
$accent-800: #973b09;
$accent-900: #7c310b;

// success
$success-50 : #e8ffe6;
$success-100: #cbffc8;
$success-200: #9dfe98;
$success-300: #60fa5c;
$success-400: #2df02b;
$success-500: #0cd60d;
$success-600: #05ab09;
$success-700: #09820e;
$success-800: #0d6211;
$success-900: #115616;

// info
$info-50 : #ebf9ff;
$info-100: #d1f3ff;
$info-200: #aeeaff;
$info-300: #76dfff;
$info-400: #35cbff;
$info-500: #07a8ff;
$info-600: #0083ff;
$info-700: #006aff;
$info-800: #0057d7;
$info-900: #004ba1;

// warning
$warning-50 : #ffffea;
$warning-100: #fffbc5;
$warning-200: #fff885;
$warning-300: #ffee46;
$warning-400: #ffdf1b;
$warning-500: #ffc107;
$warning-600: #e29400;
$warning-700: #bb6902;
$warning-800: #985108;
$warning-900: #7c420b;

// dangers
$danger-50 : #ffefef;
$danger-100: #ffdcdd;
$danger-200: #ffbfc0;
$danger-300: #ff9294;
$danger-400: #ff5457;
$danger-500: #ff1f23;
$danger-600: #ff0004;
$danger-700: #db0004;
$danger-800: #b00003;
$danger-900: #94080a;

// grays
$gray-50 : #f7f8f8;
$gray-100: #ebeeef;
$gray-200: #d8dddf;
$gray-300: #b6c1c3;
$gray-400: #8f9fa3;
$gray-500: #6e8287;
$gray-600: #586a6f;
$gray-700: #46585d;
$gray-800: #3a4b50 ;
$gray-900: #324348;
