@charset "UTF-8";

@import "bootstrap/scss/mixins/banner";
@include bsBanner("");

@import "bootstrap/scss/functions";

// pelican defaults
@import "default-theme";

// bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// merge theme colors
$theme-colors: map-merge($theme-colors, $custom-colors);

// import bootstrap
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

// pelican changes to bootstrap
@import "mixins";
@import "reboot";
@import "mixins";
@import "alert";
@import "badge-chip";
@import "breadcrumb";
@import "breadcrumb";
@import "buttons";
@import "card";
@import "content-container";
@import "data-tiles";
@import "feature";
@import "footer";
@import "forms";
@import "form-check";
@import "custom-forms";
@import "hero";
@import "images";
@import "list-group";
@import "modal";
@import "nav";
@import "official-banner";
@import "page-title";
@import "progress";
@import "share-social";
@import "sidebar";
@import "skip-to-main";
@import "tables";
@import "toasts";
@import "focus";
@import "bg-texture";
@import "pagination";
@import "toc";
@import "page-templates";

// this next partial sets the CSS Variables
// which can be overridden in a separate CSS file
@import "default-theme-variables";
//@import "option-variables";

@import "utilities";
@import "print";
