<div class="feature-cta bg-secondary">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-6 text-center text-lg-start">
        <p class="feature-big-text text-white">Start using Pelican now.</p>
      </div>
      <div class="col-10 col-md-6 text-center text-lg-end">
        <a href="/get-started/" class="btn btn-white btn-lg">
          Get Started<span class="fas fa-arrow-right ms-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
