<footer class="footer footer-basic toggled mt-0">
  <div class="container" role="navigation" aria-label="Footer navigation" id="FooterNavigation">
    <div class="links-wrapper" role="navigation">
      <a class="btn btn-link" href="https://pelican.ots.la.gov/">Pelican</a>
      <a class="btn btn-link" href="/accessibility/accessibility-statement/">Accessibility Statement</a>
      <a class="btn btn-link" href="https://www.doa.la.gov/doa/ots/" target="blank">Office of Technology Services</a>
      <a class="btn btn-link" href="/feedback/">Feedback</a>
    </div>
  </div>
</footer>
