<nav class="navbar navbar-basic">
  <div class="container">
    <h1 class="home-logo">
      <img class="" alt="Pelican Design System logo." src="/img/Pelican-Design-System-Logo.svg">
      <span class="visually-hidden">Pelican Design System</span>
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationItems"
      aria-controls="navigationItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="opacity-50 fas fa-bars me-1" aria-hidden="true"></span>Menu
    </button>
    <div class="collapse navbar-collapse" id="navigationItems">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/whats-new/">What’s New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/get-started/">Get Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback/">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accessibility/accessibility-statement/">Accessibility Statement</a>
        </li>
      </ul>
    </div>
  </div>
</nav>