<div class="card">
  <div class="card-body">
    <details id="toc">
      <summary class="summary">On this page:</summary>
      <nav class="toc">
        {{content | toc | safe }}
      </nav>
    </details>
  </div>
</div>
