---
layout: default.njk
---

  <div class="container-fluid mb-auto" id="main">
    <div class="row">
      {%- set navPages = collections.all | eleventyNavigation %}
      {%- for entry in navPages %}
        {%- if entry.url in page.url %}
          {%- for child in entry.children %}
            <div class="col-12 col-lg-6 col-xl-4 mb-4">
              <div class="card h-100">
                <div class="card-body d-flex flex-column">
                  {%- if child.img %}
                    <img src="{{ child.img }}" class="img-fluid mb-4 gray-hover-color" aria-hidden="true"/>
                  {%- endif %}
                  <h2 class="h4 mb-4">{{ child.title }}</h2>
                  <p class="mb-2">{{ child.excerpt }}</p>
                  <a href="{{ child.url }}" class="btn-link-card">
                  Read More <span class="visually-hidden">about {{ child.title }}</span>
                  <span class="fas fa-arrow-right" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          {%- endfor %}
        {%- endif %}
      {%- endfor %}
    </div>
  </div>
</div>
