---
layout: default.njk
---

{% include "page-title.njk" %}
<div class="container-fluid">
  <div class="row gx-4 gy-1" role="list">
    {%- set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
      {%- if entry.url in page.url %}
        {%- for child in entry.children %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3" role="listitem">
            <div class="card shadow-none">
              <div class="card-body">
                <a href="{{ child.url }}" class="text-decoration-none d-flex align-items-center stretched-link">
                  {{child.title}}<span class="fas fa-arrow-right ml-auto ms-auto opacity-25" aria-hidden="true"></span>                
                </a>
              </div>
            </div>
          </div>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  </div>
</div>
