---
layout: default.njk
---

{% include "page-title.njk" %}
<div class="container-fluid">
  <div class="row g-2 mb-5" role="list">
    {%- set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
      {%- if entry.url in page.url %}
        {%- for child in entry.children %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3" role="listitem">
            <div class="card mb-0 shadow-none h-100">
              <div class="card-body">
                {%- if child.img %}
                <img alt="" src="{{ child.img }}" class="w-100 mb-3 gray-hover-color" aria-hidden="true"/>
                {%- endif %}
                <a href="{{ child.url }}" class="stretched-link area-page-link">
                  <span class="icon fas fa-arrow-right me-2" aria-hidden="true"></span> 
                  {{ child.title }}          
                </a>
              </div>
            </div>
          </div>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  </div>
</div>
