---
layout: base.njk
---

{% include 'markup/skip-link.njk' %}

<div id="page-wrapper" class="page-wrapper agency-theme">
  <div id="wrapper-main" class="wrapper-main d-flex flex-column">
    {% include 'markup/official-banner.njk' %}
    {% include 'markup/navbar-basic.njk' %}
      <main id="main" class="main flex-fill" role="main">          
        {{ content | safe }}
      </main>
      {% include 'markup/footer-utility.njk' %}
  </div>
</div>

{% include 'markup/button-back-to-top.njk' %}
