---
layout: base.njk
---

{% include "markup/skip-link.njk" %}
{% include "app-topbar.njk" %}
{% include "sidebar-internal.njk" %}
<main class="app-content d-flex flex-column" id="app-content">
  <div class="flex-fill">
    {{ content | safe }}
  </div>
  {% include "markup/footer-basic.njk" %}
</main>
