---
layout: base.njk
---

{% include 'markup/skip-link.njk' %}

<div id="page-wrapper" class="page-wrapper agency-theme">
  {% include "sidebar-internal.njk" %}

  <div id="wrapper-main" class="wrapper-main">
    <div class="page-content d-flex flex-column">
      {% include "header.njk" %}
      <main id="main" class="main flex-fill" role="main">          
        {{ content | safe }}
      </main>
      {% include 'markup/footer-basic.njk' %}
    </div>
  </div>
</div>

{% include 'markup/button-back-to-top.njk' %}
