---
layout: base.njk
---

<div id="site-container" class="site-container">
  {% include "sidebar-internal.njk" %}
  {% include "header.njk" %}
  <main id="main" class="site-main">         
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</div>
