---
layout: base.njk
---

<div id="site-container" class="site-container">
  {% include 'markup/official-banner.njk' %}
  {% include 'markup/navbar-basic.njk' %}
  <main id="main" class="site-main no-side-toggle" style="padding-top: 0;">
    {{ content | safe }}
  </main>
  {% include 'markup/footer-utility.njk' %}
</div>
