---
layout: base.njk
---

{% include "markup/skip-link-markup.njk" %}
{% include "markup/back-to-top.njk" %}
{% include "app-topbar.njk" %}

{% include "sidebar.njk" %}
<main class="app-content" id="main">
  {% include "page-title.njk" %}
  {{ content | safe }}
</main>
{% include "footer.njk" %}
