---
layout: base.njk
---

{% include "markup/skip-link.njk" %}
{%- include "markup/navbar-basic.njk" -%}
<main class="d-flex flex-column" style="height:100vh">
  <div class="flex-fill">
    {{ content | safe }}
  </div>
  {%- include "markup/footer-utility.njk" -%}
</main>
