---
layout: base.njk
---

{% include "markup/skip-link-markup.njk" %}
{% include "markup/app-topbar.njk" %}
<div class="app-wrapper">
  {% include "sidebar.njk" %}
  <main class="app-content" id="app-content">
    {% include "page-title.njk" %}
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</div>
{% include "markup/back-to-top.njk" %}
