---
layout: default.njk
---

{% include "page-title.njk" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      {% include "page-contents.njk" %}
    </div>
  </div>
</div>
<div class="content-container content-area bg-less-bright">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {{ content | safe }}
      </div>
    </div>
  </div>
</div>
{% include "page-navigation.njk" %}
