---
layout: default.njk
---

<div class="content-container mb-auto" id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-3 order-xl-1" aria-hidden="true">
        {% include "page-contents.njk" %}
      </div>
      <div class="col-12 col-xl-9 order-xl-0">
        {{ content | safe }}        
      </div>
    </div>
  </div>
</div>

{% include "page-navigation.njk" %}
