---
layout: default.njk
---

{% set navPages = collections.all | eleventyNavigation %}

<div class="content-container" id="main">
  <div class="container-fluid">
    {% for entry in navPages %}
    <div class="row">
      <div class="col-12">
        <h2 class=""><a class="text-decoration-none " href="{{ entry.url | url }}">{{ entry.title }}</a></h2>
        {% if entry.children.length > 0 %}
        <ul class="list-columns">
          {% for child in entry.children %}
          <li>
            <a class="text-decoration-none" href="{{ child.url | url }}">{{ child.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% if not loop.last %}
      <div class="col-12">
        <hr class="minor">
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
