---
layout: default.njk
---

{% set navPages = collections.all | eleventyNavigation %}
<div id="main">
  {% for entry in navPages %}
  <div class="container">
    <div class="row">
      <div class="-col-12">
        <h2 class="h4 mt-10">
          <a class="text-decoration-none d-flex" href="{{ entry.url | url }}">
            <span class="badge badge-info">{{ entry.order }}</span>
            &thinsp; {{ entry.title }}
          </a>
        </h2>
        <p class="lead">{{ entry.excerpt }}</p>
      </div>
    </div>
    {% if entry.children.length > 0 %}
    <div class="row">
      {% for child in entry.children %}
      <div class="col-12 col-md-6 col-lg-3 {% if not loop.last %}mb-4{% endif %}">
        <div class="card">
          <div class="card-body">
            <p class="p mb-0">
              <a class="text-decoration-none stretched-link" href="{{ child.url | url }}">{{ child.title }}</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% if not loop.last %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr class="major mt-12">
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="bg-white py-38 mt-12 mb-n12">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="h2 mb-6 text-primary">Start using Pelican.</p>
        <a href="/get-started" class="btn btn-primary btn-lg">Get started</a>
      </div>
    </div>
  </div>
</div>