---
layout: default.njk
---
{% set navPages = collections.all | eleventyNavigation %}
{% include "page-title.njk" %}

<div class="content-container mb-0">
  {% for entry in navPages %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="h4 mt-12">
          <a class="text-decoration-none d-flex" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </h2>
        <p class="lead">{{ entry.excerpt }}</p>
      </div>
    </div>
    {% if entry.children.length > 0 %}
    <div class="row">
      {% for child in entry.children %}
      <div class="col-12 col-sm-6 col-lg-3 mb-6">
        <div class="card shadow-none border-0">
          <div class="card-body">
            <p class="p mb-0">
              <a class="text-decoration-none stretched-link" href="{{ child.url | url }}">{{ child.title }}</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% if not loop.last %}
  <hr class="minor my-4">
  {% endif %}
  {% endfor %}
</div>

<div class="feature-cta bg-secondary">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-6 text-center text-lg-left">
        <p class="feature-big-text">Start using Pelican.</p>
      </div>
      <div class="col-10 col-md-6 text-center text-lg-right">
        <a href="/get-started" class="btn btn-primary btn-lg">Get started</a>
      </div>
    </div>
  </div>
</div>
