---
layout: nav-site-internal.njk
---
{% set navPages = collections.all | eleventyNavigation %}

{% include "site-blocks/breadcrumbs.njk" %}
{% include "site-blocks/page-title.njk" %}
{{ content | safe }}
  