---
layout: base.njk
---

<!-- need to replace these with generic document components -->
{% include "sidebar-internal.njk" %}
{% include "header.njk" %}
<main id="main" class="site-main">         
  {{ content | safe }}
</main>
{% include 'site-blocks/footer-utility.njk' %}
