---
layout: base.njk
---

<!-- need to replace these with generic document components -->
<nav id="site-nav" class="site-nav">
  <div class="site-nav-content">
    <div class="site-nav-brand">
      <a href="{{ '/' | url }}" class="me-auto">
        <img src="/img/favicon.png" class="d-none d-md-inline me-1" alt="Pelican Design System icon" /><span
          class="d-none d-md-inline">Pelican <span class="visually-hidden">Home</span></span>
      </a>
    </div>
  </div>
</nav>
<div id="site-topbar" class="site-topbar">
  <button tabindex="3" type="button" id="site-toggler"
    class="btn btn-black btn-sm text-white shadow-none sidebar-button">
    <span aria-hidden="true">☰</span>
    <span class="visually-hidden">Toggle side navigation availability</span>
  </button>
  <p class="m-0 fw-bold order-lg-2 me-auto">
    <a href="{{ '/' | url }}" class="d-md-none text-white text-decoration-none" tabindex="2">
      <img src="/img/favicon.png" class="d-md-none" alt="Pelican Design System icon" />
      <span class="">Pelican Design System</span>
    </a>
    <span class="d-none d-md-inline" tabindex="-1">{{ title }}</span>
  </p>
</div>
<main id="main" class="site-main">         
  {{ content | safe }}
</main>
{% include 'markup/components/footer-utility-toggle.njk' %}
