---
layout: base.njk
---

{% include 'site-blocks/official-banner.njk' %}
{% include 'site-blocks/navbar-home.njk' %}
<main id="main" class="site-main no-side-toggle" style="padding-top: 0;">
  {{ content | safe }}
</main>
{% include 'site-blocks/footer-basic.njk' %}
