---
layout: base.njk
---

<a id="SkipToMain" class="skip-to-main" href="#main" tabindex="1">Skip to Main Content</a>
<div id="page-wrapper" class="page-wrapper agency-theme">
  {% include "sidebar.njk" %}
  <div id="wrapper-main" class="wrapper-main">
    <div class="page-content d-flex flex-column">
      {% include "header.njk" %}
      <div class="row" style="position:fixed; width:100%; top:0; left:0; z-index:900; pointer-events: none;">
        <div class="col">
        </div>
        <div class="col-auto mt-4 mr-2" style="pointer-events: auto;">
          {% include 'markup/toast-info.njk' %}
          {% include 'markup/toast-danger.njk' %}
          {% include 'markup/toast-success.njk' %}
        </div>
      </div>
      <main id="main" class="main flex-fill" role="main">          
        {{ content | safe }}
      </main>
      {% include 'markup/footer-utility.njk' %}
    </div>
  </div>
</div>
{% include 'markup/button-back-to-top.njk' %}
