<div class="app-topbar">
	<div class="logo">
		<a href="{{ '/' | url }}" class="logo mr-auto">
			<img src="/img/favicon.png" alt="Logo." class="img-fluid">
			Pelican
		</a>
	</div>
	<button type="button" id="app-frame-trigger" class="btn btn-black">
		<span class="fas fa-bars"></span>
	</button>
	<p class="screen-title">{{ title }}</p>
</div>