<div class="bg-white py-30" id="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-lg-4 mt-8 mt-lg-0">
                <h2 class="h2 font-weight-bold text-primary mb-4">Residents will benefit.</h2>
                <p>A common, shared visual language, with best practices and accessibility in mind, will instill trust and confidence.</p>
            </div>
            <div class="col-10 offset-1 col-lg-5">
                <img src="/img/photos/collage.jpg" alt="Photos of groups of people, smiling and happy.'" class="img-fluid rounded shadow-sm">
            </div>
        </div>
    </div>
</div>