<div class="bg-white py-30" id="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 offset-lg-0 col-lg-6 mt-8 mt-lg-0">
                <h2 class="h2 font-weight-bold text-primary mb-4">Residents will benefit.</h2>
                <p>A common, shared visual language, with best practices and accessibility in mind, across Louisiana’s digital products can help enable trust and confidence with citizens.</p>
            </div>
            <div class="col-10 offset-1 offset-lg-0 col-lg-6">
                <img src="/img/photos/collage.jpg" alt="Photos of groups of people, smiling and happy.'" class="img-fluid rounded shadow-sm">
            </div>
        </div>
    </div>
</div>