<div id="Section1" class="benefit-icons-text py-30 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-lg-4">
                <h2 class="h2 text-primary font-weight-bold mb-4 ">Teams will benefit.</h2>
                <p class="mb-8 mb-lg-0 text-primary">Pelican simplifies the planning, design, and development of digital products. It is a shared visual language and common code patterns. </p>
            </div>
            <div class="col-10 offset-1 col-lg-5 ">
                <div class="display-4 text-center d-flex justify-content-center">
                    <span class="fas fa-fw fa-swatchbook text-primary"></span>
                    <span class="fas fa-fw fa-code text-primary mx-16"></span>
                    <span class="fas fa-fw fa-hands-helping text-primary"></span>
                </div>
            </div>
        </div>
    </div>
</div>