<div class="bg-secondary py-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-lg-4 mt-8 mt-lg-0">
                <h2 class="h2 font-weight-bold text-white mb-4">Agencies will benefit.</h2>
                <p class="text-white">Using Pelican’s pre-built components, stakeholders and product owners will quickly see possible solutions, saving both time and resources.</p>
            </div>
            <div class="col-10 offset-1 col-lg-5">
                <img src="/img/photos/pexels-fauxels-3184291 1.jpg" alt="Photo of a team around a table, two members shaking hands.'" class="img-fluid rounded shadow-sm">
            </div>
        </div>
    </div>
</div>
