{% set entries = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/' | url }}">
        <span class="fas fa-home" aria-hidden="true"></span>
        <span class="visually-hidden">Home</span>
      </a>
    </li>
    {%- for entry in entries %}
      {% if entry.key == eleventyNavigation.key %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ entry.title }}<span class="fas fa-eye ms-1" aria-hidden="true"></span>
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{{ entry.url | url }}">
            {{ entry.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
