{% set entries = collections.all | eleventyNavigation %}
<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/' | url }}">
        <span class="fas fa-home" aria-hidden="true"></span>
        <span class="sr-only">Home</span>
      </a>
    </li>
    {%- for entry in entries %}
      {% if entry.url == page.url %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ entry.title }}<span class="fas fa-eye ml-1" aria-hidden="true"></span>
        </li>
      {% elif entry.url in page.url %}
        {% if entry.children.length > 0 %}
          <li class="breadcrumb-item">
            <a href="{{ entry.url | url }}">
              {{ entry.title }}
            </a>
          </li>
          {%- for child in entry.children %}
            {% if child.url == page.url %}
              <li class="breadcrumb-item active" aria-current="page">
                {{ child.title }}<span class="fas fa-eye ml-1" aria-hidden="true"></span>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>
</nav>
