**Primary Brand Colors**

<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-primary rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">Primary</p>
                <p class="mb-0">
                    Hex Code: <code>#00284d</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$primary</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-primary-10 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">Primary, Lighter</p>
                <p class="mb-0">
                    Hex Code: <code>#b3bfca</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$primary-10</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-primary-90 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">Primary, Darker</p>
                <p class="mb-0">
                    Hex Code: <code>#00203e</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$primary-90</code>
                </p>
            </div>
        </div>
    </div>
</div>

**Secondary Brand Colors**

<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-secondary rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">secondary</p>
                <p class="mb-0">
                    Hex Code: <code>#14847f</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$secondary</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-secondary-10 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">secondary, Lighter</p>
                <p class="mb-0">
                    Hex Code: <code>#a8eae7</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$secondary-10</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-secondary-90 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">secondary, Darker</p>
                <p class="mb-0">
                    Hex Code: <code>#105a57</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$secondary-90</code>
                </p>
            </div>
        </div>
    </div>
</div>

**Accent Brand Colors**

<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-accent rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">accent</p>
                <p class="mb-0">
                    Hex Code: <code>#fe9903</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$accent</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-accent-10 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">accent, Lighter</p>
                <p class="mb-0">
                    Hex Code: <code>#ffe0b3</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$accent-10</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-accent-90 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">accent, Darker</p>
                <p class="mb-0">
                    Hex Code: <code>#bf5102</code>
                </p>
                <p class="mb-0">
                    SCSS Var: <code>$accent-90</code>
                </p>
            </div>
        </div>
    </div>
</div>
