**Primary Brand Colors**

<div class="row mb-12">
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-primary rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">Primary</p>
                <p class="mb-0">
                    <code>#00284d</code>
                </p>
                <p class="mb-0">
                    <code>$primary</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-primary-10 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">Primary, Lighter</p>
                <p class="mb-0">
                    <code>#c0cedb</code>
                </p>
                <p class="mb-0">
                    <code>$primary-10</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-primary-90 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">Primary, Darker</p>
                <p class="mb-0">
                    <code>#00203e</code>
                </p>
                <p class="mb-0">
                    <code>$primary-90</code>
                </p>
            </div>
        </div>
    </div>
</div>

**Secondary Brand Colors**

<div class="row mb-12">
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-secondary rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">secondary</p>
                <p class="mb-0">
                    <code>#fe9903</code>
                </p>
                <p class="mb-0">
                    <code>$secondary</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-secondary-10 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">secondary, Lighter</p>
                <p class="mb-0">
                    <code>#fff1d6</code>
                </p>
                <p class="mb-0">
                    <code>$secondary-10</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-secondary-90 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">secondary, Darker</p>
                <p class="mb-0">
                    <code>#724501</code>
                </p>
                <p class="mb-0">
                    <code>$secondary-90</code>
                </p>
            </div>
        </div>
    </div>
</div>

**Accent Brand Colors**

<div class="row mb-12">
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-accent rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">accent</p>
                <p class="mb-0">
                    <code>#008282</code>
                </p>
                <p class="mb-0">
                    <code>$accent</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-accent-10 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">accent, Lighter</p>
                <p class="mb-0">
                    <code>#ccfcff</code>
                </p>
                <p class="mb-0">
                    <code>$accent-10</code>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card border-0 mb-4">
            <div class="py-20 bg-accent-90 rounded-top"></div>
            <div class="card-body">
                <p class="mb-0 fw-bold">accent, Darker</p>
                <p class="mb-0">
                    <code>#005459</code>
                </p>
                <p class="mb-0">
                    <code>$accent-90</code>
                </p>
            </div>
        </div>
    </div>
</div>
