## Cards or Tables?

[Cards](/components/cards) are useful for content browsing and [Tables](/components/tables/) are used to present data, though their use can be influenced by use case.

* Use a card if the user is browsing information.
* Use a table if the user needs to compare the information.
   
The Product Owner and Stakeholders first, followed by the Business Analyst, should decide which to use.
