## Color Variations

All colors have variants available for use. They can be used in alternate themes such as dark mode. Refer to the CSS file `your-theme.css` in the [repository for Pelican](https://github.com/la-ots/pelican/blob/main/docs/css/your-theme.css) to learn about all of the color variations.
