<footer class="footer footer-utility" id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <a class="brand-link" href="https://www.doa.la.gov/Pages/ots/Index.aspx" target="_blank">
        <div class="brand-logo">
          <span class="sr-only visually-hidden">Office of Technology Services</span>
          {% include 'logo.njk' %}	
          </div>
        </a>
      </div>
    </div>
    <hr class="major">
    <div class="row">
      <div class="col-12">
        <a href="/sitemap" class="btn btn-accent">
          <span class="fas fa-map mr-1 me-1" aria-hidden="true"></span>Sitemap
        </a>
        <a href="/feedback" class="btn btn-accent ml-2 ms-2">
          <span class="fas fa-comment-alt mr-1 me-1" aria-hidden="true"></span>Give Feedback
        </a>
      </div>
    </div>
  </div>
</footer>
