<footer class="footer footer-utility">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12">
            <span class="sr-only">Office of Technology Services</span>
             <img src="/img/Logo.svg" alt="Logo."> 
          </div>
      </div>
      <hr class="major my-5">
      <div class="row align-items-center">
          <div class="col-xs-12 col-md-6 text-end text-center text-md-end mt-4 mt-md-0">
              <a href="/sitemap" class="btn btn-secondary">
                  <span class="fas fa-map"></span>
                  Sitemap
              </a>
              <a href="/feedback" class="btn btn-secondary">
                  <span class="fas fa-comment-alt"></span>
                  Give Feedback
              </a>
          </div>
      </div>
  </div>
</footer>

