<div class="bg-primary text-white py-20 px-lg-12" style="margin-bottom: -48px;">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-4">
        <p class="h2 mb-4 mb-md-0 text-center">Let’s begin.</p>
      </div>
      <div class="col-10 col-md-4 text-center">
        <a href="/get-started/" class="btn btn-accent btn-lg">
          Get Started 
          <span class="fas fa-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>