<div id="site-topbar" class="site-topbar">
  <button tabindex="3" type="button" id="site-toggler" class="btn btn-black btn-sm text-white shadow-none me-2">
    <span aria-hidden="true">☰</span>
    <span class="visually-hidden">Toggle side navigation availability</span>
  </button>
  <p class="m-0 font-weight-bold order-lg-2 mr-auto">
    <a href="{{ '/' | url }}" class="d-md-none text-white text-decoration-none" tabindex="2">
      <img src="/img/favicon.png" class="d-md-none" alt="Pelican Design System icon" />
      <span class="">Pelican Design System</span>
    </a>
    <span class="d-none d-md-inline" tabindex="-1">{{ title }}</span>
  </p>
</div>
