<div id="wrapper-topbar" class="wrapper-topbar bg-black text-white">
  <p class="m-0 font-weight-bold order-lg-2 mr-auto">
    <a href="{{ '/' }}" class="d-md-none text-white text-decoration-none" tabindex="2">
      <img src="/img/favicon.png" class="d-md-none" alt="Pelican Design System icon" />
      <span class="">Pelican Design System</span>
    </a>
    <span class="d-none d-md-inline" tabindex="-1">{{ title }}</span>
  </p>
  <div class="dropdown order-lg-3">
    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      {# this text should change to reflect the version #}
      {# swapping the .d- classes will work #}
      <span class="d-inline">v1.1.3</span>
      <span class="d-none">v2.0</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#">v1.1.3</a>
      </li>
      <li>
        {# <a class="dropdown-item" href="{% basePageUrl "/" %}">v2.0</a> #}
        {% basePageUrl "/", "v2.0" %}
      </li>
    </ul>
  </div>
  <button id="sidebar-button" class="btn btn-sm btn-black sidebar-button" tabindex="3">
    <span class="fas fa-fw fa-bars" aria-hidden="true"></span>
    <span class="sr-only">Toggle side navigation</span>
  </button>
</div>
