<div id="wrapper-topbar" class="wrapper-topbar bg-black text-white">
  <p class="m-0 font-weight-bold order-lg-2 mr-auto">
    <a href="{{ '/' | url }}" class="d-md-none text-white text-decoration-none" tabindex="2">
      <img src="/img/favicon.png" class="d-md-none" alt="Pelican Design System icon" />
      <span class="">Pelican Design System</span>
    </a>
    <span class="d-none d-md-inline" tabindex="-1">{{ title }}</span>
  </p>
  <a id="sidebar-button" class="btn btn-sm btn-black sidebar-button" href="javascript://" role="button" tabindex="3">
    <span class="fas fa-fw fa-bars" aria-hidden="true"></span>
    <span class="sr-only">Toggle side navigation visibility</span>
  </a>
</div>
