<footer class="footer footer-basic mt-0" id="FooterNavigation">
	<div class="container" >
		<nav class="links-wrapper" aria-label="Footer Links">
			<a class="btn btn-link" href="https://www.doa.la.gov/doa/ots/" target="blank">Office of Technology Services</a>
			<a class="btn btn-link" href="/accessibility/accessibility-statement/">Accessibility Statement</a>
			<a class="btn btn-link" href="https://pelican.ots.la.gov/">Pelican Home</a>
			<a class="btn btn-link" href="/feedback/">Give Feedback</a>
		</nav>
	</div>
</footer>
