<section class="hero-dual-pane hero-home" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');" role="banner" aria-label="Pelican Design System">
	<div class="overlay overlay-left"></div>
	<div class="overlay overlay-right"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10 col-md-7 col-lg-6 text-center text-lg-left text-lg-start">
				<img src="/img/favicon.png" alt="" class="logo" aria-hidden="true">
				<p class="hero-big-text">Pelican 2</p>
				<p class="hero-lead-text">Louisiana’s Design System</p>
			</div>
			<div class="col-10 col-md-7 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center text-lg-left text-lg-start">
				<a href="/get-started/" class="btn btn-accent btn-lg d-light">Get Started<span class="opacity-50 icon fas fa-arrow-right ms-1" aria-hidden="true"></span></a>
				<a href="/get-started/" class="btn btn-white btn-lg d-dark">Get Started<span class="opacity-50 icon fas fa-arrow-right ms-1" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>
</section>
