<div class="hero hero-centered">
  <img alt="Pelican Design System illustration." class="img-fluid" src="/img/favicon.png" style="width: 128px;">
  <h1 class="header text-accent">Pelican</h1>
  <div class="col-12 mx-auto">
    <p class="sentence">Create modern, consistent, equitable digital products with Louisiana’s Design System.</p>
    <a href="/get-started/" class="btn btn-accent btn-lg px-4 me-sm-3">
      Get Started
      <span class="fas fa-arrow-right"></span>
    </a>
  </div>
  <div class="container mt-16">
    <img src="/img/photos/Baton-Rouge-Bridge-crop.jpg" class="img-fluid border rounded-3 shadow-lg mb-n16" alt="Bridge into Baton Rouge." >
  </div>
</div>