<div role="alert" class="alert alert-accent bg-accent text-black border-0 rounded-0 mb-0 text-center">
	<p class="mb-0"><span class="fw-bold">Introducing Pelican 2!</span><br class="d-block d-md-none"> You can still get <a href="/v1" class="text-black fw-bold">Pelican 1</a> if you need it.</p>
</div>
