<footer class="footer footer-basic">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://www.doa.la.gov/doa/ots/" target="_blank">Office of Technology Services</a>
                <a href="https://github.com/la-ots/pelican" target="_blank">Pelican Repo</a>
                <a href="https://www.doa.la.gov/doa/ots/careers/" target="_blank">Careers @ OTS</a>
            </div>
        </div>
    </div>
</footer>