<div class="home-feature" role="listitem" aria-labelledby="{{ heading | slugify }}">
	<div class="icon-wrapper">
		<span class="icon fas {{ icon }}" aria-hidden="true"></span>
	</div>
	<div class="text-wrapper">
		<h3 id="{{ heading | slugify }}">{{ heading }}</h3>
		<p>{{ sentence }}</p>
	</div>
</div>
