<div class="page-title" id="pageTitle">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
        <div class="mb-2 mb-lg-0">
          <h1 class="page-title-text">{{ title }}</h1>
          <p class="mb-0">{{ summary }}</p>
        </div>
        <div>
          <a href="https://github.com/la-ots/pelican/tree/main/{{ page.inputPath }}" class="btn btn-primary btn-shadow" target="_blank">
              <span class="fab fa-github" aria-hidden="true"></span>
              Edit on GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
