<div class="card table-contents-page">
  <div class="card-body">
    <details id="onThisPage">
      <summary class="lead text-ui-priority">On this page:</summary>
      <div class="mt-2">
        {{content | toc | safe }}
      </div>
    </details>
  </div>
</div>
