<div class="page-title">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-xs-12">
              <h1>
                  <span class="fas fa-tachometer-alt text-primary-10"></span>
                  {{ title }}
              </h1>
              <p>{{ summary }}</p>
          </div>
      </div>
  </div>
</div>
