<div class="card">
  <div class="card-body">
    <details id="toc">
      <summary class="summary">On this page:</summary>
      <div class="mt-2">
        {{content | toc | safe }}
      </div>
    </details>
  </div>
</div>
