<div class="page-title">
  <div class="container-fluid">
      <div class="row align-items-center">
          {%- if eleventyNavigation.img %}
          <div class="col-xs-12 col-md-3">
              <img class="img-fluid rounded" src="{{ eleventyNavigation.img }}" alt="">
          </div>
          {%- endif %}
          <div class="col-xs-12 {%- if eleventyNavigation.img %} col-md-9{%- endif %}">
              <h1>{{ title }}</h1>
              <p>{{ summary }}</p>
          </div>
      </div>
  </div>
</div>
