{%- set navPages = collections.all | eleventyNavigation %}
{%- set nextPage = null %}
{%- set currentPage = null %}
{%- set previousPage = null %}
{%- for entry in navPages %}
  {%- if entry.url in page.url %}
    {%- for child in entry.children %}
      {# Set nextpage if it's empty and currentPage is not #}
      {%- if nextPage | length == 0 and currentPage | length %}
        {%- set nextPage = child %}
      {%- endif %}
      {%- if child.url == page.url %}        
        {%- set currentPage = child %}        
      {%- elseif currentPage | length == 0 %}
        {%- set previousPage = child %}
      {%- endif %}    
    {%- endfor %}
  {%- endif %}
{%- endfor %}

{% if previousPage | length or nextPage | length %}
<div class="btns-previous-next">
  <hr class="major"/>
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-6 col-md-3">
        {% if previousPage | length %}
        <a href="{{ previousPage.url | url }}" class="btn btn-outline-ui" id="btnPrev">
          <span class="fas fa-arrow-left fa-xs mr-1" aria-hidden="true"></span><span class="sr-only">Go to </span>Previous<span class="sr-only"> screen</span>
        </a>
        {% endif %}
      </div>
      <div class="col-6 col-md-3 text-right">
        {% if nextPage | length %}
        <a href="{{ nextPage.url | url }}" class="btn btn-primary" id="btnNext">
          <span class="sr-only">Go to </span>Next<span class="sr-only"> screen</span><span class="fas fa-arrow-right fa-xs ml-1" aria-hidden="true"></span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
