<hr class="major opacity-50 mb-0"/>

<nav class="" aria-label="Page navigation example">
  <ul class="pagination justify-content-center mr-lg-4 mb-lg-0">
      <li class="page-item">
          <a class="page-link" href="{{ pagination.href.previous }}" aria-label="Previous">
              <span class="fas fa-angle-double-left"></span>
          </a>
      </li>
        {%- if pagination.pageNumber - 1 >= 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ pagination.href.previous.previous }}">{{ pagination.pageNumber - 1 }}</a>
        </li>
        {%- endif %}
        {%- if pagination.pageNumber >= 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ pagination.href.previous }}">{{ pagination.pageNumber }}</a>
        </li>
        {%- endif %}
        <li class="page-item">
            <a class="page-link" href="">{{ pagination.pageNumber + 1 }}</a>
        </li>
        {%- if pagination.pageNumber + 2 <= pagination.pages.length %}
        <li class="page-item">
            <a class="page-link" href="{{ pagination.href.next }}">{{ pagination.pageNumber + 2 }}</a>
        </li>
        {%- endif %}
        {%- if pagination.pageNumber + 3 <= pagination.pages.length %}
        <li class="page-item">
            <a class="page-link" href="{{ pagination.href.next.next }}">{{ pagination.pageNumber + 3 }}</a>
        </li>
        {%- endif %}
      <li class="page-item">
          <a class="page-link" href="{{ pagination.href.next }}" aria-label="Next">
              <span class="fas fa-angle-double-right"></span>
          </a>
      </li>
  </ul>
</nav>
