{%- extends "../../node_modules/@la-ots/eleventy-plugin-pelican/layouts/page.njk" -%}

{%- block pageNavbar -%}
  {% include 'markup/navbar-basic.njk' %}
{%- endblock -%}

{%- block pageFooter -%}
  {% include 'markup/footer-utility.njk' %}
{%- endblock -%}
