{%- extends "../../node_modules/@la-ots/eleventy-plugin-pelican/layouts/page.njk" -%}

{%- block pageNavbar -%}
{% include 'markup/components/navbar-basic.njk' %}
{%- endblock -%}

{%- block pageFooter -%}
{% include 'markup/components/footer-utility.njk' %}
{%- endblock -%}
