<nav id="sidebar" class="sidebar-wrapper d-print-none">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="{{ '/' | url }}" class="mr-auto">
        <span class="d-md-none">Navigation</span>
        <img src="/img/favicon.png" class="d-none d-md-inline"
          alt="Pelican Design System icon" />
        <span class="d-none d-md-inline">Pelican <span class="sr-only">Home</span></span>
      </a>
    </div>
    <div class="sidebar-menu text-white">
      <ul>
      </ul>
    </div>
  </div>
</nav>
  