<nav id="sidebar" class="sidebar-wrapper d-print-none">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="{{ '/' | url }}" class="mr-auto">
          <span class="d-md-none">Navigation</span>
          <img src="/img/favicon.png" class="d-none d-md-inline" alt="Pelican Design System icon" />
          <span class="d-none d-md-inline">Pelican <span class="sr-only">Home</span></span>
        </a>
      </div>
      <div class="sidebar-menu text-white">
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
        {%- for entry in navPages %}
          <li class="sidebar-item">
            <div class="sidebar-dropdown-header">
              <a class="sidebar-nav-item" href="{{ entry.url | url }}">
                <span>{{ entry.title }}</span>
              </a>              
              {% if entry.children.length > 0 %}
                <a class="sidebar-dropdown-header-expand{% if entry.url in page.url %} active {% endif %}" href="javascript://" role="button">
                  <span class="sr-only">
                    See guidance for items in {{ entry.title }}
                  </span>
                  <span class="fas fa-fw fa-angle-right" aria-hidden="true"></span>
                </a>
              {% endif %}
            </div>
            {% if entry.children.length > 0 %}
            <div class="sidebar-submenu" {% if entry.url in page.url %} style="display:block" {% endif %}>
              <ul>
                {% for child in entry.children %}
                  <li {% if child.url == page.url %} class="sidebar-item active" {% else %} class="sidebar-item" {% endif %}>
                    <a {% if child.url == page.url %} class="sidebar-nav-item active" {% else %} class="sidebar-nav-item" {% endif %} href="{{ child.url | url }}">
                      <span {% if child.url == page.url %} class="fas fa-fw fa-eye mr-1" {% else %} class="fas fa-fw fa-eye invisible mr-1" {% endif %} aria-hidden="true"></span><span>{{ child.title }}</span>
                    </a>
                  </li>
                {% endfor %}                
              </ul>
            </div>
            {% endif %}
          </li>
        {%- endfor %}
        </ul>
      </div>
    </div>
  </nav>
  