<nav id="site-nav" class="site-nav">
  <div class="site-nav-content">
    <div class="site-nav-brand">
      <a href="{{ '/' | url }}" class="me-auto">
        <span class="d-md-none">Navigation</span>
        <img src="/img/favicon.png" class="d-none d-md-inline me-1" alt="Pelican Design System icon"/><span class="d-none d-md-inline">Pelican <span class="visually-hidden">Home</span></span>
      </a>
    </div>
  </div>
</nav>
