## Overview

Users who us assistive technology users or those who use keyboard navigation need a way to skip past navigation elements and move directly to the page’s content. Skip links are the first element in the markup to receive focus.

Try it out for yourself. Refresh this page and press <kbd>Tab</kbd> and <kbd>Enter</kbd> .

## Markup

``` html
<body>
    {% include markup/skip-link-markup.njk %}
    <main id="main" class="main" role="main">
        ...
    </main>
</body>
```

