<div class="row justify-content-center pt-lg-20 pt-10">
    <div class="col-lg-8 col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="h2 text-primary">
              We can’t find that page.
            </h1>
          <p class="px-lg-23">We’re sorry, we can’t find the page you’re looking for. It might have been removed, changed its name, or is otherwise unavailable.</p>
          <p class="px-lg-23">Visit our <a href="">homepage</a> for helpful tools and resources, or <a href="">contact us</a> and we’ll point you in the right direction.</p>
          <button type="button" class="btn btn-primary mb-2"><span class="fas fa-home" aria-hidden="true"></span> Go to our Homepage</button>
        </div>
      </div>
    </div>
  </div>