<div class="alert alert-info alert-dismissable fade show" role="alert">
  <span class="alert-icon fas fa-info-circle" aria-hidden="true"></span>
  <strong>Info.</strong> Hey, User, you might find this nice.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</div>
