<div class="alert alert-danger alert-dismissable fade show" role="alert">
  <span class="alert-icon fas fa-exclamation-triangle" aria-hidden="true"></span>
  <strong>Danger!</strong> Whoa, User! Bad things could happen!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</div>
