<div class="alert alert-success alert-dismissable fade show" role="alert">
  <span class="alert-icon fas fa-check-circle" aria-hidden="true"></span>
  <strong>Success!</strong> Hey, User, the thing worked.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</div>
