<div class="alert alert-warning alert-dismissable fade show" role="alert">
  <span class="alert-icon fas fa-exclamation-circle" aria-hidden="true"></span>
  <strong>Warning!</strong> Uh, User, you need to know this!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</div>
