<div class="alert alert-info alert-dismissible fade show" role="alert">
    <span class="fas fa-info-circle"></span>
    <strong>Info.</strong> Hey, User, you might find this nice.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
