<!-- see also markup/app-topbar.njk -->
<div class="app-topbar">
	<button type="button" id="app-frame-trigger" class="btn btn-black">
		<span class="fas fa-bars"></span>
	</button>
	<div class="logo">
		<a href="{{ '/' | url }}" class="mr-auto">
			<img src="/img/favicon.png" alt="Logo." class="img-fluid">
			Pelican
		</a>
	</div>
	<p class="screen-title">PageTitle</p>
</div>
