<!-- skip to main -->
{% include 'markup/skip-link.njk' %}
<!-- / skip to main -->
<!-- page content -->
<div id="page-wrapper" class="page-wrapper agency-theme ">
  <!-- sidebar menu -->
  <nav id="sidebar" class="sidebar-wrapper d-print-none">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="javascript://" class="mr-auto">Digital Product Name</a>
      </div>
      <div class="sidebar-menu text-white">
        <ul>
          <li class="sidebar-item border-top border-black">
            <div class="sidebar-dropdown-header">
              <a class="sidebar-nav-item " href="#">
                <span>Top Level Nav Item</span>
              </a>
            </div>
          </li>
          <li class="sidebar-item">
            <div class="sidebar-dropdown-header">
              <a class="sidebar-nav-item" href="#">
                <span>Top Level Nav Item</span>
              </a>
              <a class="sidebar-dropdown-header-expand" href="javascript://" role="button">
                <span class="fas fa-fw fa-angle-right" aria-hidden="true"></span>
              </a>
            </div>
            <div class="sidebar-submenu">
              <ul>
                <li class="sidebar-item active">
                  <a class="sidebar-nav-item active" href="#">
                    <span class="fas fa-fw fa-eye mr-1" aria-hidden="true"></span><span>Child Level Nav Item</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
    </div>
  </nav>
  <!-- / sidebar menu -->
  <!-- page content wrapper -->
  <div id="wrapper-main" class="wrapper-main">
    <div class="page-content">
      <!-- topbar -->
      <div id="wrapper-topbar" class="wrapper-topbar bg-black text-white">
        <p class="m-0 font-weight-bold order-lg-2 mr-auto">
          <span class="d-md-none">Digital Product Name</span>
          <span class="d-none d-md-inline">Current Page Title</span>
        </p>
        <a id="sidebar-button" class="btn btn-sm btn-black sidebar-button" href="javascript://"
          role="button">
          <span class="fas fa-fw fa-bars" aria-hidden="true"></span>
        </a>
      </div>
      <!-- / topbar -->
      <!-- main content -->
      <main id="main" class="main" role="main">

        <!-- All page content goes here -->

      </main>
      <!-- / main content -->
    </div>
  </div>
  <!-- / page content wrapper -->
</div>
<!-- / page content -->

<!-- back to top -->
<a id="ScrollToTop" href="#main" class="btn btn-ui">
  <span class="fas fa-arrow-up" aria-hidden="true"></span>
</a>
<!-- / back to top -->
