<div class="app-topbar">
	<div class="logo">
		<a href="{{ '/' | url }}" class="mr-auto">
			<img src="/img/Logo.svg" alt="Logo." class="img-fluid">
		</a>
	</div>
	<button type="button" id="app-frame-trigger" class="btn btn-black">
		<span class="fas fa-bars"></span>
	</button>
	<p class="screen-title">PageTitle</p>
</div>