<div class="app-sidebar " id="app-sidebar">
  <div class="app-sidebar-header">
    <div class="d-grid">
      <a href="Button" class="btn btn-white btn-large">Button</a>
    </div>
  </div>
  <div class="app-sidebar-header">
    <div class="d-grid">
      <a href="Button" class="btn btn-info btn-large">Button</a>
    </div>
  </div>
  <div class="app-sidebar-body">
    <ul class="app-sidebar-nav-list">
      <li class="app-sidebar-subhead">List Subhead</li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link" href="#">
          <span class="fas fa-fw fa-cog" aria-hidden="true"></span>
          Link Text
        </a>
      </li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link  " href="#">
          <span class="fas fa-fw fa-users" aria-hidden="true"></span>
          Link Text
        </a>
        <button class="app-sidebar-subnav-revealer" type="button" data-bs-toggle="collapse" data-bs-target="#subnav-00" aria-controls="subnav-00" aria-expanded="false">
          <span class="fas fa-fw fa-angle-down"></span>
          <span class="visually-hidden">See More</span>
        </button>
          <div class="app-sidebar-subnav" id="subnav-00">
            <ul class="app-sidebar-nav-list">
              <li class="app-sidebar-nav-item">
                <a class="app-sidebar-nav-link" href="#">
                  <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                  Child Link Text
                </a>
              </li>
              <li class="app-sidebar-nav-item">
                <a class="app-sidebar-nav-link current" href="#">
                  <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                  Child Link Text
                </a>
              </li>
              <li class="app-sidebar-nav-item">
                <a class="app-sidebar-nav-link" href="#">
                  <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                  Child Link Text
                </a>
              </li>
            </ul>
          </div>
      </li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link" href="#">
          <span class="fas fa-fw fa-cog" aria-hidden="true"></span>
          Link Text
        </a>
      </li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link " href="#">
          <span class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></span>
          Link Text
        </a>
        <button class="app-sidebar-subnav-revealer" type="button" data-bs-toggle="collapse" data-bs-target="#subnav-01" aria-controls="subnav-01" aria-expanded="false">
          <span class="fas fa-fw fa-angle-down"></span>
          <span class="visually-hidden">See More</span>
        </button>
        <div class="app-sidebar-subnav" id="subnav-01">
          <ul class="app-sidebar-nav-list">
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="app-sidebar-nav-list">
      <li class="app-sidebar-subhead">List Subhead</li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link" href="#">
          <span class="fas fa-fw fa-file" aria-hidden="true"></span>
          Link Text
        </a>
      </li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link  " href="#">
          <span class="fas fa-fw fa-box" aria-hidden="true"></span>
          Link Text
        </a>
        <button class="app-sidebar-subnav-revealer" type="button" data-bs-toggle="collapse" data-bs-target="#subnav-03" aria-controls="subnav-03" aria-expanded="false">
          <span class="fas fa-fw fa-angle-down"></span>
          <span class="visually-hidden">See More</span>
        </button>
        <div class="app-sidebar-subnav" id="subnav-03">
          <ul class="app-sidebar-nav-list">
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link current" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="app-sidebar-nav-item">
        <a class="app-sidebar-nav-link " href="#">
          <span class="fas fa-fw fa-microphone" aria-hidden="true"></span>
          Link Text
        </a>
        <button class="app-sidebar-subnav-revealer" type="button" data-bs-toggle="collapse" data-bs-target="#subnav-04" aria-controls="subnav-04" aria-expanded="false">
          <span class="fas fa-fw fa-angle-down"></span>
          <span class="visually-hidden">See More</span>
        </button>
        <div class="app-sidebar-subnav" id="subnav-04">
          <ul class="app-sidebar-nav-list">
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
            <li class="app-sidebar-nav-item">
              <a class="app-sidebar-nav-link" href="#">
                <span class="fas fa-fw fa-eye" aria-hidden="true"></span>
                Child Link Text
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="app-sidebar-footer">
    <a href="" class="btn btn-link">
      <span class="fas fa-comment" aria-hidden="true"></span>
      Link Name
    </a>
    <a href="" class="btn btn-link">
      <span class="fas fa-paper-plane" aria-hidden="true"></span>
      Link Name
    </a>
  </div>
</div>