<div id="a11yAutocomplete">
    <div data-widget="accessible-autocomplete" class="accessible-autocomplete">
        <label for="search" class="label form-label">Food</label>
        <input id="search" type="text" autocomplete="off" class="form-control" aria-describedby="autcompleteDescr" aria-owns="results" aria-expanded="false" aria-autocomplete="both" aria-activedescendant="" />
        <!-- <button type="button" id="clearText">clear text</button> -->
        <!-- <button type="submit" id="submit">Search</button> -->
        <ul id="results" class="list-group list-group-autocomplete" role="listbox" tabindex=0 ></ul>
        <span id="autcompleteDescr" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select.  Touch device users, explore by touch or with swipe gestures.</span>
        <div aria-live="assertive" class="screen-reader-text"></div>
    </div>
</div>
