<a id="ScrollToTop" href="#main" class="btn btn-secondary btn-back-top">
    <span class="fa fa-arrow-up fa-fw" aria-hidden="true"></span>
    <span class="sr-only">Go Back to Top of Page</span>
</a>

