<p>
  <span class="badge badge-primary">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-secondary">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-success">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-warning">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-danger">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-info">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-ui">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
</p>
<p class="h5 mb-4">
  <span class="badge badge-primary">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-secondary">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-success">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-warning">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-danger">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-info">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
  <span class="badge badge-ui">
    <span class="fas fa-tag me-1 opacity-75" aria-hidden="true"></span>Badge
  </span>
</p>
