<div class="grey-box">
    <!-- add content, in here -->
    <div class="row">
        <div class="col-12">
            <p>This is a paragraph in a content-container.</p>
        </div>
    </div>
</div>
