<nav class="breadcrumb-wrapper" aria-label="breadcrumbs">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">
        <span class="icon fas fa-home me-1" aria-hidden="true"></span><span class="visually-hidden">Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Section</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Section</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Section</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span>Current</span><span class="icon fas fa-eye ms-1" aria-hidden="true"></span>
    </li>
  </ol>
</nav>
