<nav class="breadcrumb-wrapper" aria-label="breadcrumbs" class="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">
        <span class="fas fa-home mr-1" aria-hidden="true"></span><span class="sr-only">Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Section</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Section</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Section</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span>Current</span><span class="fas fa-eye ml-1" aria-hidden="true"></span>
    </li>
  </ol>
</nav>
