<nav aria-label="breadcrumb">
	<ol class="breadcrumb py-2 px-3 my-0 bg-white">
		<li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span> </a></li>
		<li class="breadcrumb-item"><a href="#">Section</a></li>
		<li class="breadcrumb-item"><a href="#">Section</a></li>
		<li class="breadcrumb-item"><a href="#">Section</a></li>
		<li class="breadcrumb-item"><a href="#">Section</a></li>
		<li class="breadcrumb-item active" aria-current="page">Current <span class="fas fa-eye"></span></li>
	</ol>
	<hr class="minor bg-primary-10 my-0">
</nav>
