<button type="button" class="btn btn-primary">
    <span class="fas fa-users" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-secondary">
    <span class="fas fa-list" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-accent">
    <span class="fas fa-hourglass-half" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-success">
    <span class="fas fa-check" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-warning">
    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-danger">
    <span class="fas fa-trash" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-info">
    <span class="fas fa-info-circle" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
<button type="button" class="btn btn-ui">
    <span class="fas fa-flag" aria-hidden="true"></span>
    ButtonText
    <span class="badge badge-pill badge-white">88</span>
</button>
