<hr class="major">
<div class="container-fluid py-12">
    <div class="row justify-content-between">
        <div class="col-6 col-md-3 col-lg-2">
            <a href="#" class="btn-back-forward" role="button" id="btnBack">
                <span class="fas fa-arrow-left fa-xs" aria-hidden="true"></span>
                <span aria-hidden="true">Back</span>
                <span class="sr-only">Go back to previous screen</span>
            </a>
        </div>
        <div class="col-6 col-md-3 col-lg-2 text-right">
            <a href="#" class="btn-back-forward" role="button" id="btnForward">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Go forward to next screen</span>
                <span class="fas fa-arrow-right fa-xs" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
