<a href="#" class="btn btn-primary"><span class="fas fa-arrow-left mr-1" aria-hidden="true"></span>Go Back</a>
<a href="#" class="btn btn-ui">Go Here<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span></a>
<button type="button" class="btn btn-ui"><span class="fas fa-plus mr-1" aria-hidden="true"></span>Add</button>
<button type="button" class="btn btn-warning"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Cancel</button>
<button type="button" class="btn btn-danger"><span class="fas fa-trash mr-1" aria-hidden="true"></span>Put in Trash</button>
