<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-outline-ui">
            <span class="fas fa-print"></span> Print
        </button>
        <button type="button" class="btn btn-outline-ui mx-2">
            <span class="fas fa-envelope-open"></span> Email
        </button>
        <button type="button" class="btn btn-outline-ui">
            <span class="fas fa-share-alt"></span> Share
        </button>
    </div>
</div>
