<button type="button" class="btn-add-this">
  <span class="icon-holder">
    <span class="fa fa-plus-circle fa-fw text-white" aria-hidden="true"></span>
    <span class="sr-only">Add Another</span>
  </span>
</button>
