<a href="#" class="btn btn-primary">Do It</a>
<button type="button" class="btn btn-secondary">Get It</button>
<a href="#" class="btn btn-accent">Send It</a>
<button type="button" class="btn btn-ui">Show It</button>
<a href="#" class="btn btn-info">Tell Me</a>
<button type="button" class="btn btn-warning">Cancel</button>
<a href="#" class="btn btn-danger">Delete</a>
<button type="button" class="btn btn-success">Add Bacon</button>
