<button class="btn btn-outline-ui">
  <span class="fas fa-envelope"></span> Print
</button>
<button class="btn btn-outline-ui">
  <span class="fas fa-envelope"></span> Email
</button>
<button class="btn btn-outline-ui">
  <span class="fas fa-envelope"></span> Share
</button>
