<div class="d-grid">
	<button type="button" class="btn-add-this">
		<span class="btn-add-this-core rounded p-2">
			<span class="fa fa-plus fa-fw" aria-hidden="true"></span>
			<span class="sr-only">Add Another Thing</span>
		</span>
	</button>
</div>
