<div class="btn-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary">
          <span class="fas fa-check mr-1" aria-hidden="true"></span>Primary Action
        </button>
        <button type="button" class="btn btn-accent">
          <span class="fas fa-check mr-1" aria-hidden="true"></span>Next Action
        </button>
        <button type="button" class="btn btn-outline-ui">
          Third
        </button>
        <button type="button" class="btn btn-outline-ui">
          Third
        </button>
        <button type="button" class="btn btn-link">
          Last
        </button>
        <button type="button" class="btn btn-link">
          Last
        </button>
        <button type="button" class="btn btn-warning ml-auto">
          <span class="fas fa-exclamation-triangle mr-1" aria-hidden="true"></span>Warning
        </button>
        <button type="button" class="btn btn-danger">
          <span class="fas fa-trash-alt mr-1" aria-hidden="true"></span>Danger
        </button>
      </div>
    </div>
  </div>	
</div>
