<button type="button" class="btn btn-primary btn-lg">Button</button>
<button type="button" class="btn btn-primary">Button</button>
<button type="button" class="btn btn-primary btn-sm">Button</button>

<button type="button" class="btn btn-secondary btn-lg"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-secondary"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-secondary btn-sm"><span class="fas fa-arrow-right"></span> Button</button>

<button type="button" class="btn btn-outline-ui btn-lg"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-outline-ui"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-outline-ui btn-sm"><span class="fas fa-arrow-right"></span> Button</button>

<button type="button" class="btn btn-link btn-lg"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-link"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-link btn-sm"><span class="fas fa-arrow-right"></span> Button</button>

<button type="button" class="btn btn-danger btn-lg"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-danger"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-danger btn-sm"><span class="fas fa-arrow-right"></span> Button</button>

<button type="button" class="btn btn-warning btn-lg"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-warning"><span class="fas fa-arrow-right"></span> Button</button>
<button type="button" class="btn btn-warning btn-sm"><span class="fas fa-arrow-right"></span> Button</button>
