<button type="button" class="btn btn-primary"><span class="fas fa-bars"></span></button>
<button type="button" class="btn btn-secondary"><span class="fas fa-user"></span></button>
<button type="button" class="btn btn-accent"><span class="fas fa-plus"></span></button>
<button type="button" class="btn btn-success"><span class="fas fa-check"></span></button>
<button type="button" class="btn btn-warning"><span class="fas fa-minus-circle"></span></button>
<button type="button" class="btn btn-danger"><span class="fas fa-times"></span></button>
<button type="button" class="btn btn-info"><span class="fas fa-info"></span></button>
<button type="button" class="btn btn-ui"><span class="fas fa-cog"></span></button>
