<div class="row">
    <div class="col-12 col-md-6">
        <a href="#" class="btn-prev-next" role="button">
            <span class="fas fa-arrow-circle-up" aria-hidden="true"></span> Previous
            <span class="d-none d-md-inline">Section</span>
        </a>
    </div>
    <div class="col-12 col-md-6 text-right">
        <a href="#" class="btn-prev-next" role="button">Next
            <span class="d-none d-md-inline">Section</span>
            <span class="fas fa-arrow-circle-down" aria-hidden="true"></span>
        </a>
    </div>
</div>
