<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-outline-ui">
      <span class="fas fa-print mr-1" aria-hidden="true"></span>Print
    </button>
    <button type="button" class="btn btn-outline-ui mx-2">
      <span class="fas fa-envelope-open mr-1" aria-hidden="true"></span>Email
    </button>
    <button type="button" class="btn btn-outline-ui">
      <span class="fas fa-share-alt mr-1" aria-hidden="true"></span>Share
    </button>
  </div>
</div>
