<div class="btns-previous-next" role="region" aria-label="Move Along This Process">
  <hr class="major">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-6 col-md-3">
        <a href="#" class="btn btn-outline-ui btn-lg">
          <span class="icon fas fa-arrow-left fa-xs me-1" aria-hidden="true"></span>Previous
        </a>
      </div>
      <div class="col-6 col-md-3 text-end">
        <a href="#" class="btn btn-primary btn-lg">
          Next
          <span class="icon fas fa-arrow-right fa-xs ms-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
