<button type="button" class="btn btn-primary">ButtonText</button>
<button type="button" class="btn btn-primary btn-lg">ButtonText</button>
<button type="button" class="btn btn-primary btn-lg">ButtonText</button>

<button type="button" class="btn btn-primary"><span class="fas fa-smile" aria-hidden="true"></span> ButtonText</button>
<button type="button" class="btn btn-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span> ButtonText</button>
<button type="button" class="btn btn-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span> ButtonText</button>

<button type="button" class="btn btn-primary">ButtonText <span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-primary btn-lg">ButtonText <span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-primary btn-lg">ButtonText <span class="fas fa-smile" aria-hidden="true"></span></button>

<button type="button" class="btn btn-primary"><span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span></button>

<button type="button" class="btn btn-outline-primary">ButtonText</button>
<button type="button" class="btn btn-outline-primary btn-lg">ButtonText</button>
<button type="button" class="btn btn-outline-primary btn-lg">ButtonText</button>

<button type="button" class="btn btn-outline-primary"><span class="fas fa-smile" aria-hidden="true"></span> ButtonText</button>
<button type="button" class="btn btn-outline-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span> ButtonText</button>
<button type="button" class="btn btn-outline-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span> ButtonText</button>

<button type="button" class="btn btn-outline-primary">ButtonText <span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-outline-primary btn-lg">ButtonText <span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-outline-primary btn-lg">ButtonText <span class="fas fa-smile" aria-hidden="true"></span></button>

<button type="button" class="btn btn-outline-primary"><span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-outline-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span></button>
<button type="button" class="btn btn-outline-primary btn-lg"><span class="fas fa-smile" aria-hidden="true"></span></button>
