<div class="btn-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary">
          <span class="icon fas fa-check me-1" aria-hidden="true"></span>Primary Action
        </button>
        <button type="button" class="btn btn-secondary">
          <span class="icon fas fa-arrow-right me-1" aria-hidden="true"></span>Secondary Action
        </button>
        <button type="button" class="btn btn-outline-ui">
          Third
        </button>
        <button type="button" class="btn btn-outline-ui">
          Third
        </button>
        <button type="button" class="btn btn-link">
          Last
        </button>
        <button type="button" class="btn btn-link">
          Last
        </button>
        <button type="button" class="btn btn-warning ml-auto ms-auto">
          <span class="icon fas fa-exclamation-circle me-1" aria-hidden="true"></span>Warning
        </button>
        <button type="button" class="btn btn-danger">
          <span class="icon fas fa-trash-alt me-1" aria-hidden="true"></span>Danger
        </button>
      </div>
    </div>
  </div>	
</div>
