<a href="#" class="btn btn-primary"><span class="icon fas fa-arrow-left me-1" aria-hidden="true"></span>Go Back</a>
<a href="#" class="btn btn-ui">Go Here<span class="icon fas fa-arrow-right ml-1 ms-1" aria-hidden="true"></span></a>
<button type="button" class="btn btn-ui"><span class="icon fas fa-plus me-1" aria-hidden="true"></span>Add</button>
<button type="button" class="btn btn-warning"><span class="icon fas fa-times-circle me-1" aria-hidden="true"></span>Cancel</button>
<button type="button" class="btn btn-danger"><span class="icon fas fa-trash me-1" aria-hidden="true"></span>Put in Trash</button>
