<div class="row justify-content-between my-12">
    <div class="col-xs-12">
        <hr class="major mb-6">
    </div>
    <div class="col-xs-12 d-flex">
        <button type="button" class="btn btn-ui">
            <span class="fa fa-arrow-left"></span> Back
        </button>
        <button type="button" class="btn btn-ui ms-auto">
            <span class="fa fa-arrow-right"></span> Forward
        </button>
    </div>
</div>
