<button type="button" class="btn btn-primary"><span class="fas fa-bars" aria-hidden="true"></span></button>
<button type="button" class="btn btn-secondary"><span class="fas fa-user" aria-hidden="true"></span></button>
<button type="button" class="btn btn-accent"><span class="fas fa-plus" aria-hidden="true"></span></button>
<button type="button" class="btn btn-success"><span class="fas fa-check" aria-hidden="true"></span></button>
<button type="button" class="btn btn-warning"><span class="fas fa-minus-circle" aria-hidden="true"></span></button>
<button type="button" class="btn btn-danger"><span class="fas fa-times" aria-hidden="true"></span></button>
<button type="button" class="btn btn-info"><span class="fas fa-info" aria-hidden="true"></span></button>
<button type="button" class="btn btn-ui"><span class="fas fa-cog" aria-hidden="true"></span></button>
