<div class="btn-container">
  <button type="button" class="btn btn-primary">
    <span class="fas fa-check" aria-hidden="true"></span> 
    Button
  </button>	
  <button type="button" class="btn btn-secondary">
    <span class="fas fa-arrow-right" aria-hidden="true"></span> 
    Button
  </button>	
  <button type="button" class="btn btn-outline-ui"> 
    Button
  </button>
  <button type="button" class="btn btn-link">
    Button
  </button>
  <button type="button" class="btn btn-warning ms-md-auto">
    <span class="fas fa-exclamation-circle" aria-hidden="true"></span> Button
  </button>
  <button type="button" class="btn btn-danger">
    <span class="fas fa-trash" aria-hidden="true"></span> 
    Button
  </button>	
</div>
