<div class="btns-previous-next">
  <hr class="major">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <a href="#" class="btn btn-outline-ui btn-lg" role="button" id="btnPrev">
        <span class="fas fa-arrow-left fa-xs" aria-hidden="true"></span>
        <span class="visually-hidden">Go to </span>Previous<span class="visually-hidden"> screen</span>
      </a>
      <a href="#" class="btn btn-primary btn-lg" role="button" id="btnNext">
        <span class="visually-hidden">Go to </span>Next<span class="visually-hidden"> screen</span>
        <span class="fas fa-arrow-right fa-xs" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
