<div class="text-and-buttons bg-primary py-20">
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-md-6 col-lg-5">
        <h2 class="h2 text-white mb-4">Do This</h2>
        <p class="text-white mb-4 mb-lg-0">This is smaller text which explains this block.</p>
      </div>
      <div class="col-md-6 offset-lg-1 text-center">
        <a href="#" class="btn btn-white d-block d-md-inline mb-4 mb-md-0">Button Text</a>
        <a href="#" class="btn btn-white d-block d-md-inline">Button Text</a>
      </div>
    </div>
  </div>
</div>
