<div class="hero-channels">
    <div class="tab-content hero-channels-contents" id="HeroContent">
        <div class="tab-pane hero-channels-content show active" id="Content1" role="tabpanel" aria-labelledby="HeroContent1Button" style="background-image: url('https://unsplash.com/photos/5QgIuuBxKwM/download?force=false&w=640');">
            <div class="overlay bg-primary opacity-75"></div>
            <div class="container">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-12 col-md-7">
                        <h3 class="">Big Text 1</h3>
                        <p class="">Lorem ipsum dolor site amet. Nunca sitis laudenum arcturis motet.</p>
                    </div>
                    <div class="col-12 col-md-3 text-md-right">
                        <a href="#" title="" class="">
                            PageLink<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane hero-channels-content" id="Content2" role="tabpanel" aria-labelledby="HeroContent2Button" style="background-image: url('https://unsplash.com/photos/SYTO3xs06fU/download?force=false&w=640');">
            <div class="overlay bg-secondary opacity-75"></div>
            <div class="container">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-12 col-md-7">
                        <h3 class="">Big Text 2</h3>
                        <p class="">Lorem ipsum dolor site amet. Nunca sitis laudenum arcturis motet.</p>
                    </div>
                    <div class="col-12 col-md-3 text-md-right">
                        <a href="#" title="" class="">
                            PageLink<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane hero-channels-content" id="Content3" role="tabpanel" aria-labelledby="HeroContent3Button" style="background-image: url('https://unsplash.com/photos/GDz5SJ3fuAQ/download?force=false&w=640');">
            <div class="overlay bg-accent opacity-75"></div>
            <div class="container">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-12 col-md-7">
                        <h3 class="">Big Text 3</h3>
                        <p class="">Lorem ipsum dolor site amet. Nunca sitis laudenum arcturis motet.</p>
                    </div>
                    <div class="col-12 col-md-3 text-md-right">
                        <a href="#" title="" class="">
                            PageLink<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills hero-channels-controls" id="HeroContentControls" role="tablist">
        <li class="nav-item hero-channels-control">
            <a class="nav-link hero-channels-control-link active" id="HeroContent1Button" data-toggle="pill" href="#Content1" role="tab" aria-controls="Content1" aria-selected="true">Content 1 Button</a>
        </li>
        <li class="nav-item hero-channels-control">
            <a class="nav-link hero-tabs-control-link" id="HeroContent2Button" data-toggle="pill" href="#Content2" role="tab" aria-controls="Content2" aria-selected="false">Content 2 Button</a>
        </li>
        <li class="nav-item hero-channels-control">
            <a class="nav-link hero-tabs-control-link" id="HeroContent3Button" data-toggle="pill" href="#Content3" role="tab" aria-controls="Content3" aria-selected="false">Content 3 Button</a>
        </li>
    </ul>
</div>
