<div class="form-group">
    <p class="label">Group of Checkboxes</p>
    <!-- This is a fake label -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkboxValue1">
        <label class="custom-control-label" for="checkboxValue1">Value 1</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkboxValue2">
        <label class="custom-control-label" for="checkboxValue2">Value 2</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkboxValue5" disabled>
        <label class="custom-control-label" for="checkboxValue5">Value 5</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkboxValue6" disabled checked="checked">
        <label class="custom-control-label" for="checkboxValue6">Value 6</label>
    </div>
</div>
