<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkboxDefault">
    <label class="form-check-label" for="checkboxDefault">
    Default checkbox
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkedCheckbox" checked>
    <label class="form-check-label" for="checkedCheckbox">
    Checked checkbox
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="disabledCheckbox" disabled>
    <label class="form-check-label" for="disabledCheckbox">
    Default checkbox
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="disabledCheckedCheckbox" checked disabled>
    <label class="form-check-label" for="disabledCheckedCheckbox">
    Checked checkbox
    </label>
</div>
