<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkboxValue1">
    <label class="form-check-label" for="checkboxValue1">
      Value 1
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkboxValue2">
    <label class="form-check-label" for="checkboxValue2">
      Value 2
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkboxValue3" disabled>
    <label class="form-check-label" for="checkboxValue3" >
      Value 3
    </label>
  </div>
</div>
