<div class="form-check checkbox-tile">
	<input class="form-check-input" id="check-historical-truth-2" type="checkbox" name="historical-figures" value="sojourner-truth" />
	<label class="form-check-label" for="check-historical-truth-2">Sojourner Truth</label>
</div>

<div class="form-check checkbox-tile">
	<input class="form-check-input" id="check-historical-booker-2" type="checkbox" name="historical-figures" value="sojourner-truth" />
	<label class="form-check-label" for="check-historical-booker-2">
		Booker T. Washington
		<span class="tile-description">This is optional text that can be used to describe the label in more detail.</span>
	</label>
</div>
