<div class="chips">
  <a role="button" href="#" class="badge badge-primary chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-secondary chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-accent chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-ui chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-info chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-success chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-warning chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
  <a role="button" href="#" class="badge badge-danger chip"><span class="fas fa-times-circle mr-1" aria-hidden="true"></span>Text</a>
</div>
