<div class="chips">
    <a role="button" href="#" class="badge badge-pill badge-primary chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-secondary chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-accent chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-ui chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-info chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-success chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-warning chip"><span class="fas fa-times-circle"></span> Text</a>
    <a role="button" href="#" class="badge badge-pill badge-danger chip"><span class="fas fa-times-circle"></span> Text</a>
</div>
