<div class="card">
  <div class="card-body">
    <details id="example01">
      <summary class="lead text-ui-priority">What is the question and does it wrap when necessary?</summary>
      <div class="mt-2">
        <p>Answer this question with an expandable answer section. We can feature as many questions as we need to ensure the user has a good understanding.<p>
      </div>
    </details>
  </div>
</div>
