<div class="page-title bg-white p-4 p-lg-16 mb-4" id="pageTitle">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
            <div>
                <h2 class="h2 mb-0 text-primary">
                    <span class="fas fa-home text-primary-10" aria-hidden="true"></span>
                    Page Title
                </h2>	
                <p class="mb-0">Use this sentence to briefly describe the purpose of the page.</p>
            </div>
            <div class="mt-8 mt-lg-0">
                <a href="https://google.com" class="btn btn-primary btn-shadow">
                    <span class="fas fa-bolt" aria-hidden="true"></span>
                    Do This
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
