<div class="card">
  <div class="card-body">
    <details id="example01">
      <summary class="text-info">What is the question and does it wrap when necessary?</summary>
      <div class="mt-2">
        <p>I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
      </div>
    </details>
  </div>
</div>
