<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
				<div class="card-body">
					<details id="example01">
						<summary class="lead text-ui-priority">What is the question?</summary>
						<div class="mt-2">
							<p>I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
							<p class="mb-0">I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
						</div>
					</details>
				</div>
			</div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
				<div class="card-body">
					<details id="example02">
						<summary class="lead text-ui-priority">What is the question?</summary>
						<div class="mt-2">
							<p>I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
							<p class="mb-0">I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
						</div>
					</details>
				</div>
			</div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
				<div class="card-body">
					<details id="example03">
						<summary class="lead text-ui-priority">What is the question?</summary>
						<div class="mt-2">
							<p>I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
							<p class="mb-0">I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
						</div>
					</details>
				</div>
			</div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
				<div class="card-body">
					<details id="example04">
						<summary class="lead text-ui-priority">What is the question?</summary>
						<div class="mt-2">
							<p>I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
							<p class="mb-0">I am the answer to the question. Users will see this answer only after they have clicked the question above.<p>
						</div>
					</details>
				</div>
			</div>
        </div>
    </div>
</div>
