<div class="content-container p-4 p-lg-16 mb-4">
    <!-- add content, in here -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>This is a paragraph in a content-container.</p>
            </div>
        </div>
    </div>
</div>
