<div class="row justify-content-center pt-lg-20 pt-10">
    <div class="col-lg-8 col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-10 mx-auto text-center">
              <h1 class="h2 text-primary">
                Unexpected Error
              </h1>
              <p>It’s not your fault. We’ve logged this and we’re going to look into it.</p>
              <p>Let us take you to the dashboard for a fresh start.</p>
              <button type="button" class="btn btn-primary mb-2"><span class="fas fa-home" aria-hidden="true"></span> Go to our Homepage</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>