<div class="feature-cta-double">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-6 col-lg-5">
        <h2 class="feature-big-text">Do This</h2>
        <p class="feature-small-text">This is smaller text which explains this block.</p>
      </div>
      <div class="col-md-6 offset-lg-1 text-center">
        <a href="#" class="btn btn-white">Button Text</a>
        <a href="#" class="btn btn-white">Button Text</a>
      </div>
    </div>
  </div>
</div>
