<div class="feature-icons-text">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-between align-items-center">
      <div class="col-10 col-lg-5">
        <p class="feature-big-text">Big Text.</p>
        <p class="feature-small-text">This is smaller text which explains this block.</p>
      </div>
      <div class="col-10 col-lg-5">
        <div class="feature-icons">
          <span class="fas fa-fw fa-thumbs-up" aria-hidden="true"></span>
          <span class="fas fa-fw fa-code mx-4" aria-hidden="true"></span>
          <span class="fas fa-fw fa-laptop" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
