<div class="feature-cta ">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-6">
        <p class="feature-big-text">Big Text.</p>
        <p class="feature-small-text">This is smaller text which explains this block.</p>
      </div>
      <div class="col-10 col-md-6 text-right">
        <a href="https://google.com" class="btn btn-primary btn-lg">Button Text</a>
      </div>
    </div>
  </div>
</div>
