<div class="feature-block-call-to-action">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-md-4 offset-md-1">
                <h2 class="h2">Big Text.</h2>
                <p>Get thing.</p>
            </div>
            <div class="col-10 offset-1 col-md-4 offset-md-2">
                <a href="https://google.com" class="btn btn-primary btn-lg btn-shadow">Button Text</a>
            </div>
        </div>
    </div>
</div>
