<div class="feature-languages">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-xl-6">
        <p class="feature-big-text">Let’s Talk.</p>
        <p class="feature-small-text">Use AppService in four languages. English, French, Spanish, and Vietnamese are available.</p>
      </div>
      <div class="col-12 col-xl-6">
        <div class="row">
          <div class="col-6 col-md-12 col-lg-6">
            <div class="feature-item">
              <p>Hello!</p>
            </div>
          </div>
          <div class="col-6 col-md-12 col-lg-6">
            <div class="feature-item">
              <p>Bonjour!</p>
            </div>
          </div>
          <div class="col-6 col-md-12 col-lg-6">
            <div class="feature-item">
              <p>Hola!</p>
            </div>
          </div>
          <div class="col-6 col-md-12 col-lg-6 ">
            <div class="feature-item">
              <p>Xin chào!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
