<div class="feature-set">
    <div class="content-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Set Name</h2>
                    <p>This guide’s focus is to offer clear guidance on how to build reliable, predictable, and reusable components for use in Louisiana’s digital products. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 col-md-6">
                    <hr class="minor my-8">
                    <p>
                        <span class="fas fa-info-circle" aria-hidden="true"></span>
                    </p>
                    <p>This is the sentence to be used to describe something about this set. Try to have as few lines of text as possible.</p>
                    <a href="#">
                        Read More
                        <span class="fas fa-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-10 col-md-6">
                    <hr class="minor my-8">
                    <p>
                        <span class="fas fa-info-circle" aria-hidden="true"></span>
                    </p>
                    <p>This is the sentence to be used to describe something about this set. Try to have as few lines of text as possible.</p>
                    <a href="#">
                        Read More
                        <span class="fas fa-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

