<div class="feature-set">
  <div class="content-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="feature-big-text">Big Text.</h2>
          <p class="feature-lead-text">This guide’s focus is to offer clear guidance on how to build reliable, predicatable, and reusable components for use in Louisiana’s digital products. </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-md-6">
          <hr class="minor">
          <p class="feature-lead-icon">
            <span class="fas fa-info-circle" aria-hidden="true"></span>
          </p>
          <p class="feature-small-text">This is smaller text which explains this block.</p>
          <a href="#" class="btn btn-ui-priority">
            Read More<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span>
          </a>
        </div>
        <div class="col-10 col-md-6">
          <hr class="minor">
          <p class="feature-lead-icon">
            <span class="fas fa-info-circle" aria-hidden="true"></span>
          </p>
          <p class="feature-small-text">This is smaller text which explains this block.</p>
          <a href="#" class="btn btn-ui-priority">
            Read More<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
