<footer class="footer footer-basic">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#">Home</a>
        <a href="#">Help</a>
        <a href="#">More Info</a>
        <a href="#">Privacy</a>
      </div>
    </div>
  </div>
</footer>
