<footer class="footer footer-basic">
  <div class="container-fluid" role="navigation" aria-label="Footer navigation" id="FooterNavigation">
    <div class="links-wrapper" role="navigation">
      <a class="btn btn-link" href="Account">Home</a>
      <a class="btn btn-link" href="MoreInfo">More Info</a>
      <a class="btn btn-link" href="Privacy">Privacy</a>
    </div>
  </div>
</footer>
