<footer class="footer footer-utility ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a class="brand-link" href="index.html">
          <div class="brand-logo">{% include 'logo.njk' %}</div>
        </a>
      </div>
    </div>
    <hr class="major">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center text-md-left">
          <a href="internal.html" class="btn btn-secondary">
            <span class="fas fa-envelope mr-1" aria-hidden="true"></span>Email Us
          </a>
          <a href="internal.html" class="btn btn-secondary">
            <span class="fas fa-phone mr-1" aria-hidden="true"></span>Call Us
          </a>
      </div>
      <div class="col-12 col-md-6 text-center text-md-right">
        <p class="lead mb-0">
          <a href="internal.html" class="btn btn-link">
            <span class="fab fa-facebook-square fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Find us on Facebook</span>
          </a>
          <a href="internal.html" class="btn btn-link">
            <span class="fab fa-twitter-square fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Find us on Twitter</span>
          </a>
          <a href="internal.html" class="btn btn-link">
            <span class="fab fa-linkedin fa-2x" aria-hidden="true"></span>
            <span class="sr-only">find us on LinkedIn</span>
          </a>
        </p>
      </div>
    </div>
    <hr class="major">
    <div class="row">
      <div class="col-12">
        <a href="https://github.com/la-ots/pelican" class="btn btn-link">Design System</a>
        </a>
        <a href="https://www.doa.la.gov/Pages/ots/Index.aspx" class="btn btn-link">OTS</a>
        </a>
        <a href="https://gov.louisiana.gov" class="btn btn-link">Louisiana.gov</a>
        </a>
      </div>
    </div>
    <hr class="major">
  </div>
</footer>
