<footer class="footer bg-black mt-12" id="FooterTextLinksOnly">
    <div class="container-fluid" role="navigation" aria-label="Footer navigation" id="FooterNavigation">
        <div class="d-flex flex-wrap justify-content-center py-4" role="navigation">
            <a class="btn btn-link text-white border-0 rounded-0" asp-action="Index" href="Account">Home</a>
            <a class="btn btn-link text-white border-0 rounded-0" href="MoreInfo">More Info</a>
            <a class="btn btn-link text-white border-0 rounded-0" href="Privacy">Privacy</a>
        </div>
    </div>
</footer>
