<div class="content-container">
	<form action="">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<h2 class="h2">
					<span class="fas fa-user"></span> Name
				</h2>
				<p>MyLa is how Louisiana&rsquo;s government agencies know how to contact you. So, what&rsquo;s your name?.</p>
				{% include markup/form-required-message.njk %}
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<div class="mb-4">
					<label for="NameFirst">
						<span class="fas fa-asterisk"></span> First Name
					</label>
					<input type="text" class="form-control" id="NameFirst">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<div class="mb-4">
					<label for="NameMiddle">
						Middle Name (optional)
					</label>
					<input type="text" class="form-control" id="NameMiddle">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<div class="mb-4">
					<label for="NameLast">
						<span class="fas fa-asterisk"></span> Last Name
					</label>
					<input type="text" class="form-control" id="NameLast">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<button class="btn btn-primary">
					<span class="fas fa-check"></span>
					Update Name
				</button>
			</div>
		</div>
	</div>
	</form>
</div>
