<details class="mt-2">
  <summary class="text-ui-priority">
    Want help making a Password?
  </summary>

  <ul class="list-group mt-2">
    <li class="list-group-item">
      <div class="media">
        <span class="fas fa-times-circle text-danger" aria-hidden="true"></span>
        <div class="media-body ms-1">Don’t use a password from any of your other accounts.</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
        <span class="fas fa-check-circle text-success" aria-hidden="true"></span>
        <div class="media-body ms-1">You must use letters and numbers.</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
        <span class="fas fa-check-circle text-success" aria-hidden="true"></span>
        <div class="media-body ms-1">Make some letters uppercase, make letters some lowercase.</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
        <span class="fas fa-check-circle text-success" aria-hidden="true"></span>
        <div class="media-body ms-1">Use some of these symbols too: <br><kbd> { [ ( &lt; ! # , $ % ^ @ : \ | / &amp; * - _ +=;&gt; ) ] } </kbd></div>
      </div>
    </li>
  </ul>
</details>
