<div class="content-container">
	<form action="">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<h2 class="h2">
					<span class="fas fa-address-book"></span> Contact Info
				</h2>
				<p>At the bare minimum, we only need your email address. But, it&rsquo;s extra helpful to you and us if we can also get your phone number.</p>
				{% include markup/form-required-message.njk %}
				<div class="mb-4">
					<label for="TelephoneMain">Telephone</label>
					<input type="tel" class="form-control" id="TelephoneMain">
					<small>If you give us your number, please give us a number where you can get texts.</small>
				</div>
				<div class="mb-4">
					<label for="EmailAddressMain">
						<span class="fas fa-asterisk"></span> Email Address
					</label>
					<input type="email" class="form-control" id="EmailAddressMain">
				</div>
				<button type="submit" class="btn btn-primary">
					<span class="fas fa-check"></span>
					Update Contact Info
				</button>
			</div>
		</div>
	</div>
	</form>
</div>