<div class="content-container">
  <form action="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h2">
            <span class="fas fa-at"></span> 
            Email Addresses
          </h2>
          <p>We need at least 1 email address for you.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p class="card-title">Email Label Here</p>
              <p class="mb-0">
                <a href="#">user@domain.tld</a>
              </p>
              <small>Card Meta Here</small>
              <button class="btn btn-link btn-card-edit">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p class="card-title">Email Label Here</p>
              <p class="mb-0">
                <a href="#">user@domain.tld</a>
              </p>
              <small>Card Meta Here</small>
              <button class="btn btn-link btn-card-edit">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>
        </div>
      </div>	
      <div class="row">
        <div class="col-lg-4">
          {% include markup/button-add-data.njk %}
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Add an Email Address</p>
              <div class="row">
                <div class="col-12 col-xl-4">
                  <div class="mb-4">
                    <label for="emailLabel">Email Address Label</label>
                    <select class="form-select" id="emailLabel">
                      <option selected>&mdash; Select &mdash;</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-xl-4">
                  <div class="mb-4">
                    <label for="emailAddress4">Email Address</label>
                    <input type="email" class="form-control" id="emailAddress4">
                  </div>
                </div>
                <div class="col-12 col-xl-4">
                  <div class="mb-4">
                    <label for="EmailLang">Language</label>
                    <select class="form-select" id="EmailLang">
                      <option selected>Use my preferred language</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex">
                  <button class="btn btn-primary">
                    <span class="fas fa-check"></span>
                    Save
                  </button>
                  <button class="btn btn-ui ms-2">
                    <span class="fas fa-undo-alt"></span>
                    Cancel
                  </button>
                  <button class="btn btn-link text-danger ms-auto">
                    <span class="fas fa-trash"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
