<div class="content-container">
	<form action="">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="h2">
						<span class="fas fa-comments"></span> Preferred Language
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<p class="">Use AppName in your preferred Language.</p>
					<p>We speak four languages right now, but we’re learning more.
					</p>
				</div>
				<div class="col-lg-4">
					<div class="mb-4">
						<label for="LanguageSelection">Your Preferred Language</label>
						<select class="form-select" id="LanguageSelection">
							<option selected>&mdash; Select your preferred language &mdash;</option>
							<option value="1">English</option>
							<option value="2">Française</option>
							<option value="3">Español</option>
							<option value="4">Tiếng Việt</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
