<div class="content-container">
	<div class="container-fluid p-4 p-lg-16 mb-4">
		<div class="row">
			<div class="col-12">
				<h2 class="legend h2 text-primary mb-0">Form Section</h2>
				<p class="mb-0">Sentence about Form Section goes here. It can help describe this part of the form or explain special instructions</p>
			</div>
		</div>
	</div>
</div>
