<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h3 class="h3 mb-6 text-primary">
          <span class="fas fa-sign-in-alt fa-fw mr-1 text-primary-10"></span> Sign In
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="SignInUsername" class="label">User ID</label>
          <input class="form-control" id="SignInUsername" type="text">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="SignInPassword" class="label">Password</label>
          <input class="form-control" id="SignInPassword" type="password">
          <div class="custom-control custom-switch mt-2">
            <input type="checkbox" class="custom-control-input" id="SignInShowPassword">
            <label class="custom-control-label" for="SignInShowPassword">Show Password</label>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-ui btn-lg btn-shadow">Sign In
          <span class="fas fa-sign-in-alt"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <p class="mb-0">Don&rsquo;t have an account? <br class="d-block d-lg-none">
      <a href="#" title="Go to MyLa to create a login account.">Create your own MyLa Account.</a>
    </p>
  </div>
</div>
<p class="pl-4 mt-4">Need help? <br class="d-block d-lg-none">
  <a href="#" title="Get help for sign in problems.">Get help signing in.</a>
</p>
