<div class="card">
  <div class="card-body">
    <h3 class="h3 mb-6 text-primary">
        <span class="fas fa-user-shield text-primary-10 mr-1" aria-hidden="true"></span>Change Password
    </h3>
    <p>You&rsquo;re about to change your password. Be sure to follow our guidelines to make a strong password. But first, enter your current password.</p>
    {%- include 'markup/form-required-message.njk' -%}
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="PasswordCurrent">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Current Password
          </label>
          <input type="password" class="form-control" id="PasswordCurrent">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="showPasswords">
            <label class="form-check-label" for="showPasswords">Show Passwords</label>
          </div>
        </div>
        <div class="form-group">
          <label for="PasswordNew">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>New Password
          </label>
          <input type="password" class="form-control" id="PasswordNew">
          {%- include 'markup/form-password-help.njk' -%}
        </div>
        <div class="form-group">
          <label for="PasswordNewConfirm">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Confirm New Password
          </label>
          <input type="password" class="form-control" id="PasswordNewConfirm">
        </div>
        <button class="btn btn-primary">
          <span class="fas fa-check-circle mr-1" aria-hidden="true"></span>Update Password 
        </button>
      </div>
    </div>
  </div>
</div>
