<div class="content-container">
	<form action="">
	<div class="container">
		<div class="row ">
			<div class="col-12 col-md-10 col-lg-4">
				<h2 class="h2">
					<span class="fas fa-key"></span> 
					PIN Number
				</h2>
				<p>Choose the six digits for your PIN Number. Be sure to remember them.</p>
				{% include markup/form-required-message.njk %}
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<div class="mb-4">
					<label for="PinNumber">
						<span class="fas fa-asterisk"></span> New PIN
					</label>
					<input type="text" class="form-control" id="PinNumber">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<div class="mb-4">
					<label for="PinNumberConfirm">
						<span class="fas fa-asterisk"></span> Confirm New PIN
					</label>
					<input type="text" class="form-control" id="PinNumberConfirm">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 col-lg-4">
				<button class="btn btn-primary">
					<span class="fas fa-check"></span>
					Update PIN Number
				</button>
			</div>
		</div>
	</div>
	</form>
</div>
