<div class="content-container">
	<form action="">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<h2 class="h2">
					<span class="fas fa-mask"></span>
					Password
				</h2>
				<p>You’re about to change your password. Be sure to follow our guidelines to make a strong password. But first, enter your current password.</p>
				{% include markup/form-required-message.njk %}
				<div class="mb-4">
					<label for="sdgh">
						<span class="fas fa-asterisk"></span> Current Password
					</label>
					<input type="password" class="form-control" id="sdgh">
				</div>
				<div class="mb-4">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="dtyjghn">
						<label class="form-check-label" for="dtyjghn">Show Passwords</label>
					  </div>
				</div>
				<div class="mb-4">
					<label for="dghjgikj">
						<span class="fas fa-asterisk"></span> New Password
					</label>
					<input type="password" class="form-control" id="sddghjgikjgh">
					{% include markup/form-password-help.njk %}
				</div>
				<div class="mb-4">
					<label for="gfhdhyfth">
						<span class="fas fa-asterisk"></span> Confirm New Password
					</label>
					<input type="password" class="form-control" id="gfhdhyfth">
				</div>
				<div class="mb-4">
					<button type="submit" class="btn btn-primary">
						<span class="fas fa-check"></span>
						Update Password
					</button>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
