<div class="card">
  <div class="card-body">
    <h3 class="h3 mb-6 text-primary">
      <span class="fas fa-mail-bulk text-primary-10 mr-1" aria-hidden="true"></span>Address
    </h3>
    <p>Give us your mailing address so we can send you documents.</p>
    <p class="small">If there&rsquo;s an asterisk <span class="font-weight-bold"><span class="fas fa-asterisk text-danger" aria-hidden="true"></span></span> we have to get that information.</p>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="address1">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Street Address 1
          </label>
          <input type="text" class="form-control" id="address1">
        </div>
        <div class="form-group">
          <label for="address2">
            Street Address 2
          </label>
          <input type="tel" class="form-control" id="address2">
        </div>
        <div class="form-group">
          <label for="city">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>City
          </label>
          <input type="text" class="form-control" id="city">
        </div>
        <div class="form-group">
          <label for="state">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>State
          </label>
          <select class="custom-select" id="state">
            <option selected>&mdash; Select your state &mdash;</option>
            <option value="1">1 (One)</option>
            <option value="2">2 (Two)</option>
            <option value="3">3 (Three)</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="city">
            <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>City
          </label>
          <input type="text" class="form-control" id="city">
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary">
          Save Address<span class="fas fa-check ml-1" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
