<div class="card">
  <div class="card-body">
    <h3 class="h3 mb-6 text-primary">
    <span class="fas fa-user text-primary-10 mr-1" aria-hidden="true"></span>Name
    </h3>
    <p>MyLa is how Louisiana&rsquo;s government agencies know how to contact you. So, what&rsquo;s your name?.</p>
    <p class="small">
    If there&rsquo;s an asterisk <span class="font-weight-bold"><span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span></span>we have to get that information.
    </p>
    <div class="row">
    <div class="col-12">
      <div class="form-group">
      <label for="NameFirst">
        <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>First Name
      </label>
      <input type="text" class="form-control" id="NameFirst">
      </div>
      <div class="form-group">
      <label for="NameMiddle">
        Middle Name
      </label>
      <input type="text" class="form-control" id="NameMiddle">
      <small>This is optional.</small>
      </div>
      <div class="form-group">
      <label for="NameLast">
        <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Last Name
      </label>
      <input type="text" class="form-control" id="NameLast">
      </div>
      <button class="btn btn-primary">
      Update Name<span class="fas fa-check ml-1" aria-hidden="true"></span>
      </button>
    </div>
    </div>
  </div>
</div>
