<a data-bs-toggle="collapse" href="#collapsePasswordTip" role="button" aria-expanded="false" aria-controls="collapsePasswordTip" class="btn btn-link btn-sm">
	<span class="fas fa-lightbulb"></span>
	Want help making a password?
</a>
<div class="collapse" id="collapsePasswordTip">
	<ul class="list-group">
		<li class="list-group-item">
			<div class="media-box">
				<span class="fas fa-times-circle text-danger"></span>
				<div class="media-body">Don&rsquo;t use a password from any of your other accounts.</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media-box">
				<span class="fas fa-check-circle text-success"></span>
				<div class="media-body">You must use letters and numbers.</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media-box">
				<span class="fas fa-check-circle text-success"></span>
				<div class="media-body">Make some letters uppercase, make some letters lowercase.</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media-box">
				<span class="fas fa-check-circle text-success"></span>
				<div class="media-body">Use some of these symbols too: <br><kbd> { } [ ] ( ) < > ! # , $ % ^ @ : \ | / & * - _ + = ; </kbd></div>
			</div>
		</li>
	</ul>
</div>