<div class="content-container my-16 p-16">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="h3 mb-6 text-primary">
                    <span class="fas fa-at fa-fw mr-1 text-primary-10"></span> Email Addresses
                </h3>
                <p>We need at least 1 email address for you.</p>
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body">
                                <p class="h6 card-title font-weight-bold mr-12 mb-2">CardLabelHere</p>
                                <p class="mr-12 mb-2">Card Value Here</p>
                                <p class="small mr-12 mb-0">Card Meta Here</p>
                                <button class="btn btn-link bg-transparent border-0 shadow-none btn-card-edit">
                                    <span class="fas fa-pencil-alt"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body">
                                <p class="h6 card-title font-weight-bold mr-12 mb-2">CardLabelHere</p>
                                <p class="mr-12 mb-2">Card Value Here</p>
                                <p class="small mr-12 mb-0">Card Meta Here</p>
                                <button class="btn btn-link bg-transparent border-0 shadow-none btn-card-edit">
                                    <span class="fas fa-pencil-alt"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <button type="button" class="addThis btn-add-this">
                            <div>
                                <span class="fa fa-plus-circle fa-fw text-white"></span>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="h6 card-title font-weight-bold mr-12 mb-2">Add an Email Address</p>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="form-group">
                                            <label for="emailLabel">Email Address Label</label>
                                            <select class="custom-select" id="emailLabel">
                                                <option selected>&mdash; Select &mdash;</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="form-group">
                                            <label for="emailAddress4">Email Address</label>
                                            <input type="email" class="form-control" id="emailAddress4">
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="form-group">
                                            <label for="EmailLang">Language</label>
                                            <select class="custom-select" id="EmailLang">
                                                <option selected>Use my preferred language</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-ui">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button class="btn btn-ui">
                                            <span class="fas fa-undo-alt"></span>
                                        </button>
                                        <button class="btn btn-ui">
                                            <span class="fas fa-minus-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
