<div class="container-fluid my-16">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="h3 mb-6 text-primary">
                        <span class="fas fa-user-shield text-primary-10"></span> Change Password
                    </h3>
                    <p>You&rsquo;re about to change your password. Be sure to follow our guidelines to make a strong password. But
                        first, enter your current password.</p>
                    {% include markup/form-required-message.njk %}
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-4">
                                <label for="PasswordCurrent">
                                    <span class="fas fa-asterisk text-danger"></span> Current Password
                                </label>
                                <input type="password" class="form-control" id="PasswordCurrent">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="showPasswords">
                                    <label class="form-check-label" for="showPasswords">Show Passwords</label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="PasswordNew">
                                    <span class="fas fa-asterisk text-danger"></span> New Password
                                </label>
                                <input type="password" class="form-control" id="PasswordNew">
                                {% include markup/form-password-help.njk %}
                            </div>
                            <div class="mb-4">
                                <label for="PasswordNewConfirm">
                                    <span class="fas fa-asterisk text-danger"></span> Confirm New Password
                                </label>
                                <input type="password" class="form-control" id="PasswordNewConfirm">
                            </div>
                            <button class="btn btn-ui btn-block btn-shadow">
                                Update Password <span class="fas fa-check-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
