<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
        <div class="card">
            <div class="card-body">
        <h3 class="h3 mb-6 text-primary">
          <span class="fas fa-sign-in-alt"></span> Sign In
        </h3>
        <div class="mb-4">
          <label for="SignInUsername" class="label">User ID</label>
          <input class="form-control" id="SignInUsername" type="text">
        </div>
        <div class="mb-4">
          <label for="SignInPassword" class="label">Password</label>
          <input class="form-control" id="SignInPassword" type="password">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="remember">
            <label class="form-check-label" for="remember">Remember Me</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="fas fa-sign-in-alt"></span> 
          Sign In
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-4">
  <div class="col-12 col-md-10 col-lg-6">
    <div class="card">
      <div class="card-body">
        <p class="mb-0">Don&rsquo;t have an account? <br class="d-block d-lg-none">
          <a href="#" title="Go to MyLa to create a login account.">Create your own MyLa Account.</a>
        </p>
      </div>
    </div>
  </div>
</div>			
<div class="row justify-content-center mt-4 mb-4">
  <div class="col-12 col-md-10 col-lg-6">
    <p class="ps-4">Need help? <a href="#" title="Get help for sign in problems.">Get help signing in.</a></p>
  </div>
</div>
