<p class="mt-1">
  <button class="btn btn-link btn-sm bg-transparent shadow-none border-0 text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePasswordTips" aria-expanded="true" aria-controls="collapsePasswordTips" aria-haspopup="true"><span class="fas fa-lightbulb mr-1"></span>Want help making a Password?</button>
</p>
<div class="collapse" id="collapsePasswordTips">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="media">
        <div class="media-start">
          <span class="fas fa-times-circle text-danger"></span>
        </div>
        <div class="media-end">
          Don’t use a password from any of your other accounts.
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
        <div class="media-start">
          <span class="fas fa-check-circle text-success"></span>
        </div>
        <div class="media-end">
          You must use letters and numbers.
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
        <div class="media-start">
          <span class="fas fa-check-circle text-success"></span>
        </div>
        <div class="media-end">
          Make some letters uppercase, make letters some lowercase.
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media">
        <div class="media-start">
          <span class="fas fa-check-circle text-success"></span>
        </div>
        <div class="media-end">
          Use some of these symbols too: <br><kbd> { [ ( &lt; ! # , $ % ^ @ : \ | / &amp; * - _ +=;&gt; ) ] } </kbd>
        </div>
      </div>
    </li>
  </ul>
</div>
