<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h3 class="form-title">
          <span class="fas fa-user-shield text-primary-10 mr-1 me-1" aria-hidden="true"></span>Create User ID &amp; Password
        </h3>
      </div>
      <div class="col-12">
        <p>We need to get some information to start. We&rsquo;ll ask you to create a User ID, and a Password.</p>
        <p class="small">If there&rsquo;s an asterisk <span class="fas fa-asterisk text-danger mr-1 me-1" aria-hidden="true"></span>we have to get
          that information.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="UserID">
            <span class="fas fa-asterisk text-danger mr-1 me-1" aria-hidden="true"></span>User ID
          </label>
          <input type="text" class="form-control" id="UserID">
          <details class="mt-2">
            <summary class="text-ui-priority">
              <span class="fas fa-lightbulb mr-1 me-1" aria-hidden="true"></span> Want help making a User ID?
            </summary>
            <ul class="list-group mt-2">
              <li class="list-group-item">
                <div class="media">
                  <span class="fas fa-times-circle text-danger mr-2 me-2" aria-hidden="true"></span>
                  <div class="media-body">Don&rsquo;t use any special character twice in a row.</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <span class="fas fa-check-circle text-success mr-2 me-2" aria-hidden="true"></span>
                  <div class="media-body">You can use one of these symbols: <kbd> - @ _</kbd> , but
                    not twice in a row.</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <span class="fas fa-check-circle text-success mr-2 me-2" aria-hidden="true"></span>
                  <div class="media-body">You must use at least one English letter, A–Z or a–z.</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <span class="fas fa-check-circle text-success mr-2 me-2" aria-hidden="true"></span>
                  <div class="media-body">You can use numbers too.</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <span class="fas fa-check-circle text-success mr-2 me-2" aria-hidden="true"></span>
                  <div class="media-body">You must use least 8 characters but fewer than 64.</div>
                </div>
              </li>
            </ul>
          </details>
        </div>
        <div class="form-group">
          <label for="Password">
            <span class="fas fa-asterisk text-danger mr-1 me-1" aria-hidden="true"></span>Password
          </label>
          <input type="password" class="form-control" id="Password">
          {%- include 'markup/form-password-help.njk' -%}
        </div>
        <div class="form-group">
          <label for="PasswordConfirm">
            <span class="fas fa-asterisk text-danger mr-1 me-1" aria-hidden="true"></span>Confirm Password
          </label>
          <input type="password" class="form-control" id="PasswordConfirm">
        </div>
        <button class="btn btn-primary btn-shadow">
          <span class="fas fa-check mr-1 me-1" aria-hidden="true"></span>Create Password
        </button>
      </div>
    </div>
  </div>
</div>
