<div class="hero-boxed-in-photo">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-6 col-lg-5">
        <p class="hero-big-text">Big text.</p>
        <p class="hero-small-text">This is smaller text which explains this block. This is smaller text which explains this block.</p>
        <a href="#" class="btn btn-primary">ButtonText</a>
      </div>
      <div class="col-12 col-md-6 col-lg-7">
        <img class="img-fluid rounded shadow-sm" src="/img/photos/pexels-photo-275030.jpeg" alt="Enter some Alt Text.">
      </div>
    </div>
  </div>
</div>
