<div class="hero-text-color-toned-photo" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-12 col-md-5 col-lg-4">
        <p class="hero-big-text">Big Text.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <p class="hero-small-text">This is smaller text which explains this block. This is smaller text which explains this block.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <a href="/introduction" class="btn btn-outline-accent">Get Started</a>
      </div>
    </div>
  </div>
</div>
