<div class="hero-centered">
  <h2 class="h1">Centered hero</h2>
  <div class="col-lg-6 mx-auto">
    <p class="hero-centered-sentence">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    <div class="hero-centered-buttons ">
      <button type="button" class="btn btn-white">Primary button</button>
      <button type="button" class="btn btn-outline-white">Secondary</button>
    </div>
  </div>
  <div class="hero-centered-image ">
    <div class="container px-5">
      <img src="/img/photos/pexels-photo-275030.jpeg" class="img-fluid  " alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
