<div class="position-relative bg-image-position-center bg-image-size-cover pt-40 pb-10" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');">
  <div class="overlay bg-accent opacity-85 position-absolute" style="top:0;right:0;bottom:0;left:0;"></div>
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-12 col-md-5 col-lg-4">
        <p class="h2 font-weight-bold text-white text-shadow shadow-primary">Big Text.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <p class="text-white text-shadow shadow-primary">This is smaller text which explains this block. This is smaller text which explains this block.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <a href="/introduction" class="btn btn-outline-accent">Get Started</a>
      </div>
    </div>
  </div>
</div>
