<div id="" class="py-40 position-relative bg-image-position-center bg-image-size-cover" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');">
  <div class="position-absolute overlay overlay-left  bg-primary opacity-75"></div>
  <div class="position-absolute overlay overlay-right bg-accent  opacity-75"></div>
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-10 col-md-7 col-lg-6">
        <img src="/img/favicon.png" alt="icon for Pelican, Louisianas Design System." class="img-fluid mb-4" style="width: 128px;">
        <p class="h1 text-white font-weight-bold text-shadow shadow-primary">Pelican</p>
        <p class="h4 text-white text-shadow shadow-primary">Louisiana’s Design System</p>
        <p class="text-white text-shadow shadow-primary">Get started in creating modern, consistent digital products for Louisiana.</p>
      </div>
      <div class="col-10 col-md-7 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <a href="/get-started/" class="btn btn-secondary btn-lg">Get Started<span class="fas fa-arrow-right"></span></a>
      </div>
    </div>
  </div>
</div>
