<div class="bg-white p-4 p-lg-16" id="BoxedInPhotoText">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-6 col-lg-5 mt-8 mt-lg-0">
                <p class="h2 text-primary">Big text.</p>
                <p>This is smaller text which explains this block. This is smaller text which explains this block.</p>
                <a href="#" class="btn btn-primary">ButtonText</a>
            </div>
            <div class="col-12 col-md-6 col-lg-7">
                <img src="/img/photos/pexels-photo-275030.jpeg" alt="Enter some Alt Text.'" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>
