<div class="position-relative d-flex flex-column justify-content-end flex-lg-row bg-image-size-cover position-relative bg-image-position-center py-40" 
    style="background-image:url('/img/photos/pexels-photo-275030.jpeg');">
    <div class="overlay bg-white position-absolute opacity-50" style="top:0; right:0; bottom:0; left: 0;"></div>
    <div class="feature-text-box-over-photo-section bg-primary p-10">
        <h2 class="h2 font-weight-bold text-white">Big text.</h2>
        <p class="text-white">This is smaller text which explains this block. This is smaller text which explains this block.</p>
        <a href="#" class="btn btn-outline-primary shadow-none">ButtonText</a>
    </div>
</div>
