<div class="hero-dual-pane" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');">
  <div class="overlay overlay-left "></div>
  <div class="overlay overlay-right"></div>
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-10 col-md-7 col-lg-6">
      <img src="/img/favicon.png" alt="icon for Pelican, Louisianas Design System." class="logo">
      <p class="hero-big-text">Pelican</p>
      <p class="hero-lead-text">Louisiana’s Design System</p>
      <p class="hero-small-text">Get started in creating modern, consistent digital products for Louisiana.</p>
    </div>
    <div class="col-10 col-md-7 col-lg-6 d-flex flex-column justify-content-center align-items-center">
      <a href="/get-started/" class="btn btn-secondary btn-lg">Get Started<span class="fas fa-arrow-right ml-1" aria-hidden="true"></span></a>
    </div>
    </div>
  </div>
</div>
