<div class="feature">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="feature-section">
          <h2>
            <span class="icon fas fa-cog" aria-hidden="true"></span>
            Heading
          </h2>
          <p>Paragraph of text beneath the heading to explain the heading. We’ll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="feature-section">
          <h2>
            <span class="icon fas fa-cog" aria-hidden="true"></span>
            Heading
          </h2>
          <p>Paragraph of text beneath the heading to explain the heading. We’ll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="feature-section">
          <h2>
            <span class="icon fas fa-cog" aria-hidden="true"></span>
            Heading
          </h2>
          <p>Paragraph of text beneath the heading to explain the heading. We’ll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>