<div id="Section1" class="benefit-icons-text py-16 bg-accent">
  <div class="container-fluid">
    <div class="row justify-content-center justify-content-lg-between align-items-center">
      <div class="col-10 col-lg-5">
        <p class="h2 text-white font-weight-bold text-center text-lg-left">Modern Code.</p>
        <p class="mb-8 mb-lg-0 text-white">Pelican provides ways to make user-friendly and developer-friendly digital products.</p>
      </div>
      <div class="col-10 col-lg-5">
        <div class="display-4">
          <span class="fas fa-fw fa-thumbs-up text-white"></span>
          <span class="fas fa-fw fa-code text-white mx-4"></span>
          <span class="fas fa-fw fa-laptop text-white"></span>
        </div>
      </div>
    </div>
  </div>
</div>
