<div class="form-group">
  <label for="formFile" class="form-label">Upload File</label>
  <input class="form-control" type="file" id="formFile">
  <small>This presents a file-selection UI.</small>
</div>
