<div class="form-group">
  <label for="inputTextBox699">Input URL Label</label>
  <input type="url" class="form-control" id="inputTextBox699">
  <div id="urlHelp" class="form-text">On mobile browsers this presents a URL-optimized UI.</div>
</div>
