<div class="form-group">
  <label for="inputTextBox499">Input Email Label</label>
  <input type="email" class="form-control" id="inputTextBox499">
  <div id="telHelp" class="form-text">On mobile browsers this presents an phone-optimized UI.</div>
</div>
