<div class="mb-3">
    <label for="InputUrl">Input URL Label</label>
    <input type="url" class="form-control" id="InputUrl">
    <div id="urlHelp" class="form-text">This presents a control optimized for this entry.</div>
</div>
