<div
  class="pelican-combobox form-group"
  data-pelican-combobox-options='["Apply for Benefits","Driver Services","Fishing License","Hunting License","Medicaid Information","Office Locations","Professional Licensing","Public Records Request"]'
>
    <label class="pelican-combobox__label"> Find a service </label>
    <div class="pelican-combobox__wrap">
        <input
      class="form-control pelican-combobox__input"
      type="text"
      role="combobox"
      aria-autocomplete="list"
      aria-haspopup="listbox"
      aria-expanded="false"
      autocomplete="off"
/>
        <div
      class="pelican-combobox__status visually-hidden"
      aria-live="polite"
      aria-atomic="true"
    ></div>
        <ul class="pelican-combobox__listbox" role="listbox" hidden></ul>
    </div>
    <small class="pelican-combobox__help form-text">
    Start typing to filter available services. Use arrow keys to navigate
    options.
  </small>
</div>
