<p class="label" id="date-multiple-guidance">Enter Date as Month, Day, Year</p>
<div class="form-row">
  <div class="col-4 col-md-3 col-lg-1">
    <div class="form-group">
      <label for="date-multiple-month">Month</label>
      <input type="text" class="form-control" id="date-multiple-month" name="date-multiple-month" aria-describedby="date-multiple-guidance" maxlength="2" pattern="[0-9]*" inputmode="numeric" value="">
    </div>
  </div>
  <div class="col-4 col-md-3 col-lg-1">
    <div class="form-group">
      <label for="date-multiple-day">Day</label>
      <input type="text" class="form-control" id="date-multiple-day" name="date-multiple-day" aria-describedby="date-multiple-guidance" maxlength="2" pattern="[0-9]*" inputmode="numeric" value="">
    </div>
  </div>
  <div class="col-4 col-md-3 col-lg-1">
    <div class="form-group">
      <label for="date-multiple-year">Year</label>
      <input type="text" class="form-control" id="date-multiple-year" name="date-multiple-year" aria-describedby="date-multiple-guidance" minlength="4" maxlength="4" pattern="[0-9]*" inputmode="numeric" value="">
    </div>
  </div>
</div>
