<div class="mb-3">
    <label for="inputTelephone0399">Telephone Input Tel</label>
    <input type="tel" class="form-control" id="inputTelephone0399">
    <div id="telHelp" class="form-text">This presents a control optimized for this entry.</div>
</div>
