<div class="form-group">
  <label for="staticEmail" class="label form-label">Label</label>
  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
</div>
