<div class="form-group">
  <label for="inputTextBox199">Input Text Label</label>
  <input type="text" class="form-control" id="inputTextBox199">
  <small>This accepts any kind of alphanumeric characters.</small>
</div>
