<div class="form-group">
  <label for="customFile" aria-hidden="true">Select</label>
  <div class="custom-file input-group mb-3">
    <input type="file" class="custom-file-input form-control" id="customFile">
    <label class="custom-file-label input-group-text mb-0" for="customFile">Choose file</label>
  </div>
  <small>This presents a file-selection UI.</small>
</div>
