<div class="form-group">
  <label for="inputEmail499">Input Email Label</label>
  <input type="email" class="form-control" id="inputEmail499">
  <small>On mobile browsers this presents an email-optimized UI.</small>
</div>
