<div class="form-group">
  <label for="inputTextBox599" class="label form-label">Input Search Label</label>
  <input type="search" class="form-control" id="inputTextBox599">
  <small>This presents a search-optimized UI.</small>
</div>
