<div class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-4 col-lg-1">
        <div class="mb-3">
            <label for="date-multiple-month">Month</label>
            <input type="text" class="form-control" id="date-multiple-month" name="date-multiple-month" value="">
        </div>
    </div>
    <div class="col-4 col-lg-1">
        <div class="mb-3">
            <label for="date-multiple-day">Day</label>
            <input type="text" class="form-control" id="date-multiple-day" name="date-multiple-day" value="">
        </div>
    </div>
    <div class="col-4 col-lg-1">
        <div class="mb-3">
            <label for="date-multiple-year">Year</label>
            <input type="text" class="form-control" id="date-multiple-year" name="date-multiple-year" value="">
        </div>
    </div>
</div>
