<div class="form-group">
  <label for="inputTextBox799">Input Number Label</label>
  <input type="number" class="form-control" id="inputTextBox799">
  <small>This presents a numeric-optimized UI.</small>
</div>
