<div class="mb-3">
  <label for="emailInput1">Email address</label>
  <input type="email" class="form-control" id="emailInput1">
  <div id="emailHelp" class="form-text">This presents a control optimized for this entry.</div>
</div>
