<div class="mb-3">
    <label for="inputNumber8327">Input Number Label</label>
    <input type="number" class="form-control" id="inputNumber8327">
    <div id="numberHelp" class="form-text">This presents a control optimized for this entry.</div>
</div>
