<div class="form-group">
  <label for="inputDate299">Input Date Label</label>
  <input type="date" class="form-control" id="inputDate299">
  <small>This tells the browser to present its own optimized date-entry user interface.</small>
</div>
