<div class="form-group">
  <label for="customFile" aria-hidden="true">Select</label>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <small>This presents a file-selection UI.</small>
</div>
