<div class="form-group">
  <label for="inputTelBox399">Input Tel Label</label>
  <input type="tel" class="form-control" id="inputTelBox399">
  <small>On mobile browsers this presents a phone number-optimized UI.</small>
</div>
