<div class="form-group">
    <label for="inputSearch4312">Input Search Label</label>
    <input type="search" class="form-control" id="inputSearch4312">
    <div id="searchHelp" class="form-text">This presents a control optimized for this entry.</div>
</div>
