<div class="mb-3">
  <label for="dateInput35487">Label</label>
  <input class="form-control" type="date" id="dateInput35487" aria-label="date input example">
  <div id="dateHelp" class="form-text">This presents a control optimized for this entry.</div>
</div>
