<div class="p-lg-16 bg-secondary" id="Languages">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-xl-6">
                <p class="h2 font-weight-bold text-primary">Let’s Talk.</p>
                <p class="text-primary">Use AppService in four languages. English, French, Spanish, and Vietnamese are available.</p>
                <p class="small">( More languages are on the way. )</p>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row">
                    <div class="col-6 col-md-12 col-lg-6 mb-4 ">
                        <div class="rounded py-4 bg-white">
                            <p class="mb-0 h4 font-weight-light text-center">Hello!</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6 mb-4 ">
                        <div class="rounded py-4 bg-white">
                            <p class="mb-0 h4 font-weight-light text-center">Bonjour!</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6 mb-4 ">
                        <div class="rounded py-4 bg-white">
                            <p class="mb-0 h4 font-weight-light text-center">Hola!</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6 ">
                        <div class="rounded py-4 bg-white">
                            <p class="mb-0 h4 font-weight-light text-center">Xin chào!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
