<div class="container-fluid">
    <div class="row mb-4">
        <div class="bg-info-10 col-12">
            <div class="bg-info-30 p-6">
                <span>Always 12 Columns</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="bg-info-10 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="bg-info-30 p-6">
                <span class="d-block d-sm-none">XS 12</span>
                <span class="d-none d-sm-block d-md-none">SM 6</span>
                <span class="d-none d-md-block d-lg-none">MD 4</span>
                <span class="d-none d-lg-block d-xl-none">LG 3</span>
                <span class="d-none d-xl-block">XL 2</span>
            </div>
        </div>
        <div class="bg-info-10 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="bg-info-30 p-6">
                <span class="d-block d-sm-none">XS 12</span>
                <span class="d-none d-sm-block d-md-none">SM 6</span>
                <span class="d-none d-md-block d-lg-none">MD 4</span>
                <span class="d-none d-lg-block d-xl-none">LG 3</span>
                <span class="d-none d-xl-block">XL 2</span>
            </div>
        </div>
        <div class="bg-info-10 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="bg-info-30 p-6">
                <span class="d-block d-sm-none">XS 12</span>
                <span class="d-none d-sm-block d-md-none">SM 6</span>
                <span class="d-none d-md-block d-lg-none">MD 4</span>
                <span class="d-none d-lg-block d-xl-none">LG 3</span>
                <span class="d-none d-xl-block">XL 2</span>
            </div>
        </div>
        <div class="bg-info-10 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="bg-info-30 p-6">
                <span class="d-block d-sm-none">XS 12</span>
                <span class="d-none d-sm-block d-md-none">SM 6</span>
                <span class="d-none d-md-block d-lg-none">MD 4</span>
                <span class="d-none d-lg-block d-xl-none">LG 3</span>
                <span class="d-none d-xl-block">XL 2</span>
            </div>
        </div>
        <div class="bg-info-10 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="bg-info-30 p-6">
                <span class="d-block d-sm-none">XS 12</span>
                <span class="d-none d-sm-block d-md-none">SM 6</span>
                <span class="d-none d-md-block d-lg-none">MD 4</span>
                <span class="d-none d-lg-block d-xl-none">LG 3</span>
                <span class="d-none d-xl-block">XL 2</span>
            </div>
        </div>
        <div class="bg-info-10 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="bg-info-30 p-6">
                <span class="d-block d-sm-none">XS 12</span>
                <span class="d-none d-sm-block d-md-none">SM 6</span>
                <span class="d-none d-md-block d-lg-none">MD 4</span>
                <span class="d-none d-lg-block d-xl-none">LG 3</span>
                <span class="d-none d-xl-block">XL 2</span>
            </div>
        </div>
    </div>
</div>
