<ol>
  <li>Define the Problem</li>
  <li>Conduct Research</li>
  <li>Brainstorm and Conceptualize</li>
  <li>Create Prototype</li>
  <li>Build Product</li>
  <li>Product Analysis</li>
  <li>Troubleshooting</li>
</ol>
