<div class="loading-animation-wrapper">
    <div class="loading-animation">
        <div class="loading-animation-content">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
