<div class="p-4 p-lg-16 bg-primary">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="h2 mb-8 mb-lg-0 text-white"><span class="fas fa-lock mb-2"></span><br />Big Text.</h2>
            </div>
            <div class="col-md-6 text-white">
                <div class="mb-2 text-white text-lg-left">
                    <span class="fas fa-shield-alt"></span>
                    <span class="fas fa-user-lock mx-4"></span>
                    <span class="fas fa-id-card"></span>
                </div>
                <p class="mb-0">This is smaller text which explains this block. This is smaller text which explains this block.</p>
            </div>
        </div>
    </div>
</div>
