<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-backdrop="keyboard"  data-bs-target="#modalLarge">Launch Large Modal</button>

<div class="modal fade" id="modalLarge" tabindex="-1" aria-labelledby="modalLargeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLargeLabel">
          <span class="fas fa-bell"></span> Large Modal title
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-ui" data-bs-dismiss="modal">Choice</button>
        <button type="button" class="btn btn-primary">Main Choice</button>
      </div>
    </div>
  </div>
</div>
