<nav class="navbar navbar-minimal">
  <div class="container-fluid">
    <a class="brand-link" href="#">
      <p class="h1 brand-logo mb-0"><span class="sr-only">Site Logo</span>{% include 'logo.njk' %}</p>
    </a>
  </div>
</nav>
