<nav class="navbar navbar-iconic">
  <div class="container-fluid">
    <a href="#">
      <h1 class="brand-logo">{% include 'logo.njk' %}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavigationIcons" aria-controls="NavigationIcons" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars" aria-hidden="true"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="NavigationIcons">
      <ul class="navbar-nav navbar-icon-links">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></span> <span>Dashboard</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><span class="fas fa-fw fa-user-circle" aria-hidden="true"></span> <span>You</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-fw fa-life-ring" aria-hidden="true"></span> <span>Help</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-fw fa-user-times" aria-hidden="true"></span> <span>Sign Out</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
