<nav class="navbar-search-basic">
	<div class="container">
		<div class="row">
			<div class="col-10 col-lg-8">
				<a class="navbar-brand" href="#">
					<img src="/img/Logo.svg" alt="Logo.">
				</a>
			</div>
			<div class="col-2 d-lg-none">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="col-12 col-lg-4">
				<form>
					<div class="input-group">
						<input type="search" class="form-control" aria-describedby="button-addon2">
						<button class="btn btn-ui" type="button" id="button-addon2">
							<span class="fas fa-search"></span>
							<span class="sr-only">Search</span>
						</button>
					  </div>
				</form>
			</div>
		</div>	
	</div>
	<hr class="minor my-2 ">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
                    <a class="nav-link" href="#">  
                        <span>Text link</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">   
                        <span>Text link</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  
                        <span>Text link</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">    
                        <span>Text link</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">   
                        <span>Text link</span>
                    </a>
                </li>
			</ul>
		</div>
	</div>
</nav>
