<nav class="navbar navbar-minimal">
  <div class="container-fluid">
    <a class="brand-link" href="#">
      <div class="brand-logo mb-0">{% include 'logo-example.njk' %}</div>
    </a>
  </div>
</nav>
