<nav class="navbar navbar-minimal">
  <div class="container">
    <a class="brand-link" href="#" aria-label="OTS homepage example">
      <div class="brand-logo mb-0">{% include 'logo-example.njk' %}</div>
    </a>
  </div>
</nav>
