<nav class="navbar navbar-expand-lg bg-primary text-white">
    <div class="container-fluid">
        <a class="brand-link" href="#"><h1 class="brand-logo mb-0 ">{% include 'logo.njk' %}</h1></a>
        <button class="navbar-toggler text-white ml-auto" type="button" data-toggle="collapse" data-target="#NavigationIcons" aria-controls="NavigationIcons" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="NavigationIcons">
            <ul class="navbar-nav navbar-icon-links">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><span class="fas fa-fw fa-tachometer-alt"></span><span class="">Dashboard</span></a>
                    <div class="icon-link-border-bottom bg-secondary"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active" href="#"><span class="fas fa-fw fa-user-circle"></span><span class="">You</span></a>
                    <div class="icon-link-border-bottom bg-secondary"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><span class="fas fa-fw fa-life-ring"></span><span class="">Help</span></a>
                    <div class="icon-link-border-bottom bg-secondary"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><span class="fas fa-fw fa-user-times"></span><span class="">Sign Out</span></a>
                    <div class="icon-link-border-bottom bg-secondary"></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
