<nav class="navbar navbar-iconic">
  <div class="container-fluid">
    <a class="brand-link" href="#">
      <h1 class="brand-logo">{% include 'logo.njk' %}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavigationIcons" aria-controls="NavigationIcons" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars mr-1" aria-hidden="true"></span>Menu
    </button>
    <div class="collapse navbar-collapse" id="NavigationIcons">
      <ul class="navbar-nav navbar-icon-links">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-fw fa-tachometer-alt mr-1" aria-hidden="true"></span><span class="">Dashboard</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><span class="fas fa-fw fa-user-circle mr-1" aria-hidden="true"></span><span class="">You</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-fw fa-life-ring mr-1" aria-hidden="true"></span><span class="">Help</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-fw fa-user-times mr-1" aria-hidden="true"></span><span class="">Sign Out</span></a>
          <div class="icon-link-border-bottom"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
