<details class="official-banner" role="contentinfo">
	<summary class="container list-style-none">
		<div class="row align-items-center">
			<!-- This next column can removed if your digital product doesn’t need to be localized. -->
			<div class="col-lg-5 order-lg-1 text-lg-right">
					<div class="btn-group ml-n2 ml-lg-2" role="group" aria-label="Language Selector Buttons">
							<button type="button" id="Language-Use-English" name="Language-Use-English" class="btn btn-link border-0 bg-transparent shadow-none btn-sm text-white font-weight-bold">English</button>
							<button type="button" id="Language-Use-Espanol" name="Language-Use-Espanol" class="btn btn-link border-0 bg-transparent shadow-none btn-sm text-white">español</button>
							<button type="button" id="Language-Use-Francais" name="Language-Use-Francais" class="btn btn-link border-0 bg-transparent shadow-none btn-sm text-white">français</button>
							<button type="button" id="Language-Use-Vietnamese" name="Language-Use-Vietnamese" class="btn btn-link border-0 bg-transparent shadow-none btn-sm text-white">Tiếng Việt</button>
					</div>
			</div>
			<!-- Keep this column even if you you remove the localization column. -->
			<div class="col-lg-7">
					<div class="media align-items-center">
							<img src="https://isralduke-site-files.s3.amazonaws.com/images/Louisiana-State-Seal.png" alt="Louisiana State Seal." class="img-official">
							<div class="media-body ml-2">
									<p class="mt-lg-1 mb-0">An official Louisiana.gov website.
											<br class="d-block d-md-none">
											<span class="font-weight-bolder text-decoration-underline">How do I know?</span>
									</p>
							</div>
					</div>
			</div>
	</div>
	</summary>
	<div class="container mt-3 mb-1">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-5">
				<div class="media">
					<img src="https://isralduke-site-files.s3.amazonaws.com/images/icon-dot-gov.svg" alt="" class="align-self-start img-official">
					<div class="media-body ml-2">
						<p class=" mb-0"><span class="font-weight-bolder">The .gov means it&rsquo;s official.</span></p>
						<p class=" mb-0">Louisiana government websites often end in .gov. Before sharing sensitive information, make sure you&rsquo;re on a Louisiana government site.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-5 offset-lg-1">
				<div class="media">
					<img src="https://isralduke-site-files.s3.amazonaws.com/images/icon-https.svg" alt="" class="align-self-start img-official">
					<div class="media-body ml-2">
						<p class=" mb-0"><span class="font-weight-bolder">The site is secure. </span></p>
						<p class=" mb-0">The <span class="font-weight-bolder">https://</span> ensures that you are connecting to the official website and that
							any information you provide is encrypted and transmitted securely.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</details>
