<div class="bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <hr class="major mb-16">
            </div>
            <div class="col-10 offset-1">
                <h2 class="text-primary my-0">Big Text</h2>
            </div>
            <div class="col-lg-6">
                <hr class="major mt-16">
            </div>
        </div>
        <div class="row justify-content-around justify-content-lg-around">
            <div class="col-10 col-lg-3 d-flex flex-column">
                <h3 class="mt-8 mt-lg-16">
                    <span class="fas fa-info-circle text-primary-10"></span>
                    Header
                </h3>
                <p>Smaller sentence goes here.</p>
                <a href="#" class="btn btn-primary mt-auto">
                    Learn More
                    <span class="fas fa-arrow-right"></span>
                </a>
            </div>
            <div class="col-10 col-lg-3 d-flex flex-column">
                <h3 class="mt-8 mt-lg-16">
                    <span class="fas fa-info-circle text-primary-10"></span>
                    Header
                </h3>
                <p>Smaller sentence goes here.</p>
                <a href="#" class="btn btn-primary mt-auto">
                    Learn More
                    <span class="fas fa-arrow-right"></span>
                </a>
            </div>
            <div class="col-10 col-lg-3 d-flex flex-column">
                <h3 class="mt-8 mt-lg-16">
                    <span class="fas fa-info-circle text-primary-10"></span>
                    Header
                </h3>
                <p>Smaller sentence goes here.</p>
                <a href="#" class="btn btn-primary mt-auto">
                    Learn More
                    <span class="fas fa-arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <hr class="major mt-8 mt-lg-16">
            </div>
        </div>
    </div>
</div>
