<div class="page-title">
  <div class="container-fluid">
      <div class="d-lg-flex g-2 justify-content-lg-between align-items-center">
        <div class="mb-2">
          <h2 class="page-title-text">
            <span class="icon fas fa-home" aria-hidden="true"></span>
            Page Title
          </h2>	
          <p>Use this sentence to briefly describe the purpose of the page.</p>
        </div>
        <a href="https://google.com" class="btn btn-primary btn-shadow">
          <span class="fas fa-bolt" aria-hidden="true"></span>
          Do This
        </a>
      </div>
  </div>
</div>
