<header class="page-title">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-8 col-lg-9 ">
        <h1>
          <span class="fas fa-tachometer-alt" aria-hidden-"true"></span>
          Page Title
        </h1>
        <p>Page heading message goes here.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3 text-md-end">
        <a href="#" class="btn btn-primary">
          <span class="fas fa-plus"></span>
          Do this
        </a>
      </div>
    </div>
  </div>
</header>
