<div class="row align-items-center">
  <div class="col-12 col-md-3">
    <div class="mb-4 mb-md-0">
      <label for="select2" class="visually-hidden">Select</label>
      <select id="select2" class="form-select" aria-label="Select results per page">
        <option selected>Show 10 per page</option>
        <option value="1">Show 25 per page</option>
        <option value="2">Show 50 per page</option>
        <option value="3">Show All</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <nav aria-label="Table navigation controls">
      <ul class="pagination justify-content-center mb-2 mb-md-0">
        <li class="page-item">
          <a class="page-link" href="#">
            <span class="fas fa-angle-double-left"></span>
            <span class="visually-hidden">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">
            <span class="visually-hidden">Next</span>
            <span class="fas fa-angle-double-right"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-12 col-md-3 text-md-end">
    <div>
      Showing <span class="fw-bold">X</span> of <span class="fw-bold">Y</span> items.
    </div>
  </div>
</div>
