<button type="button" class="btn btn-link btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
  <span class="fas fa-question" aria-hidden="true"></span>
  <span class="visually-hidden">Explain this to me.</span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Right popover">
  <span class="fas fa-question" aria-hidden="true"></span>
  <span class="visually-hidden">Explain this to me.</span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
  <span class="fas fa-question" aria-hidden="true"></span>
  <span class="visually-hidden">Explain this to me.</span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover">
  <span class="fas fa-question" aria-hidden="true"></span>
  <span class="visually-hidden">Explain this to me.</span>
</button>