<button type="button" class="btn btn-ui btn-sm" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="And here's some amazing content. It's very engaging. Right?" title="Popover title">Click to toggle popover</button>

<button type="button" class="btn btn-ui btn-sm" data-toggle="popover" data-placement="right" data-content="And here's some amazing content. It's very engaging. Right?" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="And here's some amazing content. It's very engaging. Right?" title="Popover title">Click to toggle popover</button>

<button type="button" class="btn btn-ui btn-sm" data-toggle="popover" data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="And here's some amazing content. It's very engaging. Right?" title="Popover title">Click to toggle popover</button>

<button type="button" class="btn btn-ui btn-sm" data-toggle="popover" data-placement="left" data-content="And here's some amazing content. It's very engaging. Right?" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="And here's some amazing content. It's very engaging. Right?" title="Popover title">Click to toggle popover</button>
