<div class="progress-steps">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-9 col-md-10">
        <div class="progress-set">
          <div class="progress-current">
            <div class="progress-current-digit">88</div>
          </div>
          <p class="progress-current-text ">
            <small class="progress-current-text-sequence">Step X / X</small>
            <span class="progress-current-text-description">Description of Step</span>
          </p>
        </div>
      </div>
      <div class="col-3 col-md-2 progress-steps-buttons">
        <a href="#" class="btn btn-outline-primary ">
          <span class="fas fa-arrow-left"></span>
        </a>
        <a href="#" class="btn btn-outline-primary">
          <span class="fas fa-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
