<div class="progress-large">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-9 col-md-10">
        <div class="progress-info">
          <div class="progress-step" aria-hidden="true">
            <div class="progress-step-digit">2</div>
          </div>
          <div>
            <span class="progress-description-counter ">Step X of X</span>
            <span class="progress-description">Description of Step</span>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-2 text-right">
        <a href="#" class="btn btn-outline-primary">
          <span class="fas fa-arrow-left" aria-hidden="true"></span>
          <span class="sr-only">Go back one step</span>
        </a>
        <a href="#" class="btn btn-outline-primary">
          <span class="fas fa-arrow-right" aria-hidden="true"></span>
          <span class="sr-only">Go forward one step</span>
        </a>
      </div>
    </div>
  </div>
</div>
