<div class="row">
  <div class="col-12">
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">38%</div>
      <div class="progress-bar progress-bar-striped bg-warning text-black" role="progressbar" style="width: 62%" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">62%</div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0"
        aria-valuemax="100">38%</div>
      <div class="progress-bar progress-bar-striped bg-warning text-black" role="progressbar" style="width: 62%"
        aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">62%</div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0"
        aria-valuemax="100">38%</div>
      <div class="progress-bar progress-bar-striped bg-warning text-black" role="progressbar" style="width: 62%"
        aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">62%</div>
    </div>
  </div>
</div>
