<div class="progress-large">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="progress-step" aria-hidden="true">
          <div class="progress-step-digit">2</div>
        </div>
        <div class="d-flex flex-column">
          <span class="progress-description-counter">Step X of X</span>
          <span class="progress-description">Description of Step</span>
        </div>
      </div>
      <div class="d-grid gap-2 d-sm-flex">
        <a href="#" class="btn btn-outline-primary">
          <span class="fas fa-arrow-left" aria-hidden="true"></span>
          <span class="visually-hidden">Go back one step</span>
        </a>
        <a href="#" class="btn btn-outline-primary">
          <span class="fas fa-arrow-right" aria-hidden="true"></span>
          <span class="visually-hidden">Go forward one step</span>
        </a>
      </div>
    </div>
  </div>
</div>
