## Contributing

No one knows everything, but we’re better when we work together. If you see a problem or have a new solution, please contribute to Pelican by creating a [Pull Request](https://github.com/la-ots/pelican/pullspulls). Contributions to Pelican are welcome! We’ll implement them so all teams can use it. We also need to ensure they comply with [Accessibility](/accessibility/about-accessibility/) considerations.
