<div class="form-group">
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="radioValue1" name="radioChoice" checked>
    <label class="custom-control-label" for="radioValue1">Value 1</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="radioValue2" name="radioChoice">
    <label class="custom-control-label" for="radioValue2">Value 2</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="radioValue3" name="radioChoice" disabled>
    <label class="custom-control-label" for="radioValue3">Value 3</label>
  </div>
</div>
