<div class="form-group">
    <p class="label">Group of Radios</p>
    <!-- This is a fake label -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="radioValue1" name="radioChoice">
        <label class="custom-control-label" for="radioValue1">Value 1</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="radioValue2" name="radioChoice">
        <label class="custom-control-label" for="radioValue2">Value 2</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="radioValue5" name="radioChoice" disabled>
        <label class="custom-control-label" for="radioValue5">Value 5</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="radioValue6" name="radioChoice" disabled checked=checked>
        <label class="custom-control-label" for="radioValue6">Value 6</label>
    </div>
</div>
