<div class="form-group">
  <div class="form-check">
    <input name="radioCollection" class="form-check-input" type="radio" value="" id="radioValue1">
    <label class="form-check-label" for="radioValue1">
      Value 1
    </label>
  </div>
  <div class="form-check">
    <input name="radioCollection" class="form-check-input" type="radio" value="" id="radioValue2">
    <label class="form-check-label" for="radioValue2">
      Value 2
    </label>
  </div>
  <div class="form-check">
    <input name="radioCollection" class="form-check-input" type="radio" value="" id="radioValue3" disabled>
    <label class="form-check-label" for="radioValue3" >
      Value 3
    </label>
  </div>
</div>
