<section class="card">
  <div class="card-body">
    <details class="page-contents" id="toc">
      <summary class="summary">
        <h2 class="h6 d-inline" id="on-this-page">On this page:</h2>
      </summary>
      <nav aria-labelledby="on-this-page">
        <div class="toc">
          <ol>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
            <li>
              <a href="#heading-x">Heading X</a>
            </li>
          </ol>
        </div>
      </nav>
    </details>
  </div>
</section>
