<div class="card">
  <div class="card-body">
    <details id="toc">
      <summary class="summary">On this page:</summary>
      <nav class="toc">
        <ol>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
          <li>
            <a href="#heading-x">Heading X</a>
          </li>
        </ol>
      </nav>
    </details>
  </div>
</div>
