<table class="table table-striped">
  <caption class="sr-only">Table caption describes the data presented.</caption>
  <thead>
    <tr>
      <th scope="col" id="user">
        <a href="#" class="text-decoration-none" role="button">
          <span class="fas fa-sort" aria-hidden="true"></span> Sort Header
          <span class="sr-only">Sort the table by the data of this header</span>
        </a>
      </th>
      <th scope="col" id="role">
        Plain Header
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" id="John">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role John">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Susan">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Susan">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Deborah">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Deborah">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Rick">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Rick">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Kevin">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Kevin">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="José">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role José">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Bob">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Bob">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Jane">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Jane">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Todd">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Todd">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Frank">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="checkboxValue1">
          <label class="custom-control-label" for="checkboxValue1">Data Header</label>
        </div>
      </th>
      <td headers="role Frank">Data Value</td>
    </tr>
  </tbody>
</table>
