<table class="table table-striped">
  <caption class="visually-hidden">Table caption describes the data presented.</caption>
  <thead>
    <tr>
      <th scope="col" id="user">
        <a href="#" class="text-decoration-none" role="button">
          <span class="icon fas fa-sort" aria-hidden="true"></span> Sort Column
          <span class="visually-hidden">Sort the table by the data of this column</span>
        </a>
      </th>
      <th scope="col" id="role">
        Plain Header
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" id="John">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue001">
          <label class="form-check-label" for="checkboxValue001">Data Header</label>
        </div>
      </th>
      <td headers="role John">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Susan">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue002">
          <label class="form-check-label" for="checkboxValue002">Data Header</label>
        </div>
      </th>
      <td headers="role Susan">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Deborah">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue003">
          <label class="form-check-label" for="checkboxValue003">Data Header</label>
        </div>
      </th>
      <td headers="role Deborah">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Rick">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue004">
          <label class="form-check-label" for="checkboxValue004">Data Header</label>
        </div>
      </th>
      <td headers="role Rick">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Kevin">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue005">
          <label class="form-check-label" for="checkboxValue005">Data Header</label>
        </div>
      </th>
      <td headers="role Kevin">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="José">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue006">
          <label class="form-check-label" for="checkboxValue006">Data Header</label>
        </div>
      </th>
      <td headers="role José">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Bob">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue007">
          <label class="form-check-label" for="checkboxValue007">Data Header</label>
        </div>
      </th>
      <td headers="role Bob">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Jane">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue008">
          <label class="form-check-label" for="checkboxValue008">Data Header</label>
        </div>
      </th>
      <td headers="role Jane">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Todd">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue009">
          <label class="form-check-label" for="checkboxValue009">Data Header</label>
        </div>
      </th>
      <td headers="role Todd">Data Value</td>
    </tr>
    <tr>
      <th scope="row" id="Frank">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkboxValue010">
          <label class="form-check-label" for="checkboxValue010">Data Header</label>
        </div>
      </th>
      <td headers="role Frank">Data Value</td>
    </tr>
  </tbody>
</table>
