<div class="share-social">
  <div class="share-social-body">
    <small>Share this with others!</small>
    <a class="btn btn-sm btn-outline-ui-priority" target="_blank" href="#" title="Share this on Facebook">
      <span class="fab fa-facebook-f fa-fw" aria-hidden="true"></span>
      <span class="visually-hidden">Facebook</span>
    </a>
    <a class="btn btn-sm btn-outline-ui-priority" target="_blank" href="#" title="Share this on LinkedIn">
      <span class="fab fa-linkedin-in fa-fw" aria-hidden="true"></span>
      <span class="visually-hidden">LinkedIn</span>
    </a>
    <a class="btn btn-sm btn-outline-ui-priority" target="_blank" href="#" title="Share this on Twitter">
      <span class="fab fa-twitter fa-fw" aria-hidden="true"></span>
      <span class="visually-hidden">Twitter</span>
    </a>
    <a class="btn btn-sm btn-outline-ui-priority" target="_blank" href="#" title="Share this in an Email">
      <span class="fas fa-link fa-fw" aria-hidden="true" aria-hidden="true"></span>
      <span class="visually-hidden">Link</span>
    </a>
  </div>
</div>
