<nav id="sidebar" class="sidebar-wrapper" aria-label="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="#" class="me-auto" tabindex="4">Digital Product Name</a>
    </div>
    <div class="sidebar-menu text-white">
      <ul>
        <!-- this is a parent nav item without a child menu -->
        <li class="sidebar-item">
          <div class="sidebar-dropdown-header">
            <a class="sidebar-nav-item " href="#">
              <span>Nav Item</span>
            </a>
          </div>
        </li>
        <!-- this is a parent nav item with a child menu -->
        <li class="sidebar-item">
          <div class="sidebar-dropdown-header">
            <a class="sidebar-nav-item" href="#">
              <span>Nav Item with Child Items</span>
            </a>
            <button class="sidebar-dropdown-header-expand" aria-controls="ParentItem-01" aria-expanded="false">
              <span class="visually-hidden">Toggle Child Items</span>
              <span class="icon fas fa-fw fa-angle-right" aria-hidden="true"></span>
            </button>
          </div>
          <div class="sidebar-submenu" id="ParentItem-01">
            <ul>
              <li class="sidebar-item active">
                <a class="sidebar-nav-item active" href="#">
                  <span class="icon fas fa-fw fa-eye" aria-hidden="true"></span>
                  <span>Child Nav Item</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-footer"></div>
</nav>
