<div class="spinner-border text-ui-priority" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-ui" role="status">
	<span class="visually-hidden">Loading...</span>
</div>