<div class="spinner-border text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-ui" role="status">
  <span class="sr-only">Loading...</span>
</div>
