<div class="custom-control custom-control-inline custom-switch form-check form-switch">
  <input type="checkbox" class="custom-control-input form-check-input" role="switch" id="customSwitch1" checked="true">
  <label class="custom-control-label form-check-label" for="customSwitch1">Value 1</label>
</div>
<div class="custom-control custom-control-inline custom-switch form-check form-switch">
  <input type="checkbox" class="custom-control-input form-check-input" role="switch" id="customSwitch2">
  <label class="custom-control-label form-check-label" for="customSwitch2">Value 2</label>
</div>
<div class="custom-control custom-control-inline custom-switch form-check form-switch">
  <input type="checkbox" class="custom-control-input form-check-input" role="switch" id="customSwitch3" checked="true" disabled>
  <label class="custom-control-label form-check-label" for="customSwitch3">Value 3</label>
</div>
<div class="custom-control custom-control-inline custom-switch form-check form-switch">
  <input type="checkbox" class="custom-control-input form-check-input" role="switch" id="customSwitch4" disabled>
  <label class="custom-control-label form-check-label" for="customSwitch4">Value 4</label>
</div>
