<div class="form-group">
  <label for="bigSwitch">Big Switch Label</label>
  <div class="custom-control custom-switch custom-switch-large">
    <input type="checkbox" class="custom-control-input" id="bigSwitch">
    <label class="custom-control-label" for="bigSwitch" aria-hidden="true">Big Switch Label</label>
    <span class="custom-switch-text inactive" ariahidden="true">Off</span>
    <span class="custom-switch-text active" ariahidden="true">On</span>
  </div>
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
