<div class="row">
	<div class="col-12 col-md-4">
		<div class="mb-4">
			<label for="exampleFormControlInput1" class="form-label">Filter by Text Input</label>
			<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" aria-describedby="filterTextHelp">
			<div id="filterTextHelp" class="form-text">Filter results by entering appropriate text.</div>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="mb-4">
			<label for="tableFilterSelect" class="form-label">Email address</label>
			<select class="form-select" aria-label="Default select example" id="tableFilterSelect" aria-describedby="filterSelectHelp">
				<option selected>Filter by Select</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			  </select>
			  <div id="filterSelectHelp" class="form-text">Filter results by selecting appropriate option.</div>
		</div>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
	  <tr>
		<th scope="col" id="role">
			<a href="#">
				<span class="fas fa-sort"></span> 
				Role
			</a>
		</th>
		<th scope="col" id="accessLevel">
			<a href="#">
				<span class="fas fa-sort"></span> 
				Access Level
			</a>
		</th>
		<th scope="col" id="userLast">Last</th>
		<th scope="col" id="userFirst">First</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th scope="row" id="userLast-userFirst01">Value</th>
		<td headers="userLast-userFirst01 accessLevel">Value</td>
		<td headers="userLast-userFirst01 userLast">Value</td>
		<td headers="userLast-userFirst01 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst02">Value</th>
		<td headers="userLast-userFirst02 accessLevel">Value</td>
		<td headers="userLast-userFirst02 userLast">Value</td>
		<td headers="userLast-userFirst02 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst03">Value</th>
		<td headers="userLast-userFirst03 accessLevel">Value</td>
		<td headers="userLast-userFirst03 userLast">Value</td>
		<td headers="userLast-userFirst03 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst04">Value</th>
		<td headers="userLast-userFirst04 accessLevel">Value</td>
		<td headers="userLast-userFirst04 userLast">Value</td>
		<td headers="userLast-userFirst04 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst05">Value</th>
		<td headers="userLast-userFirst05 accessLevel">Value</td>
		<td headers="userLast-userFirst05 userLast">Value</td>
		<td headers="userLast-userFirst05 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst06">Value</th>
		<td headers="userLast-userFirst06 accessLevel">Value</td>
		<td headers="userLast-userFirst06 userLast">Value</td>
		<td headers="userLast-userFirst06 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst07">Value</th>
		<td headers="userLast-userFirst07 accessLevel">Value</td>
		<td headers="userLast-userFirst07 userLast">Value</td>
		<td headers="userLast-userFirst07 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst08">Value</th>
		<td headers="userLast-userFirst08 accessLevel">Value</td>
		<td headers="userLast-userFirst08 userLast">Value</td>
		<td headers="userLast-userFirst08 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst09">Value</th>
		<td headers="userLast-userFirst09 accessLevel">Value</td>
		<td headers="userLast-userFirst09 userLast">Value</td>
		<td headers="userLast-userFirst09 userFirst">Value</td>
	  </tr>
	  <tr>
		<th scope="row" id="userLast-userFirst10">Value</th>
		<td headers="userLast-userFirst10 accessLevel">Value</td>
		<td headers="userLast-userFirst10 userLast">Value</td>
		<td headers="userLast-userFirst10 userFirst">Value</td>
	  </tr>
	</tbody>
  </table>
  {% include markup/pagination.njk %}

