<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-01-control" data-bs-toggle="tab" data-bs-target="#tab-01" type="button" role="tab" aria-controls="01" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="tab-02-control" data-bs-toggle="tab" data-bs-target="#tab-02" type="button" role="tab" aria-controls="02" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-03-control" data-bs-toggle="tab" data-bs-target="#tab-03" type="button" role="tab" aria-controls="03" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-04-control" data-bs-toggle="tab" data-bs-target="#tab-04" type="button" role="tab" aria-controls="04" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-05-control" data-bs-toggle="tab" data-bs-target="#tab-05" type="button" role="tab" aria-controls="05" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-06-control" data-bs-toggle="tab" data-bs-target="#tab-06" type="button" role="tab" aria-controls="06" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-07-control" data-bs-toggle="tab" data-bs-target="#tab-07" type="button" role="tab" aria-controls="07" aria-selected="true">Tab</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="tab-08-control" data-bs-toggle="tab" data-bs-target="#tab-08" type="button" role="tab" aria-controls="08" aria-selected="true">Tab</button>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade" id="tab-01" role="tabpanel" aria-labelledby="home-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade show active" id="tab-02" role="tabpanel" aria-labelledby="profile-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade" id="tab-03" role="tabpanel" aria-labelledby="contact-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade" id="tab-04" role="tabpanel" aria-labelledby="home-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade" id="tab-05" role="tabpanel" aria-labelledby="profile-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade" id="tab-06" role="tabpanel" aria-labelledby="contact-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade" id="tab-07" role="tabpanel" aria-labelledby="home-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
	<div class="tab-pane fade" id="tab-08" role="tabpanel" aria-labelledby="profile-tab">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
</div>