<div class="toast toast-info show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <span class="fas fa-info-circle" aria-hidden="true"></span>
    <strong class="mx-1">Hey!</strong> Hey, User, just an FYI.
    <button type="button" class="ml-auto ms-auto mb-1 close btn-close" data-dismiss="toast" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Some text inside the toast body
  </div>
</div>
