<div class="form-group">
  <p class="label">Which will you choose?</p>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="checkbox" value="" id="toggleTokenField01">
    <label class="form-check-label" for="toggleTokenField01">
      <span class="fas fa-square" aria-hidden="true"></span>
      <span class="fas fa-check-square" aria-hidden="true"></span>
      Multi Choice Label
    </label>
  </div>
  <div class="form-check toggle-token ml-4">
    <input class="form-check-input" type="checkbox" value="" id="toggleTokenField02">
    <label class="form-check-label" for="toggleTokenField02">
      <span class="fas fa-square " aria-hidden="true"></span>
      <span class="fas fa-check-square" aria-hidden="true"></span>
      Multi Choice Label
    </label>
  </div>
</div>
