<div class="form-group">
  <p class="label">Which will you choose?</p>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="checkbox" value="" id="toggleTokenField01">
    <label class="form-check-label" for="toggleTokenField01">
      <span class="fas fa-square" aria-hidden="true"></span>
      <span class="fas fa-check-square" aria-hidden="true"></span>
      Multi Choice 1
    </label>
  </div>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="checkbox" value="" id="toggleTokenField02">
    <label class="form-check-label" for="toggleTokenField02">
      <span class="fas fa-square" aria-hidden="true"></span>
      <span class="fas fa-check-square" aria-hidden="true"></span>
      Multi Choice 2
    </label>
  </div>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="checkbox" value="" id="toggleTokenField03" checked disabled>
    <label class="form-check-label" for="toggleTokenField03">
      <span class="fas fa-square" aria-hidden="true"></span>
      <span class="fas fa-check-square" aria-hidden="true"></span>
      Multi Choice 3
    </label>
  </div>
</div>
