<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top for the appropriate, concise content.">
	<span class="fas fa-question"></span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right for the appropriate, concise content.">
	<span class="fas fa-question"></span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom for the appropriate, concise content.">
	<span class="fas fa-question"></span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left for the appropriate, concise content.">
	<span class="fas fa-question"></span>
</button>
