<button type="button" class="btn btn-ui btn-sm" data-toggle="tooltip" data-placement="top" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
  <span class="fas fa-question" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-ui btn-sm" data-toggle="tooltip" data-placement="right" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
  <span class="fas fa-question" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-ui btn-sm" data-toggle="tooltip" data-placement="bottom" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
  <span class="fas fa-question" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-ui btn-sm" data-toggle="tooltip" data-placement="left" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
  <span class="fas fa-question" aria-hidden="true"></span>
</button>
