<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
	<span class="fas fa-question" aria-hidden="true"></span>
	<span class="visually-hidden">Explain this to me.</span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
	<span class="fas fa-question" aria-hidden="true"></span>
	<span class="visually-hidden">Explain this to me.</span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
	<span class="fas fa-question" aria-hidden="true"></span>
	<span class="visually-hidden">Explain this to me.</span>
</button>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
	<span class="fas fa-question" aria-hidden="true"></span>
	<span class="visually-hidden">Explain this to me.</span>
</button>