.sidebar-content {
  height: 100%;
  max-height: unset;
}
.brand-link::after {
  display: none !important;
}
#resources + ul li a {
  text-decoration: none;
}
.pd-color-block {
  height: 160px;
}
/* adding padding-x at larger sizes */
/* this applies only to this site */
@media screen and (min-width: 1200px){
  .container-fluid, .breadcrumb {
    padding-right: 24px;
    padding-left:  24px;
  }
  .wrapper-topbar {
    padding-left:  14px;
    padding-right: 14px;
  }
}
.btns-previous-next {
  margin-top: auto;
}
.content-area p:not(.lead), .content-area li {
  width: 80ch;
}
.content-area li {
  line-height: 1.5;
}
.content-area li:not(:last-child) {
  margin-bottom: .3125rem;
}
