.sidebar-content {
  height: 100%;
  max-height: unset;
}

.pd-color-block {
  height: 160px;
}

/* adding padding-x at larger sizes */
/* this applies only to this site */
@media screen and (min-width: 1200px){
  .container-fluid, .breadcrumb {
    padding-right: 24px;
    padding-left:  24px;
  }
  .site-topbar {
    padding-left:  14px;
    padding-right: 14px;
  }
}
