.sidebar-content {
  height: 100%;
  max-height: unset;
}
.brand-link::after {
  display: none !important;
}
.pd-color-block {
  height: 160px;
}
.btns-previous-next {
  margin-top: auto;
}
.content-area p:not(.lead),
.content-area li,
.content-area li:not(:list-group-item) {
  max-width: 80ch;
}
.content-area li {
  line-height: 1.5;
}
.content-area li:not(:last-child),
.content-area li:not(:list-group-item) {
  margin-bottom: 0.3125rem;
}
.area-page-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: auto;
  position: relative;
  padding-left: 1.375rem;
}
.area-page-link .icon {
  position: absolute;
  left: 0;
  top: 0.1875rem;
  transition: opacity 100ms ease-out;
  opacity: 0.5;
}
.area-page-link:hover {
  text-decoration: underline;
}
.area-page-link:hover .icon {
  opacity: 1;
}

/* adding padding-x at larger sizes */
/* this applies only to this site */
@media screen and (min-width: 1200px) {
  .container-fluid {
    padding-right: 24px;
    padding-left: 24px;
  }
  .wrapper-topbar {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media print {
  .edit-github,
  #sidebar-button {
    display: none !important;
  }
}
