:root {

  /* -------------------------------- */
  /* theme variables  */
  
  /* 1. First enter all palette colors for the categories */
  /* Categories include primary, secondary, accent, success, info, warning, danger, and grays */
  /* palette colors */
  /* primaries  */
  --theme-primary-50    : #f4fcff;
  --theme-primary-100   : #e9f8ff;
  --theme-primary-200   : #d4ecfe;
  --theme-primary-300   : #b4ddf8;
  --theme-primary-400   : #6facdd;
  --theme-primary-500   : #3c7eb3;
  --theme-primary-600   : #245e8c;
  --theme-primary-700   : #104a78;
  --theme-primary-800   : #00284d;
  --theme-primary-900   : #001646;
  /* secondaries  */
  --theme-secondary-50  : #eefffc;
  --theme-secondary-100 : #c5fffa;
  --theme-secondary-200 : #8bfff5;
  --theme-secondary-300 : #4afef0;
  --theme-secondary-400 : #15ece2;
  --theme-secondary-500 : #00d0c9;
  --theme-secondary-600 : #00a8a5;
  --theme-secondary-700 : #008282;
  --theme-secondary-800 : #066769;
  --theme-secondary-900 : #0a5757;
  /* accents  */
  --theme-accent-50     : #fffaea;
  --theme-accent-100    : #fff2c5;
  --theme-accent-200    : #ffe586;
  --theme-accent-300    : #ffd146;
  --theme-accent-400    : #ffbc1c;
  --theme-accent-500    : #fe9903;
  --theme-accent-600    : #e17100;
  --theme-accent-700    : #bb4c02;
  --theme-accent-800    : #973b09;
  --theme-accent-900    : #7c310b;
  /* successes  */
  --theme-success-50    : #e8ffe6;
  --theme-success-100   : #cbffc8;
  --theme-success-200   : #9dfe98;
  --theme-success-300   : #60fa5c;
  --theme-success-400   : #2df02b;
  --theme-success-500   : #0cd60d;
  --theme-success-600   : #05ab09;
  --theme-success-700   : #09820e;
  --theme-success-800   : #0d6211;
  --theme-success-900   : #115616;
  /* infos  */
  --theme-info-50       : #ebf9ff;
  --theme-info-100      : #d1f3ff;
  --theme-info-200      : #aeeaff;
  --theme-info-300      : #76dfff;
  --theme-info-400      : #35cbff;
  --theme-info-500      : #07a8ff;
  --theme-info-600      : #0083ff;
  --theme-info-700      : #006aff;
  --theme-info-800      : #0057d7;
  --theme-info-900      : #004ba1;
  /* warnings  */
  --theme-warning-50    : #ffffea;
  --theme-warning-100   : #fffbc5;
  --theme-warning-200   : #fff885;
  --theme-warning-300   : #ffee46;
  --theme-warning-400   : #ffdf1b;
  --theme-warning-500   : #ffc107;
  --theme-warning-600   : #e29400;
  --theme-warning-700   : #bb6902;
  --theme-warning-800   : #985108;
  --theme-warning-900   : #7c420b;
  /* dangers  */
  --theme-danger-50     : #ffefef;
  --theme-danger-100    : #ffdcdd;
  --theme-danger-200    : #ffbfc0;
  --theme-danger-300    : #ff9294;
  --theme-danger-400    : #ff5457;
  --theme-danger-500    : #ff1f23;
  --theme-danger-600    : #ff0004;
  --theme-danger-700    : #db0004;
  --theme-danger-800    : #b00003;
  --theme-danger-900    : #94080a;
  /* grays  */
  --theme-gray-50       : #f7f8f8;
  --theme-gray-100      : #ebeeef;
  --theme-gray-200      : #d8dddf;
  --theme-gray-300      : #b6c1c3;
  --theme-gray-400      : #8f9fa3;
  --theme-gray-500      : #6e8287;
  --theme-gray-600      : #586a6f;
  --theme-gray-700      : #46585d;
  --theme-gray-800      : #3a4b50;
  --theme-gray-900      : #324348;
  
  /* 2. Assign the semantic colors from a color in the preceeding categories */
  /* semantic colors */
  --theme-primary       : var(--theme-primary-800);
  --theme-secondary     : var(--theme-secondary-700);
  --theme-accent        : var(--theme-accent-500);
  --theme-success       : var(--theme-success-800);
  --theme-info          : var(--theme-info-800);
  --theme-warning       : var(--theme-warning-500);
  --theme-danger        : var(--theme-danger-800);
  --theme-link-color    : var(--theme-info-800);
  --theme-ui            : var(--theme-gray-500);
  --theme-ui-light      : var(--theme-gray-100);
  --theme-ui-priority   : var(--theme-link-color);
  --theme-text-intense  : var(--theme-gray-900);
  --theme-text-normal   : var(--theme-gray-700);
  --theme-text-muted    : var(--theme-gray-600);
  --theme-link-color    : var(--theme-info);
  --theme-body-bg       : var(--theme-gray-50);

  /* badges, chips */
  --theme-badge-chip-primary-bg-color     : var(--theme-primary);
  --theme-badge-chip-primary-text-color   : var(--bs-white);
  --theme-badge-chip-secondary-bg-color   : var(--theme-secondary);
  --theme-badge-chip-secondary-text-color : var(--bs-white);
  --theme-badge-chip-accent-bg-color      : var(--theme-accent);
  --theme-badge-chip-accent-text-color    : var(--bs-black);
  --theme-badge-chip-ui-bg-color          : var(--theme-ui);
  --theme-badge-chip-ui-text-color        : var(--bs-white);
  --theme-badge-chip-info-bg-color        : var(--theme-info);
  --theme-badge-chip-info-text-color      : var(--bs-white);
  --theme-badge-chip-success-bg-color     : var(--theme-success);
  --theme-badge-chip-success-text-color   : var(--bs-white);
  --theme-badge-chip-warning-bg-color     : var(--theme-warning);
  --theme-badge-chip-warning-text-color   : var(--bs-black);
  --theme-badge-chip-danger-bg-color      : var(--theme-danger);
  --theme-badge-chip-danger-text-color    : var(--bs-white);

  /* body */
  --bs-body-bg        : var(--theme-gray-50);

  /* borders */
  --theme-border-color: var(--theme-ui);
  --theme-border-width: .125rem;
  --bs-border-color   : var(--theme-ui);

  /* buttons */
  --theme-button-shadow-color          : var(--theme-ui-light);
  --theme-button-text-dark-color       : var(--bs-black);
  --theme-button-text-light-color      : var(--bs-white);
  --theme-button-container-bg-color    : var(--bs-white);
  --theme-button-container-border-color: var(--theme-gray-300);
  /* button rules are outside of the root element of this document */

  /* cards */
  --theme-card-bg-color       : var(--bs-white);
  --theme-card-nested-bg-color: var(--theme-gray-50);
  --theme-card-border-color   : var(--theme-gray-200);

  /* content-container */
  --theme-content-container-bg-color     : var(--bs-white);
  --theme-content-container-shadow-color : var(--theme-gray-300);
  --theme-content-container-less-bright-bg-color : #fbf9f9;

  /* focus */
  --theme-focus-color : #2491ff;

  /* form validation */
  --theme-form-validation-error-muted-color : var(--theme-danger-200);

  /* feature blocks */
  /* you may need still need to change the classes on buttons */
  --theme-feature-cta-single-bg-color     : var(--bs-white);
  --theme-feature-cta-single-header-color : var(--theme-primary);
  --theme-feature-cta-single-text-color   : var(--theme-primary);
  --theme-feature-cta-double-bg-color     : var(--theme-primary);
  --theme-feature-cta-double-header-color : var(--bs-white);
  --theme-feature-cta-double-text-color   : var(--bs-white);
  --theme-feature-icons-text-bg-color     : var(--theme-secondary);
  --theme-feature-icons-text-header-color : var(--bs-white);
  --theme-feature-icons-text-text-color   : var(--bs-white);
  --theme-feature-langauges-bg-color      : var(--theme-accent);
  --theme-feature-langauges-header-color  : var(--theme-primary);
  --theme-feature-langauges-text-color    : var(--theme-primary);
  --theme-feature-langauges-item-bg-color : var(--bs-white);
  --theme-feature-many-icons-text-bg-color: var(--theme-primary);
  --theme-feature-many-icons-header-color : var(--bs-white);
  --theme-feature-many-icons-text-color   : var(--bs-white);
  --theme-feature-set-bg-color            : var(--bs-white);
  --theme-feature-set-header-color        : var(--theme-primary);
  --theme-feature-set-lead-text-color     : var(--theme-primary);
  --theme-feature-set-small-text-color    : var(--theme-text-normal);
  --theme-feature-set-icon-color          : var(--theme-text-muted);

  /* forms */
  /* forms are not yet fully enabled with CSS Variables */
  --theme-form-border-color       : var(--theme-ui);
  --theme-form-disabled-bg-color  : var(--theme-ui-light);
  --theme-form-input-color        : var(--theme-gray-700);
  --theme-form-input-shadow-color : var(--theme-ui-light);
  --theme-input-btn-focus-color   : var(--theme-focus-color);

  /* footers */
  /* you may need still need to change the classes on buttons */
  --theme-footer-basic-bg-color        : var(--bs-black);
  --theme-footer-basic-link-color      : var(--bs-white);
  --theme-footer-utility-bg-color      : var(--theme-primary);
  --theme-footer-utility-link-color    : var(--theme-accent);
  --theme-footer-utility-divider-color : var(--theme-primary-100);

  /* hero blocks */
  /* you may need still need to change the classes on buttons */
  --theme-hero-dual-pane-bg-color              : var(--theme-primary);
  --theme-hero-dual-pane-overlay-left-bg-color : var(--theme-primary);
  --theme-hero-dual-pane-overlay-right-bg-color: var(--theme-secondary);
  --theme-hero-dual-pane-header-text-color     : var(--bs-white);
  --theme-hero-dual-pane-lead-text-color       : var(--bs-white);
  --theme-hero-dual-pane-small-text-color      : var(--bs-white);
  --theme-hero-single-pane-bg-color            : var(--theme-primary);
  --theme-hero-single-pane-header-text-color   : var(--bs-white);
  --theme-hero-single-pane-small-text-color    : var(--bs-white);
  --theme-hero-boxed-photo-bg-color            : var(--bs-white);
  --theme-hero-boxed-photo-header-text-color   : var(--theme-primary);
  --theme-hero-boxed-photo-small-text-color    : var(--theme-primary);
  --theme-hero-color-toned-bg-color            : var(--theme-secondary);
  --theme-hero-color-toned-overlay-bg-color    : var(--theme-secondary);
  --theme-hero-color-toned-overlay-opacity     : .85;
  --theme-hero-color-toned-header-text-color   : var(--bs-white);
  --theme-hero-color-toned-small-text-color    : var(--bs-white);
  --theme-textbox-over-photo-bg-color          : var(--bs-white);
  --theme-textbox-over-photo-overlay-bg-color  : var(--theme-primary);
  --theme-textbox-over-photo-overlay-opacity   : .5;
  --theme-textbox-over-photo-header-text-color : var(--bs-white);
  --theme-textbox-over-photo-small-text-color  : var(--bs-white);

  /* HR, dividers */
  --theme-divider-bg-color        : var(--theme-gray-200);

  /* modals */
  --theme-modal-dialog-bg-color     : var(--theme-card-bg-color);
  --theme-modal-dialog-border-color : var(--theme-gray-200);
  --theme-modal-dialog-title-color  : var(--theme-primary);
  --theme-modal-backdrop-bg-color   : var(--theme-primary);

  /* navbars */
  --theme-navbar-bg-color                  : var(--theme-primary);
  --theme-navbar-text-color                : var(--bs-white);
  --theme-navbar-text-color-rgb            : 255, 255, 255;
  --theme-navbar-inner-border-color        : var(--theme-primary-700);
  --theme-navbar-inner-border-hover-color  : var(--theme-accent);
  --theme-navbar-form-control-border-color : var(--bs-white);
  --theme-navbar-form-control-text-color   : var(--bs-white);

  /* page header, title */
  /* page header is a legacy component left in here for backwards compatibility */
  --theme-page-header-bg-color      : var(--bs-white);
  --theme-page-title-bg-color       : var(--bs-white);
  --theme-page-title-text-color     : var(--theme-primary);
  --theme-page-title-icon-color     : var(--theme-gray-700);
  --theme-page-title-border-color   : var(--theme-gray-300);

  /* popovers */
  --theme-popover-bg                : var(--bs-white);
  --theme-popover-header-bg-color   : var(--theme-gray-100);
  --theme-popover-header-text-color : var(--bs-black);

  /* text selection color */
  --theme-text-selection-text-color : var(--theme-primary-700);
  --theme-text-selection-bg-color   : var(--theme-primary-200);

  /* sidebar & topbar */
  --theme-topbar-bg-color             : var(--bs-black);
  --theme-topbar-text-color           : var(--bs-white);
  --theme-sidebar-brand-bg-color      : var(--theme-topbar-bg-color);
  --theme-sidebar-wrapper-bg-color    : var(--theme-primary);
  --theme-sidebar-header-border-color : var(--theme-primary-900);
  --theme-sidebar-link-color          : var(--bs-white);
  --theme-sidebar-item-bg-color       : var(--theme-info);
  --theme-sidebar-submenu-bg-color    : var(--theme-primary-900);

  /* skip to main */
  --theme-skip-link-color    : var(--theme-link-color);
  --theme-skip-link-bg-color : var(--bs-white);

  /* tables */
  --theme-table-border-color     : var(--theme-gray-200);

  /* toasts */
  --theme-toast-header-success-bg-color   : var(--theme-success-100);
  --theme-toast-header-success-text-color : var(--theme-success-900);
  --theme-toast-header-info-bg-color      : var(--theme-info-100);
  --theme-toast-header-info-text-color    : var(--theme-info-900);
  --theme-toast-header-warning-bg-color   : var(--theme-warning-100);
  --theme-toast-header-warning-text-color : var(--theme-warning-900);
  --theme-toast-header-danger-bg-color    : var(--theme-danger-100);
  --theme-toast-header-danger-text-color  : var(--theme-danger-900);
  --theme-toast-shadow-color              : var(--theme-gray-200);

  /* toc */
  --theme-toc-link-color       : var(--theme-link-color);
  --theme-toc-link-hover-color : var(--theme-link-color);

  /* tooltips */
  /* do we want to allow tooltips customization? */
  /* they really need to be set apart from the UI */

  /* typography and related colors */
  --theme-small-text-color       : var(--theme-gray-700);
  --theme-blockquote-bg-color    : var(--theme-ui-light);
  --theme-blockquote-order-color : var(--theme-ui);
  --theme-bolded-text-color      : var(--bs-black);
  --theme-table-striped-bg       : var(--theme-gray-50);
  }

/* buttons */
.btn-primary {
  --bs-btn-color                : var(--bs-white);
  --bs-btn-bg                   : var(--theme-primary);
  --bs-btn-border-color         : var(--theme-primary);
  --bs-btn-hover-color          : var(--bs-white);
  --bs-btn-hover-bg             : var(--theme-primary-700);
  --bs-btn-hover-border-color   : var(--theme-primary-700);
  --bs-btn-active-color         : var(--bs-white);
  --bs-btn-active-bg            : var(--theme-primary-800);
  --bs-btn-active-border-color  : var(--theme-primary-800);
  --bs-btn-disabled-color       : var(--bs-white);
  --bs-btn-disabled-bg          : var(--theme-primary-200);
  --bs-btn-disabled-border-color: var(--theme-primary-200);
}
.btn-secondary {
  --bs-btn-color                : var(--bs-white);
  --bs-btn-bg                   : var(--theme-secondary);
  --bs-btn-border-color         : var(--theme-secondary);
  --bs-btn-hover-color          : var(--bs-white);
  --bs-btn-hover-bg             : var(--theme-secondary-600);
  --bs-btn-hover-border-color   : var(--theme-secondary-600);
  --bs-btn-active-color         : var(--bs-white);
  --bs-btn-active-bg            : var(--theme-secondary-800);
  --bs-btn-active-border-color  : var(--theme-secondary-800);
  --bs-btn-disabled-color       : var(--bs-white);
  --bs-btn-disabled-bg          : var(--theme-secondary-200);
  --bs-btn-disabled-border-color: var(--theme-secondary-200);
}
.btn-outline-ui {
  --bs-btn-color                : var(--theme-grays-700);
  --bs-btn-bg                   : var(--bs-white);
  --bs-btn-border-color         : var(--theme-ui);
  --bs-btn-hover-color          : var(--bs-white);
  --bs-btn-hover-bg             : var(--theme-ui);
  --bs-btn-hover-border-color   : var(--theme-ui);
  --bs-btn-active-color         : var(--bs-white);
  --bs-btn-active-bg            : var(--theme-gray-600);
  --bs-btn-active-border-color  : var(--theme-gray-600);
  --bs-btn-disabled-color       : var(--theme-gray-200);
  --bs-btn-disabled-bg          : var(--bs-white);
  --bs-btn-disabled-border-color: var(--theme-gray-200);
}
.btn-link {
  --bs-btn-color                : var(--theme-info);
  --bs-btn-bg                   : var(--bs-white);
  --bs-btn-border-color         : var(--bs-white);
  --bs-btn-hover-color          : var(--theme-info);
  --bs-btn-hover-bg             : var(--theme-info-50);
  --bs-btn-hover-border-color   : var(--theme-info-50);
  --bs-btn-active-color         : var(--theme-info-900);
  --bs-btn-active-bg            : var(--theme-info-100);
  --bs-btn-active-border-color  : var(--theme-info-100);
  --bs-btn-disabled-color       : var(--theme-info-200);
  --bs-btn-disabled-bg          : var(--bs-white);
  --bs-btn-disabled-border-color: var(--bs-white);
}
.btn-warning {
  --bs-btn-color                : var(--bs-black);
  --bs-btn-bg                   : var(--theme-warning);
  --bs-btn-border-color         : var(--theme-warning);
  --bs-btn-hover-color          : var(--bs-black);
  --bs-btn-hover-bg             : var(--theme-warning-400);
  --bs-btn-hover-border-color   : var(--theme-warning-400);
  --bs-btn-active-color         : var(--bs-black);
  --bs-btn-active-bg            : var(--theme-warning-600);
  --bs-btn-active-border-color  : var(--theme-warning-600);
  --bs-btn-disabled-color       : var(--theme-warning-400);
  --bs-btn-disabled-bg          : var(--theme-warning-200);
  --bs-btn-disabled-border-color: var(--theme-warning-200);
}
.btn-danger {
  --bs-btn-color                : var(--bs-white);
  --bs-btn-bg                   : var(--theme-danger);
  --bs-btn-border-color         : var(--theme-danger);
  --bs-btn-hover-color          : var(--bs-white);
  --bs-btn-hover-bg             : var(--theme-danger-700);
  --bs-btn-hover-border-color   : var(--theme-danger-700);
  --bs-btn-active-color         : var(--bs-white);
  --bs-btn-active-bg            : var(--theme-danger-900);
  --bs-btn-active-border-color  : var(--theme-danger-900);
  --bs-btn-disabled-color       : var(--bs-white);
  --bs-btn-disabled-bg          : var(--theme-danger-200);
  --bs-btn-disabled-border-color: var(--theme-danger-200);
}




