- **Don’t omit form labels**.
- Put labels above the field so that the label appears higher up on the page than the field.
- Use a single column form if possible. This is the easiest form reading experience for users.
- Consider [Label Guidance](/form-controls/labels-guidance).
- Refrain from using the placeholder attribute.
- Verify that the appropriate input type is being used, such as using `<input type=”tel”>` for telephone numbers.
- Make `for` and `id` value match.
- Change any IDs for your project’s requirements.
