<div class="d-grid">
  <button type="button" class="btn-add-this">
    <div class="bg-ui">
      <span class="fa fa-plus fa-fw text-white" aria-hidden="true"></span>
      <span class="visually-hidden">Add Another</span>
    </div>
  </button>
</div>
