---
title: Document Page Public
---

{%- extends "../_includes/public-template-layout.njk" -%}

{%- block pageContent -%}
  {% include 'markup/components/breadcrumbs.njk' %}
  {% include 'markup/components/page-title.njk' %}
  {% include 'markup/page-templates/documentation-public.njk' %}
  {% include 'markup/components/buttons-previous-next-page.njk' %}
{%- endblock -%}
