---
title: Document Page Internal
---

{%- extends "../_includes/internal-template-layout.njk" -%}

{%- block pageWithSidebarContent -%}
  {% include 'markup/components/breadcrumbs.njk' %}
  {% include 'markup/components/page-title.njk' %}
  {% include 'markup/page-templates/documentation-internal.njk' %}
  {% include 'markup/components/buttons-previous-next-page.njk' %}
{%- endblock -%}
