---
title: Item Details Page Internal
---

{%- extends "../_includes/internal-template-layout.njk" -%}

{%- block pageWithSidebarContent -%}
  {% include 'markup/page-title.njk' %}
  {% include 'markup/item-details-internal.njk' %}
{%- endblock -%}
