---
title: Item Details Page Internal
---

{%- extends "../_includes/internal-template-layout.njk" -%}

{%- block pageWithSidebarContent -%}
  {% include 'markup/components/page-title.njk' %}
  {% include 'markup/page-templates/item-details-internal.njk' %}
{%- endblock -%}
