.badge {
  @extend .plain-text;
  @extend .container-round;
}
.badge-primary {    
  background-color: $primary;
}
.badge-secondary {
  background-color: $secondary;
}
.badge-accent {
  background-color: $accent;
  color: $black;
}
.badge-info {
  background-color: $info;
}
.badge-success {
  background-color: $success;
}
.badge-danger {
  background-color: $danger;
}
.badge-warning {
  background-color: $warning;
  color: $black;
}
.badge-ui {
  background-color: $ui;
}
.badge-ui-light {
  background-color: $ui-light;
  color: $black;
}
.badge-ui-priority {
  background-color: $ui-priority;
}