.btn {
  @extend .place-relative;
  &:not(.btn-link){
      box-shadow : 0 2px 0 0 fade-out($ui, .38);
  }
}
.btn:disabled, .btn.disabled {
  opacity: .25;
  box-shadow: none;
}
.btn-outline-ui {
  @extend .shadow-none;
  color: $gray-700;
}
.btn-link {
  @extend .shadow-none;
  @extend .bg-transparent;
  @extend .border-0;
  @extend .text-decoration-none;
}
.btn-back-top {
  position: fixed;
  bottom: 50px; right: 50px;
  @include media-breakpoint-up(lg){
      bottom: 100px; right: 100px; 
  }
}
.btn-add-this {
  border:           2px dashed $gray-600;
  background-color: transparent;
  @extend           .btn-add-this-boxModel;
  @extend           .btn-add-this-layout;

  @extend           .btn;
  @extend           .btn-outline-ui;
  
  &-core {
    @extend .btn-add-this-core-boxModel;

    background-color: $ui;
    color: $white;
  }
  &:hover, &:active {
    background-color: fade-out($ui, .75)
  }
}
.btn-container {
  background-color: $white;
  border: 2px solid $border-color;

  @extend .btn-container-boxModel;
  @extend .btn-container-layout;

  &-right {
    @extend .ms-auto;
  }
  .btn {
    flex: 1 1 100%;
    @extend .mb-2;
    @extend .mb-lg-0;
  }
  @include media-breakpoint-up(md){
    .btn {
      flex: 0 1 auto;
      &:not(:last-of-type){
        margin-right: 8px;
      }
    }
  }
}
