.card {
  @extend .place-relative;

  .card-header, .card-footer {
    background-color: $gray-100;
    border-width: $border-width * .5;

    @extend .small;
    @extend .text-muted;
  }
  .card-title {
    @extend .fw-bold;
  }
  .btn-card-edit {
    right: $spacer*.5; top: $spacer*.5;

    @extend .place-relative;
  }
  .content-container & {
    background-color: $gray-100;
    .card-header, .card-footer {
      // background-color: $gray-200;
      border-color: $gray-300;
    }
  }
  .btn-link {
    color: $info;
    transition: none;

    @extend .btn-link-boxModel;
    @extend .btn-link-layout;

    @extend .btn;
    @extend .btn-link;
  }
}
