.footer {
    @extend .lid-boxModel-4;

    a {
      @extend .plain-text;
      &:not(.btn) {
        color: inherit;
      }
    }
    &.footer-basic {
      background-color: $black;
      color: $white;

      @extend .content-center-layout;
      a {
        @extend .fence-boxModel-4;
      }
    }
    &.footer-utility {
      background-color: $primary-800;
      color: $primary-100;

      hr {
        @extend .opacity-20;
      }
    }
}
