<div class="form-group">
  <label for="inputTextBox799">Input Number Label</label>
  <input type="number" class="form-control" id="inputTextBox799">
  <div id="numberHelp" class="form-text">This presents a numeric-optimized UI.</div>
</div>
