<div class="form-group">
  <label for="inputTextBox599">Input Search Label</label>
  <input type="search" class="form-control" id="inputTextBox599">
  <div id="searchHelp" class="form-text">This presents a search-optimized UI.</div>
</div>
