<div class="form-group">
  <p class="label">Which will you choose?</p>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="radio" value="" name="exclusiveChoice01" id="toggleTokenField11" value="option1">
    <label class="form-check-label" for="toggleTokenField11">
      <span class="fas fa-circle" aria-hidden="true"></span>
      <span class="fas fa-dot-circle" aria-hidden="true"></span>
      Exclusive Choice 1
    </label>
  </div>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="radio" value="" name="exclusiveChoice01" id="toggleTokenField12" value="option2">
    <label class="form-check-label" for="toggleTokenField12">
      <span class="fas fa-circle" aria-hidden="true"></span>
      <span class="fas fa-dot-circle" aria-hidden="true"></span>
      Exclusive Choice 2
    </label>
  </div>
  <div class="form-check toggle-token">
    <input class="form-check-input" type="radio" value="" name="exclusiveChoice01" id="toggleTokenField13" value="option3" disabled>
    <label class="form-check-label" for="toggleTokenField13">
      <span class="fas fa-circle" aria-hidden="true"></span>
      <span class="fas fa-dot-circle" aria-hidden="true"></span>
      Exclusive Choice 3
    </label>
  </div>
</div>
