---
layout: site-nav-public
title: Home
---

<div class="content-container text-primary py-0 mb-0">
  <div id="" class="hero-dual-pane" style="background-image: url('/img/photos/pexels-photo-275030.jpeg');">
    <div class="overlay overlay-left "></div>
    <div class="overlay overlay-right bg-secondary"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-md-7 col-lg-6 text-center text-lg-start">
          <img src="/img/favicon.png" alt="icon for Pelican, Louisianas Design System." class="logo">
          <p class="hero-big-text">Pelican</p>
          <p class="hero-lead-text">Louisiana’s Design System</p>
        </div>
        <div
          class="col-10 col-md-7 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center text-lg-start">
          <a href="/get-started/" class="btn btn-accent btn-lg">Get Started<span
              class="opacity-50 fas fa-arrow-right ms-1" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="h2">What’s in Pelican?</h2>
        <p class="lead opacity-75">Pelican is a design system. It has user experience guidance and reusable code patterns for creating easy-to-use, standardized digital products for Louisiana’s people.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card border-0">
          <div class="card-body">
            <h3 class="h3 fw-normal">
              <span class="opacity-50 fas fa-layer-group me-1" aria-hidden="true"></span>Foundation
            </h3>
            <p class="opacity-75">Pelican is built on small parts working together. These parts are explained so all projects can build upon Pelican successfully.</p>
            <div class="d-grid">
              <a href="/foundation/" class="btn btn-accent btn-block shadow-none">
                Learn how it works<span class="opacity-50 fas fa-arrow-right ms-1" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card border-0">
          <div class="card-body">
            <h3 class="h3 fw-normal">
              <span class="opacity-50 fas fa-universal-access me-1" aria-hidden="true"></span>Accessibility
            </h3>
            <p class="opacity-75">Louisiana wants to serve all of its citizens and residents. Anyone should be able to use Louisiana’s digital products to complete their tasks.</p>
            <div class="d-grid">
              <a href="/accessibility/" class="btn btn-accent btn-block shadow-none">
                Build for access<span class="opacity-50 fas fa-arrow-right ms-1" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card border-0">
          <div class="card-body">
            <h3 class="h3 fw-normal">
              <span class="opacity-50 fas fa-puzzle-piece me-1" aria-hidden="true"></span>Components
            </h3>
            <p class="opacity-75">Don’t rebuild every time you need something. Start with common user interface items which solve common problems.</p>
            <div class="d-grid">
              <a href="/components/" class="btn btn-accent btn-block shadow-none">
                Get the code<span class="opacity-50 fas fa-arrow-right ms-1" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12">
        <h2 class="h2">What’s a design system?</h2>
        <p class="lead opacity-75">Design systems provide solutions to common problems digital teams face. They combine UX principles, interface components, and code. Teams work faster, design better, and focus on new problems instead of old ones.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column flex-lg-row p-3 rounded">
          <div class="bg-ui-light opacity-50 d-flex flex-column justify-content-center align-items-center my-0 mx-auto flex-grow-0 flex-shrink-0 rounded-circle h2" style="width:6rem; height:6rem;">
            <span class="fas fa-users" aria-hidden="true"></span>
          </div>
          <div class="my-0 me-0 ms-2">
            <h3 class="h4 fw-normal">Consistent user experiences</h3>
            <p class="opacity-75">Services and products that use the design system feel the same, even when they have their own identity. This puts the focus on what Louisianians need to do.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column flex-lg-row p-3 rounded">
          <div class="bg-ui-light opacity-50 d-flex flex-column justify-content-center align-items-center my-0 mx-auto flex-grow-0 flex-shrink-0 rounded-circle h2" style="width:6rem; height:6rem;">
            <span class="fas fa-comments" aria-hidden="true"></span>
          </div>
          <div class="my-0 me-0 ms-2">
            <h3 class="h4 fw-normal">Shared vocabulary</h3>
            <p class="opacity-75">A common language for components, patterns, and conventions increases collaboration within and across teams.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column flex-lg-row p-3 rounded">
          <div class="bg-ui-light opacity-50 d-flex flex-column justify-content-center align-items-center my-0 mx-auto flex-grow-0 flex-shrink-0 rounded-circle h2" style="width:6rem; height:6rem;">
            <span class="fas fa-code" aria-hidden="true"></span>
          </div>
          <div class="my-0 me-0 ms-2">
            <h3 class="h4 fw-normal">Leverage best practices</h3>
            <p class="opacity-75">Pelican uses tried-and-true best practices and allows other teams to use them. it uses industry standards, academic research, and government regulations.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column flex-lg-row p-3 rounded">
          <div class="bg-ui-light opacity-50 d-flex flex-column justify-content-center align-items-center my-0 mx-auto flex-grow-0 flex-shrink-0 rounded-circle h2" style="width:6rem; height:6rem;">
            <span class="fas fa-chart-bar" aria-hidden="true"></span>
          </div>
          <div class="my-0 me-0 ms-2">
            <h3 class="h4 fw-normal">Effective resource usage</h3>
            <p class="opacity-75">With common problems already solved, designers and developers can speed through the basics, doing more with less time and budget.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-cta feature-cta-home bg-texture-accent">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-6 col-lg-5 offset-lg-1 text-center text-lg-start">
          <p class="feature-big-text text-white">Start using Pelican now.</p>
        </div>
        <div class="col-10 col-md-6 col-lg-5 text-center text-lg-end">
          <a href="/get-started/" class="btn btn-white btn-lg">
            Get started<span class="fas fa-arrow-right ms-1" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
