name: Release and Publish

on:
  release:
    types: [published]

env:
  NODE_VERSION: 24

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies and Build
        run: |
          npm ci
          npm run build-dist
          npm pack

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: pelican-release
          path: "la-ots-pelican-*.tgz"

  publish-npm:
    name: Release to NPM
    needs: build
    runs-on: ubuntu-latest  
    permissions:
      id-token: write
      contents: read
    environment:
      name: NPM
      url: https://www.npmjs.com/package/@la-ots/pelican

    steps:
      - name: Download package
        uses: actions/download-artifact@v7
        with:
          name: pelican-release

      - name: Setup Node ${{ env.NODE_VERSION }} for NPM
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to NPM
        if: '!github.event.release.prerelease'
        run: |
          NODE_AUTH_TOKEN="" npm publish $(ls *.tgz) --access public
          
      - name: Publish to NPM
        if: 'github.event.release.prerelease'
        run: |
          NODE_AUTH_TOKEN="" npm publish $(ls *.tgz) --access public --tag beta        

  publish-gpr:
    name: Release to GitHub Packages
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: GitHub Packages
      url: https://github.com/la-ots/pelican/packages

    steps:
      - name: Download package
        uses: actions/download-artifact@v7
        with:
          name: pelican-release

      - name: Setup Node ${{ env.NODE_VERSION }} for GitHub
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://npm.pkg.github.com'
        
      - name: Publish to GitHub Packages
        run: npm publish $(ls *.tgz)
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
