- The large text should be succinct. 
- The smaller text can be longer, but try to keep it brief. Lengthy text will defeat the purpose of a Hero Block.
- Don’t use more than the number of buttons shown in this Hero Block.
- Do not use a random or decorative image.
